@using ES.Models;
@using ES.Commons;
@using ES.Models.ViewModels;
@model Apply_040001FormModel
@{
    Layout = null;
    ShareCodeListModel sc = new ShareCodeListModel();
}

<h1 class="form-title  title-bg-y">申辦表件填寫</h1>
<div class="form-set">
    <div class="form-group">
        <label class="step-label col-sm-2" for="">申辦項目</label>
        <div class="col-sm-4">
            <p class="form-control-static">衛生福利部訴願案件</p>
        </div>
        <label class="step-label col-sm-2" for="">申辦日期</label>
        <div class="col-sm-4">
            <p class="form-control-static"> @Model.APP_DATE</p>@Html.HiddenFor(m => m.APP_DATE)
        </div>
    </div>
    @*訴願人*@
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.NAME)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.NAME, new { @class = "form-control", @readonly = true })
        </div>
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.BIRTHDAY_STR)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.BIRTHDAY_STR, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.IDN)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.IDN, new { @class = "form-control", @readonly = "readonly" })
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.EMAIL)</label>
        <div class="col-sm-10">
            @Html.EmailForTurbo(m => m.EMAIL, IsReadOnly : true)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.H_TEL)</label>
        <div class="col-sm-10">
            @Html.TelForTurbo(m => m.H_TEL)
            <span>連絡電話、行動電話請擇一填寫</span>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.MOBILE)</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.MOBILE, new { @class = "form-control", MaxLength = 10 })
            <span>連絡電話、行動電話請擇一填寫</span>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.C_ZIPCODE)</label>
        <div class="col-sm-10 form-inline">
            @Html.TextBoxFor(m => m.C_ZIPCODE, new { @id = "C_ZIPCODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.C_ZIPCODE_TEXT, new { @id = "C_ZIPCODE_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="doACC_ADDRSelect('1')"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
            @Html.TextBoxFor(m => m.C_ADDR, new { @class = "form-normal form-50", placeholder = "請輸入地址 ", size = 59, maxlength = "64" })
        </div>
    </div>
    @*代表人*@
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.CHR_NAME)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.CHR_NAME, new { @class = "form-control" })
        </div>
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.CHR_BIRTH_STR)</label>
        <div class="col-sm-4">
            @Html.DatePickerTWFor(m => m.CHR_BIRTH_STR, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.CHR_IDN)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.CHR_IDN, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.CHR_TEL)</label>
        <div class="col-sm-10">
            @Html.TelForTurbo(m => m.CHR_TEL)
            <span>連絡電話、行動電話請擇一填寫</span>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.CHR_MOBILE)</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.CHR_MOBILE, new { @class = "form-control", MaxLength = 10 })
            <span>連絡電話、行動電話請擇一填寫</span>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.CHR_ZIPCODE)</label>
        <div class="col-sm-10 form-inline">
            @Html.TextBoxFor(m => m.CHR_ZIPCODE, new { @id = "CHR_ZIPCODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.CHR_ZIPCODE_TEXT, new { @id = "CHR_ZIPCODE_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="doACC_ADDRSelect('2')"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
            @Html.TextBoxFor(m => m.CHR_ADDR, new { @class = "form-normal form-50", placeholder = "請輸入地址 ", size = 59, maxlength = "64" })
        </div>
    </div>
    @*代理人*@
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_NAME)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.R_NAME, new { @class = "form-control" })
        </div>
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_BIRTH_STR)</label>
        <div class="col-sm-4">
            @Html.DatePickerTWFor(m => m.R_BIRTH_STR, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_IDN)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.R_IDN, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_TEL)</label>
        <div class="col-sm-10">
            @Html.TelForTurbo(m => m.R_TEL)
            <span>連絡電話、行動電話請擇一填寫</span>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_MOBILE)</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.R_MOBILE, new { @class = "form-control", MaxLength = 10 })
            <span>連絡電話、行動電話請擇一填寫</span>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_ZIPCODE)</label>
        <div class="col-sm-10 form-inline">
            @Html.TextBoxFor(m => m.R_ZIPCODE, new { @id = "R_ZIPCODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號" })
            <div class="input-group">
                @Html.TextBoxFor(m => m.R_ZIPCODE_TEXT, new { @id = "R_ZIPCODE_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                <span class="input-group-btn">
                    <button type="button" class="btn btn-info" onclick="doACC_ADDRSelect('3')"><i class="fa fa-search" aria-hidden="true"></i></button>
                </span>
            </div>
            @Html.TextBoxFor(m => m.R_ADDR, new { @class = "form-normal form-50", placeholder = "請輸入地址 ", size = 59, maxlength = "64" })
        </div>
    </div>
    <!--申請說明-->
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.ORG_NAME)</label>
        <div class="col-sm-4">
            @Html.TextBoxFor(m => m.ORG_NAME, new { @maxlength = "60", @class = "form-control" })
        </div>
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.ORG_DATE)</label>
        <div class="col-sm-4">
            @Html.DatePickerTWFor(m => m.ORG_DATE, new { @class = "form-control" })
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2"><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.ORG_MEMO)</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.ORG_MEMO, new { @class = "form-control", @maxlength = "300" })
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2"><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.ORG_FACT)</label>
        <div class="col-sm-10">
            @Html.TextAreaFor(m => m.ORG_FACT, new { @class = "form-control", @maxlength = "300" })
        </div>
    </div>
    <h2 class="second-title"><a href="javascript:void(0)" onclick="doAdd()" class="btn btn-save">新增</a>&nbsp;&nbsp;&nbsp;&nbsp;佐證文件檔案上傳<span style="color:red">(總檔案大小5MB以下，請附上圖檔，例如：WORD、PDF、ODT、JPG、JPEG、BMP、PNG、GIF、TIF)</span></h2>
    @Html.HiddenFor(m => m.IS_MERGE)
    <div id="RowTable">
        <div id="row1" data-group="Row">
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><button type="button" id="btnDelte_1" class="btn btn-clear" onclick="deleteRow($(this))">刪除</button>&nbsp;&nbsp;&nbsp;&nbsp;序號</label>
                <div class="col-sm-1">
                    <p id="SEQ_NO" class="form-control-static">1</p>
                    @Html.HiddenFor(m => m.SRVLIST[0].SEQ_NO)
                </div>
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.SRVLIST[0].FILE_1, new { @id = "FILE_1", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)" })
                    @Html.HiddenFor(m => m.SRVLIST[0].FILE_1_TEXT)
                </div>
            </div>
        </div>
    </div>
    <div class="btn-bar text-center">
        <button type="button" class="btn btn-save" onclick="doPreView()">存檔並預覽</button>
        <button type="reset" class="btn btn-clear" onclick="doReset()">清除資料</button>
    </div>
    <input type="hidden" id="rowCount" value="1" />
    <input type="hidden" id="emptyRow" value="" />
</div>

<script>
    $(document).ready(function () {
        // 訴願人地址
        $('#C_ZIPCODE').on('blur', doACC_ADDRNameGet1); doACC_ADDRNameGet1();
        // 代表人地址
        $('#CHR_ZIPCODE').on('blue', doACC_ADDRNameGet2); doACC_ADDRNameGet2();
        // 代理人地址
        $('#R_ZIPCODE').on('blue', doACC_ADDRNameGet3); doACC_ADDRNameGet3();
        // 動帶檔案上傳
        $('#emptyRow').val($('#row1').html());
        $('#row1 input[name="SRVLIST[0].SEQ_NO"').val('1');
    });

    // 訴願人地址
    function loadDialogACC_ADDRCodeMapName(data) {
        ajaxLoadMore(data.url,
            data.arg,
            function (resp) {
                if (resp === undefined) data.box.val('');
                else {
                    console.log(data);
                    console.log(resp);
                    if (resp.data != '') data.box.val(resp.data);
                    else {
                        data.box.val('');
                        data.add.val('');
                        blockAlert(data.msg);
                    }
                }
            });
    };

    function doACC_ADDRSelect(casetype) {
        var url = '/ZIP_CO';
        var title = '郵遞區號查詢';
        popupWindow({ 'width': 900 },
            url,
            title,
            null,
            function (retData, doc) {
                if (retData != null) {
                    if (casetype == "1") {
                        //訴願人
                        $('#C_ZIPCODE').val(retData.Id);
                        $('#C_ZIPCODE_TEXT').val(retData.Name);
                    } else if (casetype == "2") {
                        //代表人
                        $('#CHR_ZIPCODE').val(retData.Id);
                        $('#CHR_ZIPCODE_TEXT').val(retData.Name);
                    } else if (casetype == "3") {
                        //代理人
                        $('#R_ZIPCODE').val(retData.Id);
                        $('#R_ZIPCODE_TEXT').val(retData.Name);
                    }
                }
            });
    }

    function doACC_ADDRNameGet1() {
        var code = $('#C_ZIPCODE');
        var code_text = $('#C_ZIPCODE_TEXT');
        var data = null;
        data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#C_ZIPCODE_TEXT'),
            'add': $('#C_ZIPCODE')
        };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            loadDialogACC_ADDRCodeMapName(data);
        }
    }

    function doACC_ADDRNameGet2() {
        var code = $('#CHR_ZIPCODE');
        var code_text = $('#CHR_ZIPCODE_TEXT');
        var data = null;
        data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#CHR_ZIPCODE_TEXT'),
            'add': $('#CHR_ZIPCODE')
        };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            loadDialogACC_ADDRCodeMapName(data);
        }
    }

    function doACC_ADDRNameGet3() {
        var code = $('#R_ZIPCODE');
        var code_text = $('#R_ZIPCODE_TEXT');
        var data = null;
        data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#R_ZIPCODE_TEXT'),
            'add': $('#R_ZIPCODE')
        };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            loadDialogACC_ADDRCodeMapName(data);
        }
    }

    //檢核 有誤為 false 正常為true
    function validfile() {
        var err_msg1 = "";
        // 確認上傳檔案
        var FILE_3 = $('#FILE_3').val();

        if (err_msg1 != "") {
            blockAlert(err_msg1, "提示訊息");
            return false;
        }
        return true;
    }


    // 轉至瀏覽
    function doPreView() {
        if (!validfile()) { return; }
        var data = getFormSubmitableFields($("form[id=main_form]"));
        ajaxLoadMore('@Url.Action("Apply")', data, function (retData) {
            if (retData.status) {
                ajaxLoadMore('@Url.Action("PreView")', data, function (getHtml) {
                    $('#form_tab').removeClass('active');
                    $('#form').attr('class', 'tab-pane fade');
                    $('#form_tab1').attr('class', 'active');
                    $('#form1').attr('class', 'tab-pane fade active in');
                    $("#form1").html(getHtml);
                });
            }
            else {
                blockAlert(retData.message, "提示訊息");
            }
        });
        //}
    }

    // 取檔名
    function doGetFileNam(file) {
        var validExts = new Array(".PDF",".JPG",".JPEG",".BMP",".PNG",".GIF",".TIF",".ODT",".DOCX",".DOC");
        var filename = file.files.item(0).name;
        var fileExt = filename.substring(filename.lastIndexOf('.'));

        if (validExts.indexOf(fileExt.toUpperCase()) < 0) {
            blockAlert("檔案類型錯誤，可接受的副檔名有：" + validExts.toString());
            $('input[name="' + file.name + '"]').val(null);
            return false;
        }
        else {
            //$("#" + file.name + "_TEXT").val(file.files.item(0).name);
            $('input[type="hidden"][name="' + file.name + '_TEXT"]').val(file.files.item(0).name);
            return true;
        }
    }

    // 佐證檔案 新增
    function doAdd() {
        var rowCount = parseInt($('#rowCount').val(), 10) + 1;
        console.log(rowCount);
        console.log('<div id=\"row' + rowCount + '\" data-group=\"Row\">' + $('#emptyRow').val().replace(/btnDelte_1/gi, 'btnDelte_' + rowCount).replace(/SRVLIST_0/gi, 'SRVLIST_' + parseInt($('#rowCount').val(), 10)).replace(/SRVLIST\[0\]/gi, 'SRVLIST[' + parseInt($('#rowCount').val(), 10) + ']') + '</div>');
        $('#RowTable').append('<div id=\"row' + rowCount + '\" data-group=\"Row\">' + $('#emptyRow').val().replace(/btnDelte_1/gi, 'btnDelte_' + rowCount).replace(/SRVLIST_0/gi, 'SRVLIST_' + parseInt($('#rowCount').val(), 10)).replace(/SRVLIST\[0\]/gi, 'SRVLIST[' + parseInt($('#rowCount').val(), 10) + ']') + '</div>');
        $('#row' + rowCount + ' #SEQ_NO').text(rowCount);
        $('#row' + rowCount + ' #SEQ_NO').val(rowCount);
        $('#row' + rowCount + ' input[name="SRVLIST[' + (rowCount - 1) + '].SEQ_NO"]').val(rowCount);
        $('#rowCount').val(rowCount);
    }

    // 清除資料
    function doReset() {
        $('#RowTable div[id^="row"]').remove();
        $('#rowCount').val(0);
        addGoodRow();
    }

    // 刪除檔案
    function deleteRow(obj) {
        var rowId = $('#' + $(obj).attr('id')).parent().parent().parent().attr('id');
        var cntrow = 0;
        $('div[id^="row"]').each(function () {
            cntrow++;
        })
        if (cntrow > 1) {
            $('#RowTable #' + rowId).remove();
            var fileSet = $('#RowTable div[id^="row"] input[type="file"]');
            if ($('#RowTable').data('group', 'Row') == null || $('#RowTable').data('group', 'Row') == undefined) {
                $('#rowCount').val(0);
            }
            else {
                var count = 1;
                for (i = 0; i < $('#RowTable div[id^="row"]').length; i++) {
                    $($('#RowTable div[id^="row"]')[i]).attr('id', 'row' + count);
                    $('#' + $($('#RowTable div[id^="row"]')[i]).attr('id') + ' #SEQ_NO').text(count);
                    $($('#RowTable div[id^="row"]')[i]).find('input[type="text"]').each(function () {
                        $(this).attr('name', $(this).attr('name').replace(/SRVLIST_[0-9]/gi, 'SRVLIST_' + i).replace(/SRVLIST\[[0-9]\]/gi, 'SRVLIST[' + i + ']'));
                    })
                    $($('#RowTable div[id^="row"]')[i]).find('input[type="hidden"]').each(function () {
                        $(this).attr('name', $(this).attr('name').replace(/SRVLIST_[0-9]/gi, 'SRVLIST_' + i).replace(/SRVLIST\[[0-9]\]/gi, 'SRVLIST[' + i + ']'));
                    })
                    count++;
                }

                $('#rowCount').val((count - 1));

                count = 0
                var rowCount = 1
                var cnt = 0;
                $(fileSet).each(function () {
                    var newcnt = parseInt(cnt / 5)
                    var pnam = ($(this)[0].name).replace(/SRVLIST\[[0-9]\]/gi, 'SRVLIST[' + newcnt + ']');
                    var tagName = pnam;
                    var tagId = pnam.replace(/SRVLIST\[[0-9]\]./gi, '');
                    $($((fileSet)[cnt])[0]).attr('id', tagId)
                    $($((fileSet)[cnt])[0]).attr('name', tagName)
                    cnt++;
                })

                count = 1;
                var rowCount = 0;
                for (i = 0; i < $('#RowTable div[id^="row"]').length; i++) {
                    var destObjId = $($('#RowTable div[id^="row"]')[i]).attr('id')
                    $('#' + $($('#RowTable div[id^="row"]')[i]).attr('id') + ' input[name^="SRVLIST[' + i + '].SRL_NO"]').val(count);
                    for (j = 0; j < $('#' + destObjId + ' input[type="file"]').length; j++) {
                        var newObj = $(fileSet)[rowCount];
                        $($($($('#' + destObjId + ' input[type="file"]')[j]))[0]).replaceWith($(newObj)[0]);
                        setHiddenFileName($($('#' + destObjId + ' input[type="file"]')[j]).attr('name'));
                        rowCount++
                    }
                    count++;
                }
            }
        }
    }

    function setHiddenFileName(objName) {
        $($('input[name="' + objName + '"]').siblings()[0]).val($('input[name="' + objName + '"]').val().replace(/C:\\fakepath\\/i, ''));
    }
</script>
