@using ES.Utils;
@using ES.Areas.Admin.Models;
@model ES.Areas.Admin.Models.CaseSumModel

<script type="text/javascript">
    $(document).ready(function () {
        $('#Sdate').datepicker({ dateFormat: 'yy/mm/dd', changeYear: true, changeMonth: true, showButtonPanel: true, yearRange: '1900:+0' });
        $('#Fdate').datepicker({ dateFormat: 'yy/mm/dd', changeYear: true, changeMonth: true, showButtonPanel: true, yearRange: '1900:+0' });
        @ViewBag.CallFunc
    });

    function classpage() {
        window.open('@Url.Action("CaseSumReport", "Report")' + '?Sdate=' + $('#Sdate').val() + '&Fdate=' + $('#Fdate').val(), 'quickdata', 'width=640,height=500,left=100,top=100,toolbar=no,menubar=no,resizable=yes,status=no,scrollbars=yes');
    }

</script>
@{
    Layout = "~/Areas/BACKMIN/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "申辦統計";
    ViewBag.FunctionTitle = "申辦統計";
}
@using (Html.BeginForm("CaseSum", "Report", FormMethod.Post, new { id = "ActionForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="bread">
        <i class="fas fa-home"></i>首頁 / 統計分析 / @ViewBag.Title
    </div>
    <div class="col-sm-12 content">
        <h1 class="main-title"><i class="fas fa-edit"></i>@ViewBag.FunctionTitle</h1>
        <div class="form-blue form-horizontal">
            <div class="form-group">
                <label class="main-label col-sm-2" for="">統計區間</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Sdate, new { @class = "form-normal" })&nbsp;&nbsp;至&nbsp;&nbsp;@Html.TextBoxFor(m => m.Fdate, new { @class = "form-normal" })
                    @Html.ValidationMessageFor(m => m.Fdate)
                </div>
            </div>
            <div class="btnbar">
                <input type="submit" id="Button_1" value="申辦統計" class="btn btn-print" />
            </div>
        </div>
    </div>
}
