@model ES.Areas.Admin.Models.UnitModel
@{
    Layout = "~/Areas/BACKMIN/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "單位管理";
    ViewBag.FunctionTitle = "單位管理";

    var isStart = true;
    var nowLevel = 0;

    ViewBag.Script = @"
function doNew(id) {
$('#ActionType').val('N');
$('#UnitCode').val(id);
$('#ActionForm').submit();
}

function doEdit(id) {
$('#ActionType').val('E');
$('#UnitCode').val(id);
$('#ActionForm').submit();
}

function doDelete(id, name) {
if(confirm('確定要刪除['+name+']單位嗎？')) {
$('#ActionType').val('D');
$('#UnitCode').val(id);
$('#ActionForm').submit();
}
}
";
}
<div class="bread">
    <i class="fas fa-home"></i>首頁 / 後台管理 / @ViewBag.FunctionTitle
</div>
<div class="col-sm-12 content">
    <h1 class="main-title"><i class="fas fa-edit"></i>@ViewBag.FunctionTitle</h1>
    <div class="form-blue form-horizontal">
        <div class="btnbar">
            <input type="button" value="新增" onclick="doNew(0)" class="btn btn-save" />
        </div>
        <ul class="ulTreeGrid">
            @foreach (ES.Areas.Admin.Models.UnitModel unit in ViewBag.List)
            {
                if (unit.Level == 2)
                {
                    if (nowLevel == 1)
                    {
                        @Html.Raw("<ul>")
                        nowLevel = 2;
                    }
                    else if (nowLevel == 0)
                    {
                        @Html.Raw("<ul><li><ul>")
                        nowLevel = 2;
                    }
                }
                if (unit.Level == 1)
                {
                    if (nowLevel == 2)
                    {
                        @Html.Raw("</li></ul></li>")
                        nowLevel = 1;
                    }
                    else if (nowLevel == 0)
                    {
                        @Html.Raw("<ul>")
                        nowLevel = 1;
                    }
                }
                if (unit.Level == 0)
                {
                    if (nowLevel == 2)
                    {
                        @Html.Raw("</li></ul></li>")
                        nowLevel = 1;
                    }
                    if (nowLevel == 1)
                    {
                        @Html.Raw("</li></ul></li>")
                        nowLevel = 0;
                    }
                    if (isStart)
                    {
                        isStart = false;
                    }
                    else
                    {
                        @Html.Raw("</li>")
                    }
                }

                @Html.Raw("<li>")@Html.Label(unit.Name)

                @Html.Raw(" <input type=\"button\" class=\"btn btn-save\" value=\"修\" onclick=\"doEdit(" + unit.UnitCode + ")\" />");

                if (!unit.HaveChild)
                {
                    @Html.Raw(" <input type=\"button\" class=\"btn btn-warning\" value=\"刪\" onclick=\"doDelete(" + unit.UnitCode + ", '" + unit.Name + "')\" />");
                }

                if (unit.Level < 2)
                {
                    @Html.Raw(" <input type=\"button\" class=\"btn btn-save\" value=\"增\" onclick=\"doNew(" + unit.UnitCode + ")\" />");
                }
            }
            @Html.Raw("</li>")
        </ul>
    </div>
</div>
@using (Html.BeginForm("Index", "Unit", FormMethod.Post, new { id = "ActionForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(m => m.ActionType)
    @Html.HiddenFor(m => m.UnitCode)
}
