@using ES.Commons
@using ES.Services
@using ES.Models
@using ES.Models.ViewModels
@using ES.Models.Entities
@model ES.Models.GoodsDynamicGrid<Apply_001008_TransViewModel>

@{
    ShareCodeListModel dao = new ShareCodeListModel();
    var IsDisabled = Model.IsReadOnly ? "pointer-events:none;background:#EEEEEE" : "";
}
<div id="GoodsDynamicGird001008Trans">
    <h2 class="second-title">
        @Html.HiddenFor(m => m.IsNewOpen)
        @Html.HiddenFor(m => m.IsReadOnly)
        @Html.HiddenFor(m => m.IsDeleteOpen)
        @Html.HiddenFor(m => m.SourceModelName)

        國內寄送地址(國內外地址請擇一輸入)<span style="color:red">(* 號為必填欄位)</span>

        @if (Model.IsNewOpen && !Model.IsReadOnly)
        {
            <button type="button" class="btn btn-save" id="btnAdd" onclick="addGoodRow@(Model.SourceModelIdFull)()">新增</button>
        }
    </h2>
    <div id="goodsTable" class="table-responsive">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-typeA table">
            <thead>
                <th><span style="color:red" sr-only="必填">＊</span>寄送地址</th>
                <th width="20%"><span style="color:red" sr-only="必填">＊</span>寄送份數</th>
                @if (Model.IsDeleteOpen && !Model.IsReadOnly)
                {
                <th width="10%">刪除</th>
                }
            </thead>
            <tbody>

                @if (Model.GoodsList.ToCount() != 0)
                {
                    for (int i = 0; i < Model.GoodsList.Count; i++)
                    {
                        var item = Model.GoodsList[i];
                        <tr style="border: none;">
                            <td style="border: none;" >
                                <div class="form-inline">
                                    @Html.AddrForTurbo(m => Model.GoodsList[i].TRANS_ZIP, m => Model.GoodsList[i].TRANS_ZIP_ADDR, m=> Model.GoodsList[i].TRANS_ZIP_DETAIL, Model.IsReadOnly, new { @class = "form-control", style = IsDisabled })
                                </div>
                                
                            </td>
                            <td style="border: none;">
                                @Html.TextBoxFor(m => Model.GoodsList[i].TRANS_COPIES, new { @class = "form-control decimal-only", style = IsDisabled })
                            </td>
                            <td style="border: none;">
                                @if (Model.IsDeleteOpen && !Model.IsReadOnly)
                                {

                                    <button type="button" id="btnDelte_1" class="btn btn-clear" onclick="deleteGoodRow@(Model.SourceModelIdFull)(@(i))">
                                        刪除
                                    </button>

                                }
                                else
                                { 
                                    @Html.Raw("&nbsp;")
                                }
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
    
</div>

<script type="text/javascript">
    $(document).ready(function () {
        //限制只能輸入數字
        $('.decimal-only').decimalOnly();

        //列印份數檢核
        $("#GoodsDynamicGird001008Trans").find("input[name*='TRANS_COPIES']").each(function () {
            $(this).on("blur", function () {
                doChkCopies(this, "寄送份數");
            })
        });
    });

    // 新增一列
    function addGoodRow@(Model.SourceModelIdFull)() {
        var url = "@Url.Action("addGoodRow001008Trans", "AJAX",new { area = "" })";
        var parms = getDivDataJson("#GoodsDynamicGird001008Trans");

        var sourceModelNameFull = '@(Model.SourceModelNameFull)';
        var sourceModelIdFull = '@(Model.SourceModelIdFull)';
        var chgName = "";
        var chgId = "";

        ajaxLoadMore(url, parms
        , function (data) {
            $("#GoodsDynamicGird001008Trans").html(data);

            $("#GoodsDynamicGird001008Trans input").each(function (i, obj) {
                chgName = (obj.name.indexOf(sourceModelNameFull) == 0 ? obj.name : sourceModelNameFull + obj.name);
                chgId = (obj.id.indexOf(sourceModelIdFull) == 0 ? obj.id : sourceModelIdFull + obj.id
                    );

                $("#" + obj.id).attr("name", chgName);
                $("#" + obj.id).attr("id", chgId);

                @*$("#" + obj.id).attr("name", '@(Model.SourceModelNameFull)' + obj.name);
                $("#" + obj.id).attr("id", '@(Model.SourceModelIdFull)' + obj.id);*@
            })
            $("#GoodsDynamicGird001008Trans select").each(function (i, obj) {
                chgName = (obj.name.indexOf(sourceModelNameFull) == 0 ? obj.name : sourceModelNameFull + obj.name);
                chgId = (obj.id.indexOf(sourceModelIdFull) == 0 ? obj.id : sourceModelIdFull + obj.id
                    );

                $("#" + obj.id).attr("name", chgName);
                $("#" + obj.id).attr("id", chgId);

                @*$("#" + obj.id).attr("name", '@(Model.SourceModelNameFull)' + obj.name);
                $("#" + obj.id).attr("id", '@(Model.SourceModelIdFull)' + obj.id);*@
            })
            $("#GoodsDynamicGird001008Trans textarea").each(function (i, obj) {
                chgName = (obj.name.indexOf(sourceModelNameFull) == 0 ? obj.name : sourceModelNameFull + obj.name);
                chgId = (obj.id.indexOf(sourceModelIdFull) == 0 ? obj.id : sourceModelIdFull + obj.id
                    );

                $("#" + obj.id).attr("name", chgName);
                $("#" + obj.id).attr("id", chgId);

                @*$("#" + obj.id).attr("name", '@(Model.SourceModelNameFull)' + obj.name);
                $("#" + obj.id).attr("id", '@(Model.SourceModelIdFull)' + obj.id);*@
            })
            $("#GoodsDynamicGird001008Trans div.date").each(function () {
                initDatePicker(this);
            });
            $("#GoodsDynamicGird001008Trans input:radio").each(function (i, obj) {
                chgName = (obj.name.indexOf(sourceModelNameFull) == 0 ? obj.name : sourceModelNameFull + obj.name);
                chgId = (obj.id.indexOf(sourceModelIdFull) == 0 ? obj.id : sourceModelIdFull + obj.id
                    );

                $("input:radio[name='" + obj.name + "']").attr("name", chgName);
                $("input:radio[id='" + obj.id + "']").attr("id", chgId);

                @*$("input:radio[name='" + obj.name + "']").attr("name", '@(Model.SourceModelNameFull)' + obj.name.replaceAll('@(Model.SourceModelNameFull)', ''));
                $("input:radio[id='" + obj.id + "']").attr("id", '@(Model.SourceModelIdFull)' + obj.id);*@
            });

            @*$("#GoodsDynamicGird001008Trans button").each(function (i, obj) {
                $("#" + obj.id).attr("name", '@(Model.SourceModelNameFull)' + obj.name);
                $("#" + obj.id).attr("id", '@(Model.SourceModelIdFull)' + obj.id);
            });*@
        });
    }

    // 刪除此列
    function deleteGoodRow@(Model.SourceModelIdFull)(idx) {
        var url = "@Url.Action("deleteGoodRow001008Trans", "AJAX",new { area = "" })";
        var parms = getDivDataJson("#GoodsDynamicGird001008Trans");
        parms["idx"] = idx;

        var sourceModelNameFull = '@(Model.SourceModelNameFull)';
        var sourceModelIdFull = '@(Model.SourceModelIdFull)';
        var chgName = "";
        var chgId = "";

        ajaxLoadMore(url, parms
         , function (data) {
             $("#GoodsDynamicGird001008Trans").html(data);
             $("#GoodsDynamicGird001008Trans").html(data);

             $("#GoodsDynamicGird001008Trans input").each(function (i, obj) {
                 chgName = (obj.name.indexOf(sourceModelNameFull) == 0 ? obj.name : sourceModelNameFull + obj.name);
                 chgId = (obj.id.indexOf(sourceModelIdFull) == 0 ? obj.id : sourceModelIdFull + obj.id
                     );

                 $("#" + obj.id).attr("name", chgName);
                 $("#" + obj.id).attr("id", chgId);

                 @*$("#" + obj.id).attr("name", '@(Model.SourceModelNameFull)' + obj.name);
                 $("#" + obj.id).attr("id", '@(Model.SourceModelIdFull)' + obj.id);*@
             })
             $("#GoodsDynamicGird001008Trans select").each(function (i, obj) {
                 chgName = (obj.name.indexOf(sourceModelNameFull) == 0 ? obj.name : sourceModelNameFull + obj.name);
                 chgId = (obj.id.indexOf(sourceModelIdFull) == 0 ? obj.id : sourceModelIdFull + obj.id
                     );

                 $("#" + obj.id).attr("name", chgName);
                 $("#" + obj.id).attr("id", chgId);

                 @*$("#" + obj.id).attr("name", '@(Model.SourceModelNameFull)' + obj.name);
                 $("#" + obj.id).attr("id", '@(Model.SourceModelIdFull)' + obj.id);*@
             })
             $("#GoodsDynamicGird001008Trans textarea").each(function (i, obj) {
                 chgName = (obj.name.indexOf(sourceModelNameFull) == 0 ? obj.name : sourceModelNameFull + obj.name);
                 chgId = (obj.id.indexOf(sourceModelIdFull) == 0 ? obj.id : sourceModelIdFull + obj.id
                     );

                 $("#" + obj.id).attr("name", chgName);
                 $("#" + obj.id).attr("id", chgId);

                 @*$("#" + obj.id).attr("name", '@(Model.SourceModelNameFull)' + obj.name);
                 $("#" + obj.id).attr("id", '@(Model.SourceModelIdFull)' + obj.id);*@
             })
             $("#GoodsDynamicGird001008Trans div.date").each(function () {
                 initDatePicker(this);
             });
             $("#GoodsDynamicGird001008Trans input:radio").each(function (i, obj) {
                 chgName = (obj.name.indexOf(sourceModelNameFull) == 0 ? obj.name : sourceModelNameFull + obj.name);
                 chgId = (obj.id.indexOf(sourceModelIdFull) == 0 ? obj.id : sourceModelIdFull + obj.id
                     );

                 $("input:radio[name='" + obj.name + "']").attr("name", chgName);
                 $("input:radio[id='" + obj.id + "']").attr("id", chgId);

                 @*$("input:radio[name='" + obj.name + "']").attr("name", '@(Model.SourceModelNameFull)' + obj.name.replaceAll('@(Model.SourceModelNameFull)', ''));
                 $("input:radio[id='" + obj.id + "']").attr("id", '@(Model.SourceModelIdFull)' + obj.id);*@
             });

             @*$("#GoodsDynamicGird001008Trans button").each(function (i, obj) {
                 $("#" + obj.id).attr("name", '@(Model.SourceModelNameFull)' + obj.name);
                 $("#" + obj.id).attr("id", '@(Model.SourceModelIdFull)' + obj.id);
             });*@

             //重算金額
             //doCountMoney();
         });
    }
</script>

