@using ES.Models;
@using ES.Models.ViewModels
@using ES.Commons;
@model Apply_011003FormModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ShareCodeListModel sc = new ShareCodeListModel();
}

@using (Html.BeginForm("AppDocSave", "Apply_011003", FormMethod.Post, new { id = "main_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.APP_ID)
    @Html.HiddenFor(m => m.MERGEYN)
    @Html.HiddenFor(m => m.FieldStr)
    @Html.HiddenFor(m => m.GRADUATION_TEXT)
    @Html.HiddenFor(m => m.GRADUATION_MONTH_TEXT)
    @Html.HiddenFor(m => m.APPSTATUS)
    <div class="container">
        <div class="col-sm-12">
            <!-- bread  -->
            <div class="breadlink">
                <i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> ／ <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／ <a href="#">社會工作實務經驗年資審查線上申辦</a>
            </div>
            <div class="clearfix"></div>
            @if (Model.APPSTATUS == "1")
            {
                <div class="tab-content" id="myTabContent">
                    <h1 class="form-title  title-bg-y">補件</h1>
                    <div class="form-set">
                        @Html.Raw(Model.MAILBODY)
                    </div>
                </div>
            }
            <div class="tab-content" id="myTabContent">
                <!--ApplyForm-->
                <div id="ApplyForm" class="tab-pane fade active in">
                    <h1 class="form-title  title-bg-y">申辦表件填寫</h1>
                    <div class="form-set">
                        <div class="form-group">
                            <label class="step-label col-sm-2" for="">申辦項目</label>
                            <div class="col-sm-4">
                                <p class="form-control-static">社會工作實務經驗年資審查線上申辦</p>
                            </div>
                            <label class="step-label col-sm-2" for="">申辦日期</label>
                            <div class="col-sm-4">
                                <p class="form-control-static"> @Model.ADD_TIME</p>
                                @Html.HiddenFor(m => m.ADD_TIME)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請種類：依「專門職業及技術人員高等考試社會工作師考試規則」第六條申請部分科目免試</label>
                            <div class="col-sm-10">
                                <label class="radio-inline "><input type="radio" name="ISMEET" value="1" checked onchange="RadioISMEETChange()" disabled>符合第一款(國內社會工作實務經驗五年以上，有中央主管機關審查合格之證明文件。)</label>
                                <label class="radio-inline "><input type="radio" name="ISMEET" value="2" onchange="RadioISMEETChange()" disabled>符合第二款(外國社會工作師證書及國內社會工作實務經驗一年以上，有中央主管機關審查合格之證明文件。)</label>
                                <label class="radio-inline "><input type="radio" name="ISMEET" value="3" onchange="RadioISMEETChange()" disabled>符合第三款(曾任公立或依法立案之私立專科以上學校講師三年以上、助理教授或副教授二年以上、教授一年以上，<br /> &nbsp;&nbsp;講授前條第一項所列學科至少二科，並有國內社會工作實務經驗一年以上，有中央主管機關審查合格之證明文件。)</label>
                                @Html.HiddenFor(m => m.ISMEET)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>姓名</label>
                            <div class="col-sm-10">
                                <p id="SEQ_NO" class="form-control-static">@Model.NAME</p>
                                @Html.HiddenFor(m => m.NAME)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>出生年月日</label>
                            <div class="col-sm-10">
                                <p id="SEQ_NO" class="form-control-static">@Model.BIRTHDAY</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>國民身分證統一編號</label>
                            <div class="col-sm-4">
                                <p id="SEQ_NO" class="form-control-static">@Model.IDN</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>性別</label>
                            <div class="col-sm-4">
                                <label class="radio-inline "><input type="radio" value="M" name="SEX_CD" onchange="RadioSEXChange()" disabled>男</label>
                                <label class="radio-inline "><input type="radio" value="F" name="SEX_CD" onchange="RadioSEXChange()" disabled>女</label>
                                <label class="radio-inline "><input type="radio" value="O" name="SEX_CD" onchange="RadioSEXChange()" disabled>其他</label>
                                @Html.HiddenFor(m => m.SEX_CD)
                            </div>
                        </div>
                        <!--網站電話-->
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>電話(公)</label>
                            <div class="col-sm-10">
                                @Html.TelForTurbo(m => m.TEL)
                                <span>電話與行動電話擇一填寫；電話(公)與電話(宅)擇一填寫</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>電話(宅)</label>
                            <div class="col-sm-10">
                                @Html.TelForTurbo(m => m.FAX)
                                <span>電話與行動電話擇一填寫；電話(公)與電話(宅)擇一填寫</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>行動電話</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.MOBILE, new { @class = "form-normal", maxlength = "11", @readonly = "readonly" })
                                <span>範例：0912-234567</span>
                                <br />
                                <span>電話與行動電話擇一填寫</span>
                            </div>
                        </div>
                        <!--網站地址-->
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>通訊地址(含郵遞區號，請填目前服務單位或可收掛號信件之地址)</label>
                            <div class="col-sm-10 form-inline">
                                @Html.TextBoxFor(m => m.ADDR_CODE, new { @id = "ADDR_CODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號", @readonly = "readonly" })
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.ADDR_TEXT, new { @id = "ADDR_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-info" onclick="doADDRSelect()" disabled><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </span>
                                </div>
                                @Html.TextBoxFor(m => m.ADDR_DETAIL, new { @class = "form-normal", placeholder = "請輸入地址 ", size = 59, maxlength = "64", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>E-MAIL</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.MAIL, new { @class = "form-normal", @readonly = "readonly" })
                                @@
                                @Html.DropDownListFor(m => m.MAIL_0, sc.GetMailDomainList, new { @class = "form-normal", onchange = "doEmailChange()", disabled = "disabled" })
                                @Html.TextBoxFor(m => m.MAIL_1, new { @class = "form-normal", @readonly = "readonly" })
                                @Html.HiddenFor(m => m.MAIL_2)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>學歷證明<br>(擇一勾選)</label>
                            <div class="col-sm-10">
                                <label class="radio-inline "><input type="radio" name="EDUCATION" value="1" onchange="doEDUCATIONChange()" disabled>1.中華民國一百零二年起，經考選部依「<a href="https://wwwc.moex.gov.tw/main/ExamLaws/wfrmExamLaws.aspx?kind=3&menu_id=320&laws_id=88" target="_blank">專技人員社會工作師考試應考資格第五條審議通過並公告名單</a>」所列學校之畢業證書影本</label>
                                <label class="radio-inline "><input type="radio" name="EDUCATION" value="2" onchange="doEDUCATIONChange()" disabled>2.非考選部公告之學校系所(學分證明) (如檢附成績單，請清楚標記15學科(如螢光筆劃記)，以利審查)</label>
                                <label class="radio-inline "><input type="radio" name="EDUCATION" value="3" onchange="doEDUCATIONChange()" disabled>3.經教育部承認之國外專科以上社會工作相關科、系、組、所、學位學程畢業證書影本</label>
                                @Html.HiddenFor(m => m.EDUCATION)
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>學歷-學校名稱<br>(請填全銜)</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.SCHOOL, new { @id = "SCHOOL", @class = "form-control", placeholder = "請輸入學校名稱 ", maxlength = "64", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>學歷-系(組)所名稱</label>
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.OFFICE, new { @id = "OFFICE", @class = "form-control", placeholder = "請輸入系(組)所名稱 ", maxlength = "64", @readonly = "readonly" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>學歷-畢業年月</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.GRADUATION, sc.YEAR_list, new { @class = "form-normal", disabled = "disabled" })

                                <label>年</label>
                                @Html.DropDownListFor(m => m.GRADUATION_MONTH, sc.MONTH_list, new { @class = "form-normal", disabled = "disabled" })

                                <label>月</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="step-label col-sm-2" for="">考試通知書-通知年月</label>
                            <div class="col-sm-10">
                                @Html.DropDownListFor(m => m.NOTICEDAY_YEAR, sc.YEAR_list_Blank, new { @class = "form-normal", disabled = "disabled" })
                                <label>年</label>
                                @Html.DropDownListFor(m => m.NOTICEDAY_MONTH, sc.MONTH_list_Blank, new { @class = "form-normal", disabled = "disabled" })
                                <label>月</label>
                            </div>
                        </div>
                        <h2 class="second-title">服務經歷<span style="color:red">&nbsp;&nbsp;(提醒您檔案總體大小，上傳多項檔案大小總限制為10MB，若檔案總體大小超過限制，請縮小各項檔案尺寸，避免出現違規偵測。)</span></h2>
                        <div id="RowTable">
                            @{
                                var i = 0;
                                foreach (var item in Model.SRVLIST)
                                {
                                    var rowid = "row_" + (i + 1).ToString();
                                    <div id="@rowid" data-group="Row">
                                        <div class="form-group">
                                            <label class="step-label col-sm-2" for="">序號</label>
                                            <div class="col-sm-10">
                                                <p id="SEQ_NO" class="form-control-static">@(i + 1)</p>
                                                @Html.HiddenFor(m => m.SRVLIST[i].SEQ_NO)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>服務經歷-服務單位名稱<br />(請填全銜)</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.SRVLIST[i].SRV_NAM, new { @id = "SRV_NAM", @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>服務經歷-職稱</label>
                                            <div class="col-sm-10">
                                                @Html.TextBoxFor(m => m.SRVLIST[i].SRV_TITLE, new { @id = "SRV_TITLE", @class = "form-control", @readonly = "readonly" })
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>服務經歷-服務年資</label>
                                            <div class="col-sm-10 form-inline">
                                                <div class="col-sm-10">
                                                    <div class="date datepicker-outline input-group" tagid="SRV_SYEAR_TW" disabled>
                                                        <input class="datepickerinput" id="SRV_SYEAR" name="SRVLIST[@i].SRV_SYEAR_AD" type="hidden" value="@item.SRV_SYEAR">
                                                        <input class="form-control" id="SRV_SYEAR_TW" name="SRVLIST[@i].SRV_SYEAR_AD_TW" size="10" type="text" value="@item.SRV_SYEAR_AD" readonly="readonly">
                                                        <span class="input-group-btn"><a class="open-datepicker btn-info btn" role="button"><i class="fa fa-calendar" style="color: white" aria-hidden="true"></i><span class="sr-only">calendar</span></a></span>
                                                    </div>
                                                    <span>&nbsp;至&nbsp;</span>
                                                    <div class="date datepicker-outline input-group" tagid="SRV_EYEAR_TW" disabled>
                                                        <input class="datepickerinput" id="SRV_EYEAR" name="SRVLIST[@i].SRV_EYEAR_AD" type="hidden" value="@item.SRV_EYEAR">
                                                        <input class="form-control" id="SRV_EYEAR_TW" name="SRVLIST[@i].SRV_EYEAR_AD_TW" size="10" type="text" value="@item.SRV_EYEAR_AD" readonly="readonly">
                                                        <span class="input-group-btn"><a class="open-datepicker btn-info btn" role="button"><i class="fa fa-calendar" style="color: white" aria-hidden="true"></i><span class="sr-only">calendar</span></a></span>
                                                    </div>
                                                    <br />
                                                    <span>服務於公立機構之經歷，起迄年月日請與服務證明開立之日期一致；服務於私立機構或團體之經歷，起迄年月日請與勞保投保明細加保及退保日期一致</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>服務證明正本彩色檔</label>
                                            <div class="col-sm-10" id="SRVLIST1">
                                                @if (Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 1).ToList().Count() > 0)
                                                {
                                                    @Html.FileDLForTurbo(x => x.SRVLIST[(i)].FILE_PICRGB_TEXT,
                                                                    Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 1).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                    Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 1).ToList().FirstOrDefault().APP_ID + "," +
                                                                    Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 1).ToList().FirstOrDefault().FILE_NO + "," +
                                                                    Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 1).ToList().FirstOrDefault().SRC_NO + "," + (i + 1).ToString(), "N")
                                                }
                                                @Html.TextBoxFor(m => m.SRVLIST[i].FILE_PICRGB, new { @id = "FILE_PICRGB", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                                @Html.HiddenFor(m => m.SRVLIST[i].FILE_PICRGB_TEXT)
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="step-label col-sm-2" for="">服務單位認可有案證明文件</label>
                                            <div class="col-sm-10" id="SRVLIST2">
                                                @if (Model.SRVLIST[(i)].FILE_SRVPROVE_TEXT != null)
                                                {
                                                    if (Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 2).ToList().Count() > 0)
                                                    {
                                                        @Html.FileDLForTurbo(x => x.SRVLIST[(i)].FILE_SRVPROVE_TEXT,
                                                                     Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 2).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                     Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 2).ToList().FirstOrDefault().APP_ID + "," +
                                                                     Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 2).ToList().FirstOrDefault().FILE_NO + "," +
                                                                     Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 2).ToList().FirstOrDefault().SRC_NO + "," + (i + 1).ToString(), "N")
                                                    }
                                                }
                                                @Html.TextBoxFor(m => m.SRVLIST[i].FILE_SRVPROVE, new { @id = "FILE_SRVPROVE", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                                @Html.HiddenFor(m => m.SRVLIST[i].FILE_SRVPROVE_TEXT)
                                            </div>
                                        </div>
                                        <div class="form-group" id="opt3-1">
                                            <label class="step-label col-sm-2" style="font-weight:bold" for="">勞工保險被保險人投保明細表影本<br />(服務證明為團體或私立機構開具者需附)</label>
                                            <div class="col-sm-10" id="SRVLIST3">
                                                @if (Model.SRVLIST[(i)].FILE_LABOR_TEXT != null)
                                                {
                                                    if (Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 3).ToList().Count() > 0)
                                                    {
                                                        @Html.FileDLForTurbo(x => x.SRVLIST[(i)].FILE_LABOR_TEXT,
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 3).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 3).ToList().FirstOrDefault().APP_ID + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 3).ToList().FirstOrDefault().FILE_NO + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 3).ToList().FirstOrDefault().SRC_NO + "," + (i + 1).ToString(), "N")
                                                    }
                                                }
                                                @Html.TextBoxFor(m => m.SRVLIST[i].FILE_LABOR, new { @id = "FILE_LABOR", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                                @Html.HiddenFor(m => m.SRVLIST[i].FILE_LABOR_TEXT)
                                            </div>
                                        </div>
                                        <div class="form-group" id="opt3-2">
                                            <label class="step-label col-sm-2" style="font-weight:bold" for="">服務單位立案或法人登記證書影本<br />(服務證明為團體或私立機構開具者需附)</label>
                                            <div class="col-sm-10" id="SRVLIST4">
                                                <span>特殊需求:</span>
                                                @Html.CheckBoxFor(m => m.SRVLIST[i].SRVLST_DEMAND_1, new { disabled = "disabled" })是
                                                @if (Model.SRVLIST[i].SRVLST_DEMAND_1)
                                                {
                                                    @Html.TextBoxFor(m => m.SRVLIST[i].SRVLST_DEMAND_1_TEXT, new { @id = "SRVLST_DEMAND_1_TEXT", @class = "form-control", placeholder = "請輸入特殊需求，最多輸入 100 個字元", maxlength = "100", @readonly = "readonly" })
                                                }
                                                @if (Model.SRVLIST[(i)].FILE_LEGAL_TEXT != null)
                                                {
                                                    if (Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 4).ToList().Count() > 0)
                                                    {
                                                        @Html.FileDLForTurbo(x => x.SRVLIST[(i)].FILE_LEGAL_TEXT,
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 4).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 4).ToList().FirstOrDefault().APP_ID + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 4).ToList().FirstOrDefault().FILE_NO + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 4).ToList().FirstOrDefault().SRC_NO + "," + (i + 1).ToString(), "N")
                                                    }
                                                }

                                                @Html.TextBoxFor(m => m.SRVLIST[i].FILE_LEGAL, new { @id = "FILE_LEGAL", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                                @Html.HiddenFor(m => m.SRVLIST[i].FILE_LEGAL_TEXT)
                                            </div>
                                        </div>
                                        <div class="form-group" id="opt3-3">
                                            <label class="step-label col-sm-2" style="font-weight:bold" for="">服務單位章程影本<br />(服務證明為團體或私立機構開具者需附)</label>
                                            <div class="col-sm-10" id="SRVLIST5">
                                                <span>特殊需求:</span>
                                                @Html.CheckBoxFor(m => m.SRVLIST[i].SRVLST_DEMAND_2, new { disabled = "disabled" })是
                                                @if (Model.SRVLIST[i].SRVLST_DEMAND_2)
                                                {
                                                    @Html.TextBoxFor(m => m.SRVLIST[i].SRVLST_DEMAND_2_TEXT, new { @id = "SRVLST_DEMAND_2_TEXT", @class = "form-control", placeholder = "請輸入特殊需求，最多輸入 100 個字元", maxlength = "100", @readonly = "readonly" })

                                                }
                                                @if (Model.SRVLIST[(i)].FILE_CHARTER_TEXT != null)
                                                {
                                                    if (Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 5).ToList().Count() > 0)
                                                    {
                                                        @Html.FileDLForTurbo(x => x.SRVLIST[(i)].FILE_CHARTER_TEXT,
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 5).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 5).ToList().FirstOrDefault().APP_ID + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 5).ToList().FirstOrDefault().FILE_NO + "," +
                                                                 Model.FILE.Where(x => x.BATCH_INDEX == (i + 1) && x.SRC_NO == 5).ToList().FirstOrDefault().SRC_NO + "," + (i + 1).ToString(), "N")

                                                    }
                                                }
                                                @Html.TextBoxFor(m => m.SRVLIST[i].FILE_CHARTER, new { @id = "FILE_CHARTER", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                                @Html.HiddenFor(m => m.SRVLIST[i].FILE_CHARTER_TEXT)
                                            </div>
                                        </div>
                                    </div>
                                    i++;
                                }

                            }
                        </div>
                        <h2 class="second-title">佐證文件檔案上傳<span style="color:red">&nbsp;&nbsp;(提醒您檔案總體大小，上傳多項檔案大小總限制為10MB，若檔案總體大小超過限制，請縮小各項檔案尺寸，避免出現違規偵測。)</span></h2>
                        <!--網站 佐證文件採合併檔案-->
                        <div id="main_file">
                            <div class="form-group">
                                <label class="step-label col-sm-2" for="">佐證文件採合併檔案</label>
                                <div class="col-sm-10">
                                    <label class="radio-inline "><input type="radio" name="MERGEYN" value="Y" onchange="RadioChange()" disabled>是</label>
                                    <label class="radio-inline "><input type="radio" name="MERGEYN" value="N" checked onchange="RadioChange()" disabled>否</label>
                                    <br />
                                    若您是將檔案掃描後，於同一份文件內上傳，請選擇佐證文件採合併檔案"是"，檔案分開上傳請選擇"否"
                                </div>
                            </div>

                            <div class="form-group" id="FILE_1">
                                <label class="step-label col-sm-2" for="">國民身分證正面影本</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 1).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_FIDC_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 1 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 1 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 1 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 1 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_FIDC, new { @id = "FILE_FIDC", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_FIDC_TEXT)
                                </div>
                            </div>
                            <div class="form-group" id="FILE_2">
                                <label class="step-label col-sm-2" for="">國民身分證背面影本</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 2).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_BIDC_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 2 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 2 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 2 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 2 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_BIDC, new { @id = "FILE_BIDC", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_BIDC_TEXT)
                                </div>
                            </div>
                            <div class="form-group" id="FILE_3">
                                <label class="step-label col-sm-2" for="">最近一年內半身脫帽照片一張</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 3).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_PIC_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 3 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 3 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 3 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 3 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_PIC, new { @id = "FILE_PIC", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_PIC_TEXT)
                                </div>
                            </div>
                            <div class="form-group EDUCATION_SEQ_1" style="display:none;" id="FILE_4">
                                <label class="step-label col-sm-2" for="">中華民國一百零二年起，經考選部依「專技人員社會工作師考試應考資格第五條審議通過並公告名單」所列學校之畢業證書影本</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 4).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_GRAD_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 4 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 4 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 4 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 4 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_GRAD, new { @id = "FILE_GRAD", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_GRAD_TEXT)
                                </div>
                            </div>
                            <div class="form-group EDUCATION_SEQ_2" style="display:none;" id="FILE_5">
                                <label class="step-label col-sm-2" for="">非考選部公告之學校系所(報考專門職業及技術人員高等考試社會工作師考試之考試通知書影本)</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 5).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_NOTI_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 5 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 5 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 5 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 5 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_NOTI, new { @id = "FILE_NOTI", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_NOTI_TEXT)
                                </div>
                            </div>
                            <div class="form-group EDUCATION_SEQ_22" style="display:none;" id="FILE_12">
                                <label class="step-label col-sm-2" for="">非考選部公告之學校系所(畢業證書影本)</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 12).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_NOTI2_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 12 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 12 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 12 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 12 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_NOTI2, new { @id = "FILE_NOTI2", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_NOTI2_TEXT)
                                </div>
                            </div>
                            <div class="form-group EDUCATION_SEQ_23" style="display:none;" id="FILE_13">
                                <label class="step-label col-sm-2" for="">非考選部公告之學校系所(學分證明) (如檢附成績單，請清楚標記15學科(如螢光筆劃記)，以利審查)</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 13).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_NOTI3_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 13 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 13 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 13 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 13 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_NOTI3, new { @id = "FILE_NOTI3", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_NOTI3_TEXT)
                                </div>
                            </div>
                            <div class="form-group EDUCATION_SEQ_24" style="display:none;" id="FILE_14">
                                <label class="step-label col-sm-2" for="">非考選部公告之學校系所(實習證明)</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 14).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_NOTI4_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 14 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 14 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 14 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 14 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_NOTI4, new { @id = "FILE_NOTI4", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_NOTI4_TEXT)
                                </div>
                            </div>
                            <div class="form-group EDUCATION_SEQ_3" style="display:none;" id="FILE_6">
                                <label class="step-label col-sm-2" for="">經教育部承認之國外專科以上社會工作相關科、系、組、所、學位學程畢業證書影本</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 6).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_GRADOFF_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 6 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 6 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 6 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 6 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_GRADOFF, new { @id = "FILE_GRADOFF", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_GRADOFF_TEXT)
                                </div>
                            </div>
                            <div class="form-group" id="FILE_7">
                                <label class="step-label col-sm-2" for="">國外社會工作師資格證明文件</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 7).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_FONSRV_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 7 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 7 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 7 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 7 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_FONSRV, new { @id = "FILE_FONSRV", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_FONSRV_TEXT)
                                </div>
                            </div>
                            <div class="form-group" id="FILE_8">
                                <label class="step-label col-sm-2" for="">公立或立案之私立專科以上學校教學之證明文件</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 8).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_SCHOOL_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 8 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 8 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 8 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 8 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_SCHOOL, new { @id = "FILE_SCHOOL", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_SCHOOL_TEXT)
                                </div>
                            </div>
                            <div class="form-group" id="FILE_9">
                                <label class="step-label col-sm-2" for="">戶籍謄本或戶口名簿<br />(改過姓名者需附)</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 9).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_DOMICILE_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 9 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 9 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 9 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 9 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_DOMICILE, new { @id = "FILE_DOMICILE", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_DOMICILE_TEXT)
                                </div>
                            </div>
                            <div class="form-group" id="FILE_10">
                                <label class="step-label col-sm-2" for="">其他附件(申請人自行列舉)</label>
                                <div class="col-sm-10">
                                    @{
                                        if (Model.FILE.Where(x => x.SRC_NO == 0 && x.FILE_NO == 10).ToList().Count > 0)
                                        {
                                            @Html.FileDLForTurbo(m => m.FILE_OTHER_TEXT,
                                                                Model.FILE.Where(x => x.FILE_NO == 10 && x.SRC_NO == 0).ToList().FirstOrDefault().FILENAME.Split('\\')[3].ToString() + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 10 && x.SRC_NO == 0).ToList().FirstOrDefault().APP_ID + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 10 && x.SRC_NO == 0).ToList().FirstOrDefault().FILE_NO + "," +
                                                                Model.FILE.Where(x => x.FILE_NO == 10 && x.SRC_NO == 0).ToList().FirstOrDefault().SRC_NO, "N")
                                        }
                                    }
                                    @Html.TextBoxFor(m => m.FILE_OTHER, new { @id = "FILE_OTHER", @class = "form-control", placeholder = "", type = "file", onchange = "doGetFileNam(this)", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.FILE_OTHER_TEXT)
                                </div>
                            </div>
                            <div class="btn-bar text-center">
                                @if (Model.APPSTATUS == "1")
                                {
                                    <button type="button" class="btn btn-save" onclick="doSave()">存檔</button>
                                }
                                <button type="button" class="btn btn-clear" onclick="doBack()">返回</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="clearfix"></div>


    </div>
}

<script>

    $(document).ready(function () {
        $('#TEL_Zip').attr("readonly", "readonly");
        $('#TEL_Phone').attr("readonly", "readonly");
        $('#TEL_Num').attr("readonly", "readonly");
        $('#FAX_Zip').attr("readonly", "readonly");
        $('#FAX_Phone').attr("readonly", "readonly");
        $('#FAX_Num').attr("readonly", "readonly");
        $('select[name="GRADUATION"]').val($("#GRADUATION_TEXT").val())
        $('select[name="GRADUATION_MONTH"]').val($("#GRADUATION_MONTH_TEXT").val())
        $('select[name="MAIL_0"]').val($("#MAIL_2").val())
        $('#ADDR_CODE').on('blur', doADDRNameGet); doADDRNameGet();

        var YN = $("#MERGEYN").val();
        $("input[name=MERGEYN][value='" + YN + "']").attr('checked', true);

        $("input[name=ISMEET][value='" + $("#ISMEET").val() + "']").attr('checked', true);

        $("input[name=SEX_CD][value='" + $("#SEX_CD").val() + "']").attr('checked', true);

        $("input[name=EDUCATION][value='" + $("#EDUCATION").val() + "']").attr('checked', true);
        doEDUCATIONChange();
        RadioISMEETChange()
        // 取得補件欄位字串
        var FieldStr = $('#FieldStr').val();
        console.log(FieldStr);
        if ($('#APPSTATUS').val() == "1") {
            if (FieldStr != "" || FieldStr != undefined) {
                var FieldLst = FieldStr.split(',');
                FieldLst.forEach(function (i) {
                    if (i.substring(0, 7) == "SRVLIST") {
                        var t = i.substring(7, 9)
                        var q = i.substring(10, 11)
                        $('#row' + t +' #SRVLIST'+q).find('input[readonly="readonly"]').each(function () {
                                $(this).removeAttr("readonly")
                            })
                        $('#row' + t + ' #SRVLIST' + q).find('input[type="file"]').each(function () {
                                $(this).removeAttr("disabled")
                            })
                        $('#row' + t + ' #SRVLIST' + q).find('input[type="checkbox"]').each(function () {
                                $(this).removeAttr("disabled")
                            })
                        $('#row' + t + ' #SRVLIST' + q).find('div.date').each(function () {
                                $(this).removeAttr("disabled")
                            })
                    }
                    else if (i.substring(0, 4) == "FILE") {
                        var t = i.substring(i.lastIndexOf('_'))
                        $('#FILE' + t).find('input[type="file"]').each(function () {
                            $(this).removeAttr("disabled")
                        })
                    }
                    else if (i.substring(0, 3) == "ALL") {
                        var t = i.substring(i.lastIndexOf('_'))
                        $('form[id="main_form"]').find('input[readonly="readonly"]').each(function () {
                            $(this).removeAttr("readonly")
                        })
                        $('form[id="main_form"]').find('input[disabled="disabled"]').each(function () {
                            $(this).removeAttr("disabled")
                        })
                        $('form[id="main_form"]').find('div[disabled="disabled"]').each(function () {
                            $(this).removeAttr("disabled")
                        })
                        $('form[id="main_form"]').find('input[type="radio"]').each(function () {
                            $(this).removeAttr("disabled")
                        })
                        $('form[id="main_form"]').find('select').each(function () {
                            $(this).removeAttr("disabled")
                        })
                        $('form[id="main_form"]').find('div.date').each(function () {
                            $(this).removeAttr("disabled")
                        })
                        $('div.input-group span button').removeAttr("disabled");
                        
                    }
                });
            }
        }
    });

    // 地址
    function loadDialogADDRCodeMapName(data) {
        ajaxLoadMore(data.url,
            data.arg,
            function (resp) {
                if (resp === undefined) data.box.val('');
                else {
                    if (resp.data != '') data.box.val(resp.data);
                    else {
                        data.box.val('');
                        data.add.val('');
                        blockAlert(data.msg);
                    }
                }
            });
    };

    function doADDRSelect() {
        var url = '/ZIP_CO';
        var title = '郵遞區號查詢';
        popupWindow({ 'width': 900 },
            url,
            title,
            null,
            function (retData, doc) {
                if (retData != null) {
                    $('#ADDR_CODE').val(retData.Id);
                    $('#ADDR_TEXT').val(retData.Name);
                }
            });
    }

    function doADDRNameGet() {
        var code = $('#ADDR_CODE');
        var data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#ADDR_TEXT'),
            'add': $('#ADDR_CODE')
        };
        if ($.trim(data.arg.CODE) == '') { data.box.val(''); $('#ADDR_CODE').val('') }
        else {
            code.val(data.arg.CODE);
            loadDialogADDRCodeMapName(data);
        }
    }

    // 學歷證明
    function doEDUCATIONChange() {
        var EDUCATION = $('input[name="EDUCATION"]:checked').val();
        if (EDUCATION == 1) {
            $('#EDUCATION').val('1');
            $('.EDUCATION_SEQ_1').css("display", "");
            $('.EDUCATION_SEQ_2').css("display", "none");
            $('.EDUCATION_SEQ_22').css("display", "none");
            $('.EDUCATION_SEQ_23').css("display", "none");
            $('.EDUCATION_SEQ_24').css("display", "none");
            $('.EDUCATION_SEQ_3').css("display", "none");
            $('#FILE_GRADOFF').val('');
            $('#FILE_NOTI').val('');
            $('#FILE_NOTI2').val('');
            $('#FILE_NOTI3').val('');
            $('#FILE_NOTI4').val('');
        }
        else if (EDUCATION == 2) {
            $('#EDUCATION').val('2');
            $('.EDUCATION_SEQ_2').css("display", "");
            $('.EDUCATION_SEQ_22').css("display", "");
            $('.EDUCATION_SEQ_23').css("display", "");
            $('.EDUCATION_SEQ_24').css("display", "");
            $('.EDUCATION_SEQ_1').css("display", "none");
            $('.EDUCATION_SEQ_3').css("display", "none");
            $('#FILE_GRAD').val('');
            $('#FILE_GRADOFF').val('');
        }
        else if (EDUCATION == 3) {
            $('#EDUCATION').val('3');
            $('.EDUCATION_SEQ_3').css("display", "");
            $('.EDUCATION_SEQ_1').css("display", "none");
            $('.EDUCATION_SEQ_2').css("display", "none");
            $('.EDUCATION_SEQ_22').css("display", "none");
            $('.EDUCATION_SEQ_23').css("display", "none");
            $('.EDUCATION_SEQ_24').css("display", "none");
            $('#FILE_GRAD').val('');
            $('#FILE_NOTI').val('');
            $('#FILE_NOTI2').val('');
            $('#FILE_NOTI3').val('');
            $('#FILE_NOTI4').val('');
        };
    }

    // 性別
    function RadioSEXChange() {
        $("#SEX_CD").val($('input[name="SEX_CD"]:checked').val());
    }

    // 是否合併檔案
    function RadioChange() {
        $("#MERGEYN").val($('input[name="MERGEYN"]:checked').val());
    }

    // 申請種類
    function RadioISMEETChange() {
        $("#ISMEET").val($('input[name="ISMEET"]:checked').val());

        if ($('input[name="ISMEET"]:checked').val() == "1") {
            $("#FILE_7").hide();
            $("#FILE_8").hide();
            $("#opt3-4").hide();
        }

        if ($('input[name="ISMEET"]:checked').val() == "2") {
            $("#FILE_7").show();
            $("#FILE_8").hide();
        }

        if ($('input[name="ISMEET"]:checked').val() == "3") {
            $("#FILE_7").hide();
            $("#FILE_8").show();
        }
    }

    // 取檔名
    function doGetFileNam(file) {
        var validExts = new Array(".DOC", ".DOCX", ".ODT", ".ODF", ".ODS", ".XLS", ".XLSX", ".PDF", ".PPT", ".PPTX", ".JPG", ".JPEG", ".BMP", ".PNG", ".GIF", ".TIF", ".ZIP");
        var filename = file.files.item(0).name;
        var fileExt = filename.substring(filename.lastIndexOf('.'));

        if (validExts.indexOf(fileExt.toUpperCase()) < 0) {
            blockAlert("檔案類型錯誤，可接受的副檔名有：" + validExts.toString());
            $('input[name="' + file.name + '"]').val(null);
            $("#" + file.name + "_TEXT").val('');
            return false;
        }
        else {
            $('input[type="hidden"][name="' + file.name + '_TEXT"]').val(file.files.item(0).name);
            return true;
        }
    }

    // MAIL 選自訂
    function doEmailChange() {
        var MAIL = $('#MAIL_0').val();
        if (MAIL == 0) $('#MAIL_1').removeAttr("readonly");
        else {
            if (MAIL == 1) $('#MAIL_1').val('gmail.com');
            if (MAIL == 2) $('#MAIL_1').val('yahoo.com.tw');
            if (MAIL == 3) $('#MAIL_1').val('outlook.com');
            $('#MAIL_1').attr("readonly", "readonly");
            $('#MAIL_1').val('');
        }
    }

    function validfile() {
        var grid = '';
        for (i = 0; i < $('#RowTable div[id^="row"]').length; i++) {
            var msg = '';
            // '序號'
            var SEQ_NO = $('#' + $($('#RowTable div[id^="row"]')[i]).attr('id') + ' #SEQ_NO').text();
            // 服務經歷-服務單位名稱
            var SRV_NAM = $('#' + $($('#RowTable div[id^="row"]')[i]).attr('id') + ' #SRV_NAM').val().trim();
            if (SRV_NAM == '') {
                msg += '請輸入服務經歷-服務單位名稱</br>';
            }
            // 服務經歷-職稱
            var SRV_TITLE = $('#' + $($('#RowTable div[id^="row"]')[i]).attr('id') + ' #SRV_TITLE').val().trim();
            if (SRV_TITLE == '') {
                msg += '請輸入服務經歷-職稱</br>';
            }

            // 服務單位立案或法人登記證書影本的特殊需求
            var SRVLST_DEMAND_1 = $('input[name="SRVLIST[' + i + '].SRVLST_DEMAND_1"]').prop("checked");
            var SRVLST_DEMAND_1_TEXT = $('input[name="SRVLIST[' + i + '].SRVLST_DEMAND_1_TEXT"]').val();
            if (SRVLST_DEMAND_1 && SRVLST_DEMAND_1_TEXT == '') {
                msg += '請輸入服務單位立案或法人登記證書影本的特殊需求</br>';
            }

            // 服務單位章程影本的特殊需求
            var SRVLST_DEMAND_2 = $('input[name="SRVLIST[' + i + '].SRVLST_DEMAND_2"]').prop("checked");
            var SRVLST_DEMAND_2_TEXT = $('input[name="SRVLIST[' + i + '].SRVLST_DEMAND_2_TEXT"]').val();
            if (SRVLST_DEMAND_2 && SRVLST_DEMAND_2_TEXT == '') {
                msg += '請輸入服務單位章程影本的特殊需求</br>';
            }

            if (msg != "") {
                grid += '<tr style="width:100%;border-width:1px;border-style:solid"><td>序號:' + SEQ_NO + '</tr></td>';
                grid += '<tr style="width:100%;border-width:1px;border-style:solid"><td>' + msg + '</tr></td>';
            }
        }

        grid = '<table style="width:100%;border-width:1px;border-style:solid">' + grid + '</table>';
        if (msg != '') {
            blockAlert(grid, '訊息');
            return false;
        }
        else {
            return true;
        }
    }

    function setHiddenFileName(objName) {
        $($('input[name="' + objName + '"]').siblings()[0]).val($('input[name="' + objName + '"]').val().replace(/C:\\fakepath\\/i, ''));
    }

    function paddingLeft(str, lenght) {
        if (str.length >= lenght)
            return str;
        else
            return paddingLeft("0" + str, lenght);
    }

    // 存檔
    function doSave() {
        if (validfile()) {
            var Msg = "";
            if (Msg == "") {
                $("#GRADUATION_MONTH").removeAttr("disabled");
                $("#GRADUATION").removeAttr("disabled");
                $("#MAIL_0").removeAttr("disabled");
                blockUI();
                var form = $("form[id=main_form]");
                form.attr('action', '@Url.Action("SaveAppDoc")').submit();
            }
            else {
                blockAlert(Msg, "提示訊息");
            }
        }

    }

    // 返回
    function doBack() {
        location.href = '@Url.Action("Index","History")';
    }

</script>
