@using ES.Models;
@using ES.Services;
@using ES.Models.ViewModels;
@model Apply_011003DoneModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ShareCodeListModel sc = new ShareCodeListModel();
    SessionModel sm = SessionModel.Get();
}


<div class="container">
    <div class="col-sm-12">
        <!-- bread  -->
        <div class="breadlink"><i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> ／ <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／ <a href="#">社會工作實務經驗年資審查線上申辦</a></div>
        <div class="clearfix"></div>
        <div class="step_map">
            <ul>
                <li>填寫申報表件並上傳檔案</li>
                <li>預覽申辦表件</li>
                <li class="active">完成申報</li>
            </ul>
        </div>
        <h1 class="form-title  title-bg-y">訊息</h1>
        <div class="form-set">
            <div class="form-group">
                <div class="col-sm-10" style="margin-top:10px">
                    @sm.UserInfo.Member.NAME，您好:
                    <br />
                    @switch (Model.status.TONotNullString())
                    {
                        case "1":
                            @Html.Raw("您申請社會工作實務經驗年資審查線上申辦，已完成系統資料填答及上傳流程，將盡速辦理您的申辦案件，謝謝。");
                            break;
                        case "2":
                            @Html.Raw("您申請社會工作實務經驗年資審查線上申辦，已完成資料補件，將盡速辦理您的申辦案件，謝謝。");
                            break;
                    }

                    <br />
                    <p class="form-control-static" align="right">衛生福利部</p>
                </div>
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

</div>
