@using ES.Models.Entities
@using ES.Models
@using ES.Commons;
@model ES.Models.ViewModels.Apply_001009ViewModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "醫事人員或公共衛生師資格英文求證";
    ShareCodeListModel srcList = new ShareCodeListModel();
}
<script type="text/javascript" src="~/Scripts/utility.js"></script>
@using (Html.BeginForm("AppDocSave", "Apply_001009", FormMethod.Post, new { id = "main_form", @class = "form-horizontal", enctype = "multipart/form-data" }))
{
<div class="container">
    <div class="col-sm-12">
        <!-- bread  -->
        <div class="breadlink">
            <i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> ／ <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／ <a href="#">@ViewBag.Title</a>
        </div>
        <div class="clearfix"></div>

        <div class="tab-content" id="myTabContent">
            <!--ApplyForm-->
            <div id="ApplyForm" class="tab-pane fade active in">
                <h1 class="form-title  title-bg-y">申辦表件填寫</h1>

                <div class="form-set">
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">申辦項目</label>
                        <div class="col-sm-4">
                            <p class="form-control-static">@ViewBag.Title</p>
                        </div>
                        <label class="step-label col-sm-2" for="">申辦日期</label>
                        <div class="col-sm-4">
                            <p class="form-control-static"> @Model.APPLY_DATE</p>
                            @Html.HiddenFor(x => x.APPLY_DATE, new { @Value = @Model.APPLY_DATE })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請人中文姓名(與護照相同)</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Apply.NAME, new { @class = "form-control", @placeholder = "請輸入申請人姓名", @readonly = "readonly" })
                        </div>
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>身分證編號/居留證號</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Apply.IDN, new { @class = "form-control", @placeholder = "請輸入身分證編號/居留證號", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請人英文姓名(與護照相同)</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Apply.ENAME, new { @class = "form-control", @placeholder = "申請人英文姓名", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">申請人英文別名(與護照相同)</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(x => x.Apply.E_ALIAS_NAME, new { @class = "form-control", @placeholder = "申請人英文別名", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請人出生年月日</label>
                        <div class="col-sm-4">
                            @Html.DatePickerTWFor(x => x.BIRTHDAY_AC, new { size = "10", @disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請事由</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x=>x.APPLY_CAUSE,new List<SelectListItem>(){
                                                                                              new SelectListItem(){ Text="任職-機構",Value="1"},
                                                                                              new SelectListItem(){ Text="其他",Value="2"}
                                                                                            },new { @class = "form-normal", @disabled = "disabled" })
                            @Html.TextBoxFor(x => x.APPLY_CAUSE_TEXT, new { @class = "form-normal", @placeholder = "申請事由", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請證明類別</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.APPLY_CERT_CATE, srcList.GetCERTCATEList, new { @class = "form-control", @disabled = "disabled" })
                            @Html.HiddenFor(x => x.APPLY_CERT_CATE_TEXT)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>醫事人員或公共衛生師證書字號</label>
                        <div class="col-sm-10">
                            @Html.DropDownListFor(x => x.LIC_TYPE, srcList.GetCERTCATEByPCDList, new { @class = "form-normal", @disabled = "disabled" })字
                            @Html.TextBoxFor(x => x.LIC_NUM, new { @class = "form-normal", @placeholder = "", @readonly = "readonly" })號
                            @Html.HiddenFor(x => x.LIC_CD_TEXT)
                            @Html.HiddenFor(x => x.LIC_CD)

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>醫事人員或公共衛生師證書日期</label>
                        <div class="col-sm-4">
                            @Html.DatePickerTWFor(x => x.CERT_APPROVED_DATE_AC, new { size = "10", @disabled = "disabled", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>畢業學校名稱及所在縣市中文</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.C_SCHOOL_NAME, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>畢業學校名稱及所在縣市英文</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.E_SCHOOL_NAME, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>修業年限</label>
                        <div class="col-sm-10">
                            西元
                            <select id="yearList1" class="form-normal year" disabled></select>年
                            <select id="monthList1" class="form-normal month" disabled></select>月
                            @Html.HiddenFor(x => x.YEAR1)
                            @Html.HiddenFor(x => x.MONTH1)
                            至 西元
                            <select id="yearList2" class="form-normal year" disabled></select>年
                            <select id="monthList2" class="form-normal month" disabled></select>月
                            @Html.HiddenFor(x => x.YEAR2)
                            @Html.HiddenFor(x => x.MONTH2)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>通訊地址</label>
                        <div class="col-sm-10 form-inline">
                            @Html.TextBoxFor(x => x.CITY_CODE, new { @id = "CITY_CODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號", @readonly = "readonly" })
                            <div class="input-group">
                                @Html.TextBoxFor(x => x.CITY_TEXT, new { @id = "CITY_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info" onclick="doCITYSelect()" disabled><i class="fa fa-search" aria-hidden="true"></i></button>
                                </span>
                            </div>
                            @Html.TextBoxFor(x => x.CITY_DETAIL, new { @class = "form-normal", placeholder = "請輸入地址 ", size = 59, maxlength = "64", @readonly = "readonly" })
                            @Html.HiddenFor(x => x.FULL_ADDRESS)
                            @Html.DropDownListFor(x => x.MAIL_COUNTRY, srcList.CountryList, new { @class = "form-normal", @disabled = "disabled" })
                            @Html.TextBoxFor(x => x.RECEIVER, new { @class = "form-normal", placeholder = "請輸入收件者", @readonly = "readonly" })
                            @Html.HiddenFor(x => x.COUNTRY_TEXT)
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>本求證表郵寄機構地址(含國別及收件者)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.VERIFY_ADDRESS, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <h2 class="second-title">申辦資料</h2>
                    <div class='form-group'>
                        <label class='step-label col-sm-2' for=''><span style="color:red;">*</span>聯絡人姓名</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Apply.CNT_NAME, new { @class = "form-normal", @readonly = "readonly" })
                            <button type='button' class="btn btn-info" onclick="getMemberData()" disabled>同登入會員資料</button>
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='step-label col-sm-2' for=''>聯絡人電話</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(x => x.TEL)
                            <span></span>
                            @Html.TextBoxFor(x => x.TEL_SEC, new { @class = "form-10 form-normal", @readonly = "readonly" })
                            <span>-</span>
                            @Html.TextBoxFor(x => x.TEL_NO, new { @class = "form-normal", @readonly = "readonly" })
                            <span>#</span>
                            @Html.TextBoxFor(x => x.TEL_EXT, new { @class = "form-10 form-normal", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>聯絡人行動電話</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(x => x.Apply.MOBILE, new { @class = "form-normal", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>聯絡人E-MAIL</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(x => x.MAIL)
                            @Html.TextBoxFor(x => x.MAIL_ACCOUNT, new { @class = "form-normal", @readonly = "readonly" })@@
                            @Html.DropDownList("DOMAINList", srcList.GetMailDomainList, new { @class = "form-normal", @disabled = "disabled", @readonly = "readonly" })
                            @Html.TextBoxFor(x => x.MAIL_DOMAIN, new { @class = "form-normal", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class='form-group'>
                        <label class='step-label col-sm-2' for=''>聯絡人傳真</label>
                        <div class="col-sm-10">
                            @Html.HiddenFor(x => x.FAX)
                            <span></span>
                            @Html.TextBoxFor(x => x.FAX_SEC, new { @class = "form-10 form-normal", @readonly = "readonly" })
                            <span>-</span>
                            @Html.TextBoxFor(x => x.FAX_NO, new { @class = "form-normal", @readonly = "readonly" })
                            <span>#</span>
                            @Html.TextBoxFor(x => x.FAX_EXT, new { @class = "form-10 form-normal", @readonly = "readonly" })
                        </div>
                    </div>

                    <h2 class="second-title">佐證文件檔案上傳<span style="color:red">(總檔案大小5MB以下)</span></h2>
                    <div class='form-group'>
                        <label class="step-label col-sm-2" for="">佐證文件採合併檔案</label>
                        <div class="col-sm-10">
                            <label class="radio-inline "><input type="radio" id="isMergeY" name="optFile" value="Y" disabled>是</label>
                            <label class="radio-inline "><input type="radio" id="isMergeN" name="optFile" value="N" disabled>否</label><br />
                            若您是將檔案掃描後，於同一份文件內上傳，請選擇佐證文件採合併檔案"是"，檔案分開上傳請選擇"否"
                            @Html.HiddenFor(x => x.IS_MERGE_FILE)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">護照影本</label>
                        <div class="col-sm-10">
                            @if (Model.FILE1_CHECK == "Y")
                            {
                                @Html.FileDLForTurbo(x => x.FileList[0].FILENAME, Model.FileList[0].SRC_FILENAME + "," + Model.FileList[0].APP_ID + "," + Model.FileList[0].FILE_NO + "," + Model.FileList[0].SRC_NO,"N")
                                @Html.HiddenFor(x => x.FileList[0].FILENAME)
                                @Html.HiddenFor(x => x.FileList[0].FILE_NO)
                            }
                            @Html.TextBoxFor(x => x.FILE1, new { @class = "form-control", @type = "file", onchange = "setFileName($(this).attr('name'))", @disabled = "disabled" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">醫事人員或公共衛生師中文證書影本</label>
                        <div class="col-sm-10">
                            @if (Model.FILE2_CHECK == "Y")
                            {
                                @Html.FileDLForTurbo(x => x.FileList[1].FILENAME, Model.FileList[1].SRC_FILENAME + "," + Model.FileList[1].APP_ID + "," + Model.FileList[1].FILE_NO + "," + Model.FileList[1].SRC_NO, "N")
                                @Html.HiddenFor(x => x.FileList[1].FILENAME)
                                @Html.HiddenFor(x => x.FileList[1].FILE_NO)
                            }
                            @Html.TextBoxFor(x => x.FILE2, new { @class = "form-control", @type = "file", onchange = "setFileName($(this).attr('name'))", @disabled = "disabled" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">考照時之畢業證書影本</label>
                        <div class="col-sm-10">
                            @if (Model.FILE3_CHECK == "Y")
                            {
                                @Html.FileDLForTurbo(x => x.FileList[2].FILENAME, Model.FileList[2].SRC_FILENAME + "," + Model.FileList[2].APP_ID + "," + Model.FileList[2].FILE_NO + "," + Model.FileList[2].SRC_NO, "N")
                                @Html.HiddenFor(x => x.FileList[2].FILENAME)
                                @Html.HiddenFor(x => x.FileList[2].FILE_NO)
                            }
                            @Html.TextBoxFor(x => x.FILE3, new { @class = "form-control", @type = "file", onchange = "setFileName($(this).attr('name'))", @disabled = "disabled" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">考試及格證書影本</label>
                        <div class="col-sm-10">
                            @if (Model.FILE4_CHECK == "Y")
                            {
                                @Html.FileDLForTurbo(x => x.FileList[3].FILENAME, Model.FileList[3].SRC_FILENAME + "," + Model.FileList[3].APP_ID + "," + Model.FileList[3].FILE_NO + "," + Model.FileList[3].SRC_NO, "N")
                                @Html.HiddenFor(x => x.FileList[3].FILENAME)
                                @Html.HiddenFor(x => x.FileList[3].FILE_NO)
                            }
                            @Html.TextBoxFor(x => x.FILE4, new { @class = "form-control", @type = "file", onchange = "setFileName($(this).attr('name'))", @disabled = "disabled" })

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">對方機構求證表格</label>
                        <div class="col-sm-10">
                            @if (Model.FILE5_CHECK == "Y")
                            {
                                @Html.FileDLForTurbo(x => x.FileList[4].FILENAME, Model.FileList[4].SRC_FILENAME + "," + Model.FileList[4].APP_ID + "," + Model.FileList[4].FILE_NO + "," + Model.FileList[4].SRC_NO, "N")
                                @Html.HiddenFor(x => x.FileList[4].FILENAME)
                                @Html.HiddenFor(x => x.FileList[4].FILE_NO)
                            }
                            @Html.TextBoxFor(x => x.FILE5, new { @class = "form-control", @type = "file", onchange = "setFileName($(this).attr('name'))", @disabled = "disabled" })

                        </div>
                    </div>
                    <div class="btn-bar text-center">
                        <button type="button" id="btnReturn" class="btn btn-clear">返回</button>
                    </div>
                </div>
 
            </div>
            <!--ApplyForm-->

        </div>

    </div>
    <div class="clearfix"></div>

    @Html.HiddenFor(x => x.Apply.APP_ID)
    @Html.HiddenFor(x => x.Apply.ISMODIFY)
    @Html.HiddenFor(x => x.Apply.FLOW_CD)
    @Html.HiddenFor(x => x.IsNotice)
</div>

}

<script type="text/javascript">

    $(document).ready(function () {

        $('#DOMAINList').change(function () {
            if ($('#DOMAINList option:selected').text() == '自訂' || $('#DOMAINList option:selected').text() == '請選擇') {
                $('#MAIL_DOMAIN').val('');
            }
            else {
                $('#MAIL_DOMAIN').val($('#DOMAINList option:selected').text());
            }
        });

        $('#CITY_CODE').on('blur', doCITYNameGet);
        doCITYNameGet();

        if ($('#IS_MERGE_FILE').val() == 'Y') {
            $('#isMergeY').prop('checked', 'checked');
        }
        else {
            $('#isMergeN').prop('checked', 'checked');
        }

        $("#yearList1").change(function () {
            $('#YEAR1').val($("option:selected", this).val());
        });

        $("#monthList1").change(function () {
            $('#MONTH1').val($("option:selected", this).val());
        });

        $("#yearList2").change(function () {
            $('#YEAR2').val($("option:selected", this).val());
        });

        $("#monthList2").change(function () {
            $('#MONTH2').val($("option:selected", this).val());
        });

        genYM();

        $('#yearList1').val($('#YEAR1').val());
        $('#monthList1').val($('#MONTH1').val());
        $('#yearList2').val($('#YEAR2').val());
        $('#monthList2').val($('#MONTH2').val());

        $('#btnReturn').click(function () {
            location.href = '/history/';
        });

        GetLicNumList();

    });

    // 地址
    function loadDialogCITYCodeMapName(data) {
        ajaxLoadMore(data.url, data.arg, function (resp) {
            if (resp === undefined) data.box.val('');
            else {
                if (resp.data != '') data.box.val(resp.data);
                else { data.box.val(''); data.add.val(''); blockAlert(data.msg); }
            }
        });
    };

    function doCITYSelect() {
        var url = '/ZIP_CO';
        var title = '郵遞區號查詢'; popupWindow({ 'width': 900 }, url, title, null, function (retData, doc) {
            if (retData != null) {
                $('#CITY_CODE').val(retData.Id);
                $('#CITY_TEXT').val(retData.Name);
            }
        });
    }

    function doCITYNameGet() {
        var code = $('#CITY_CODE');
        var data = { 'url': '/Ajax/GetCityTown', 'msg': '查無該郵遞區號!!', 'arg': { 'CODE': code.val().toUpperCase() }, 'box': $('#CITY_TEXT'), 'add': $('#CITY_CODE') };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            code.val(data.arg.CODE);
            loadDialogCITYCodeMapName(data);
        }
    }; 

    function genYM() {
        var minOffset = 0, maxOffset = 100;
        var thisYear = (new Date()).getFullYear();
        var m_names = ['01', '02', '03', '04', '05', '06', '07', '08', '09', '10', '11', '12'];
        var month = 0;
        for (var j = month; j <= 11; j++) {
            var months = m_names[0 + j];
            $('<option>', { value: months, text: months }).appendTo(".month");
        }

        for (var i = minOffset; i <= maxOffset; i++) {
            var year = thisYear - i;
            $('<option>', { value: year, text: year }).appendTo(".year");
        }
    }

    function GetLicNumList() {
        var code_pcd = $('#APPLY_CERT_CATE');

        var data = {
            'url': '/Ajax/GetCERTCATEMDList', 'msg': '查無該證書字號!!', 'arg': { 'code_pcd': code_pcd.val() }, 'result': $('#APPLY_CERT_CATE')
        };

        if ($.trim(data.arg.code_pcd) == '')
            data.result.val('');
        else {
            code_pcd.val(data.arg.code_pcd);
            loadLicNumList(data, 'LIC_TYPE');
        }
    };

    function loadLicNumList(data, objectId) {
        ajaxLoadMore(data.url, data.arg, function (resp) {
            if (resp === undefined) {
                data.result.val('');
            }
            else {
                if (resp.data != '') {
                    $('#' + objectId).empty();
                    $.each(resp.data, function (i, item) {
                        $('#' + objectId).append('<option value=' + item.CODE + ' selected>' + item.TEXT + '</option>');
                    });
                }
                else {
                    data.result.val('');
                    blockAlert(data.msg);
                }
            }
        });
    };

</script>
