@using ES.Models;
@using ES.Commons;
@using ES.Models.ViewModels;
@model Apply_011002FormModel

@{
    Layout = null;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    var srv_name = "專科社會工作師證書核發";

    string s_URL_1 = "https://dep.mohw.gov.tw/DOSAASW/cp-545-51084-103.html";
    string s_msg_T1A = @"
＊線上申辦及通訊申請請擇一辦理。相關申請規定請見本司【公告】申請或補、換發專科社會工作師證書注意事項（網址：{0}）。

＊如採線上申請者，您需要準備的文件：
1.身分證正面影本(電子檔，PDF或JPG皆可)
2.身分證反面影本(電子檔，PDF或JPG皆可)
3.一年內2吋正面脫帽半身照片(電子檔，PDF或JPG皆可)
4.郵局匯票500元１紙，戶名：衛生福利部。匯票收據請自行保管，匯票戶名書寫錯誤拒不受理。請將匯票另以掛號郵遞至「衛生福利部社會救助及社工司」(地址：115204 臺北市南港區忠孝東路六段488號)
5.（更名換發需附）戶籍謄本或戶口名簿(電子檔，PDF或JPG皆可)

＊如採通訊申請者，請將前開紙本文件郵遞至「衛生福利部社會救助及社工司」(地址：115204 臺北市南港區忠孝東路六段488號)，並於信封左下角註明「申請核發/補發/換發(請擇一填寫)專科社會工作師證書」、申請人姓名及連絡電話。本部收訖後將據以辦理您的申請案件。

＊專科社會工作師證書核發約需2週工作天(不含例假日、紙本寄件及補正時間)。
";
    string s_msg_T1 = string.Format(s_msg_T1A, s_URL_1);
}

<div class="container">
    <div class="col-sm-12">
        <!-- bread  -->
        <div class="breadlink"><i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> ／ <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／ <a href="#">@Html.Raw(srv_name)</a></div>
        <div class="clearfix"></div>
        <div class="step_map">
            <ul>
                <li id="form_tab" class="active">填寫申報表件並上傳檔案</li>
                <li id="form_tab1">預覽申辦表件</li>
                <li>完成申報</li>
            </ul>
        </div>

        <div class="form-set">
            <h1 class="form-title title-bg-y">@Html.Raw(srv_name)說明事項</h1>
            @*class="form-group"*@
            <div class="form-group service-main index-note">
                <div class="tab-content">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="member-note">
                                專科社會工作師證書僅限專科社工師本人申請，請您仔細閱讀以下說明，並備齊相關文件後提出申請。<br />
                            </p>
                            <textarea class="form-control" rows="15">@Html.Raw(s_msg_T1)</textarea>
                            <p class="member-note">本人已閱讀以上條款，本次申請資料均由本人提供，資料屬實並無違反相關法令，如填寫假資料或有違規情事，願接受相關罰則。</p>
                            <p class="member-note">如果您已經了解並接受，請按「同意」，進行下一個步驟填寫資料</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="btn-bar text-center">
                        <button type="button" class="btn btn-save" onclick="doCheck()">同意</button>
                        <button type="button" class="btn btn-clear" onclick="doBack()">取消</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="clearfix"></div>

<script>

    //同意
    function doCheck() {
        var agree1 = { "agree": 1 }
        location.href = '@Url.Action("APPLY", "APPLY_011002")?' + $.param(agree1);
    }

    // 取消
    function doBack() {
        location.href = '@Url.Action("Index", "Service")';
    }

</script>
