@{
    Layout = null;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.SRV_NAME = "民眾少量自用中藥貨品進口";

    
    string s_msg_T1A = @"一、依據入境旅客攜帶行李物品報驗稅放辦法及藥物樣品贈品管理辦法等規定。

二、中藥材及中藥製劑：
1.中藥材每種至多1公斤，合計不得超過12種。
2.中藥製劑(藥品)每種至多12瓶(盒)，合計以不超過36瓶(盒)為限。
3.攜帶入境超過前述限量之中藥材及中藥製劑(藥品)，應檢附醫療證明之文件(如醫師診斷證明)，且不逾3個月用量為限。
4.非處方藥品於6個月內不得重複申請。

三、說明：
1.旅客或隨交通工具服務人員攜帶入境或郵寄入境之自用藥品，不得供非自用之用途。
2.本表鎖定之產品種類：瓶(盒、罐、條、支、包、袋)等均以「原包裝」為限。
3.藥品成分含保育類物種者，應先取得主管機關(農業部)同意始可攜帶入境。
4.自中國大陸輸入中藥製劑(藥品)需另取得經濟部國際貿易署輸入許可文件。";
    string s_msg_T1 = string.Format(s_msg_T1A);
}

<div class="container">
    <div class="col-sm-12">
        <!-- bread  -->
        <div class="breadlink"><i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> ／ <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／ <a href="#">@Html.Raw(ViewBag.SRV_NAME)</a></div>
        <div class="clearfix"></div>
        <div class="step_map">
            <ul>
                <li id="apply" class="active">填寫申報表件並上傳檔案</li>
                <li id="preview">預覽申辦表件</li>
                <li id="save">完成申報</li>
            </ul>
        </div>

        <div class="form-set">
            <h1 class="form-title title-bg-y">@Html.Raw(ViewBag.SRV_NAME)說明事項</h1>
            @*class="form-group"*@
            <div class="form-group service-main index-note">
                <div class="tab-content">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <p class="member-note">
                                建議您仔細閱讀以下事項，備齊相關文件再申請喔。<br />
                            </p>
                            <textarea class="form-control" rows="15">@Html.Raw(s_msg_T1)</textarea>
                            <p class="member-note">本人已閱讀以上條款，本次申請資料均由本人提供，資料屬實並無違反相關法令，如填寫假資料或有違規情事，願接受相關罰則。</p>
                            <p class="member-note">如果您已經了解並接受，請按「同意」，進行下一個步驟填寫資料</p>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="btn-bar text-center">
                        <button type="button" class="btn btn-save" onclick="doCheck()">同意</button>
                        <button type="button" class="btn btn-clear" onclick="doBack()">取消</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="clearfix"></div>

<script>

    //同意
    function doCheck() {
        var agree1 = { "agree": 1 }
        location.href = '@Url.Action("APPLY", "APPLY_005013")?' + $.param(agree1);
    }

    // 取消
    function doBack() {
        location.href = '@Url.Action("Index", "Service")';
    }

</script>
