@using EECOnline.Areas.A6.Models;
@using EECOnline.Models;
@model C101MFormModel
@{
    Layout = "~/Views/Shared/_Back_MainLayout.cshtml";
    SessionModel sm = SessionModel.Get();
}

<div class="col-sm-12 content">
    <!-- H1 title -->
    <h1 class="main-title" style="margin-top: unset;"><i class="fa fa-edit"></i>@sm.LastActionFunc.prgname</h1>

    <div class="form-blue">
        @using (Html.BeginForm("Index", "C101M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
        {
            var button = new Dictionary<string, string>();
            button.Add("search", "doSearch()");
            button.Add("reset_fuc", "doReset_fuc()");
            button.Add("new", "doNew()");

            @Html.ControlForTurbo(Model);
            @Html.ButtonForTurbo(button)
        }
    </div>
    <div class="clearfix"></div>
    <h2 class="second-title">查詢結果</h2>
    <div class="table-pager">
        @Html.Partial("_PagingLink", Model)
    </div>
    <div class="table-responsive">
        @if (Model.Grid != null)
        {
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-typeA table">
                <thead>
                    <tr>
                        <th></th>
                        <th>群組名稱</th>
                        <th>單位名稱</th>
                        <th>狀態</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="rows">
                    @Html.Partial("_GridRows")
                </tbody>
            </table>
        }
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        //隱藏hidden下邊線
        $('input[type="hidden"]').parent().css({ "border-style": 'none' })
    })

    /// 查詢
    function doSearch() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Index")').submit();
    }

     /// 新增
    function doNew() {
        var url = '@(Url.Action("New", "C101M", new { area = "A6" }))';
        var title = '建立帳號群組';
        popupWindow({ 'width': -1 }, url, title, null, function (retData, doc) {
            if (retData != null) { if (retData.redirectUrl != "") { RedirectAfterPopup(retData.redirectUrl) } }
        })
    }

    /// 修改
    function doModify(grp_id) {
        var data = {
            "grp_id": grp_id,
        }
        var url = '@Url.Action("Modify", "C101M")?' + $.param(data);
        var title = '編輯帳號群組';
        popupWindow({ 'width': -1 }, url, title, null, function (retData, doc) {
            if (retData != null) { if (retData.redirectUrl != "") { RedirectAfterPopup(retData.redirectUrl) } }
        })
    }

    /// 權限
    function doSet(grp_id,grpname) {
        var data = {
            "grp_id": grp_id,
            "grpname": grpname,
        }
        var url = '@(Url.Action("Set", "C101M", new { area = "A6" }))?' + $.param(data);
        var title = '群組權限設定';
        popupWindow({ 'width': -1 }, url, title, null, function (retData, doc) {
            if (retData != null) { if (retData.redirectUrl != "") { RedirectAfterPopup(retData.redirectUrl) } }
        })
    }

    /// 重填
    function doReset_fuc() {
        $('#grpname').val('');
        $('#grp_status').val('');
    }

</script>
