@using ES.Models.Entities
@using ES.Models
@using ES.Commons;
@model ES.Models.ViewModels.Apply_001008FormModel

@{
    Layout = null; 
}

@{Layout = null; }

<div class="col-sm-12">

    <h1 class="form-title  title-bg-y">選擇繳費方式</h1>
    <div class="form-set">
        <div class="form-group">
            <label class="step-label col-sm-2" for="">繳費方式</label>
            <div class="col-sm-10">
                <input id="PAY_METHOD_GROUP" name="PAY_METHOD_GROUP" onclick="changePayMethod(this);" type="radio" value="C">信用卡線上刷卡（電子化政府網路付費服務）<br>
                <input id="PAY_METHOD_GROUP" name="PAY_METHOD_GROUP" onclick="changePayMethod(this);" type="radio" value="D"> 匯票(抬頭：衛生福利部）<br>
                <input id="PAY_METHOD_GROUP" name="PAY_METHOD_GROUP" onclick="changePayMethod(this);" type="radio" value="T"> 劃撥（見註一、註三）<br>
                <input id="PAY_METHOD_GROUP" name="PAY_METHOD_GROUP" onclick="changePayMethod(this);" type="radio" value="B"> 臨櫃（現金，見註二）<br>
                <input id="PAY_METHOD_GROUP" name="PAY_METHOD_GROUP" onclick="changePayMethod(this);" type="radio" value="S"> 超商（見註五）
                @Html.HiddenFor(m => m.PAY_METHOD);
            </div>
        </div>
        <div class="form-group">
            <label class="step-label col-sm-2" for="">申請時應繳費用</label>
            <div class="col-sm-10" style="margin-top:10px">
                @*@Html.TextBoxFor(m => m.PAY_A_FEE, new { @class = "form-control", @readonly = "readonly", })*@
                @Html.HiddenFor(m=>m.PAY_A_FEE)
                @Html.Raw(Model.PAY_A_FEE + " 元")
            </div>
        </div>
        <div class="form-group" id="TR_CARD_IDN" style="display: none;">
            <label class="step-label col-sm-2" for="">持卡人身分證號/居留證號</label>
            <div class="col-sm-10">
                @Html.TextBoxFor(m => m.CARD_IDN, new { @class = "form-control", @placeholder = "請輸入持卡人身份證字號/居留證號" })
                <span style="color: red; font-weight: bold;">請使用申請人信用卡繳費</span>
            </div>
        </div>
        <div class="form-group">
            <label class="step-label col-sm-2" for="">註一</label>
            <div class="col-sm-10" style="margin-top:10px">
                <font color="#CC3333">請於郵寄繳費憑據時加註「申請編號」，以利核銷。</font>
            </div>
        </div>
        <div class="form-group">
            <label class="step-label col-sm-2" for="">註二</label>
            <div class="col-sm-10" style="margin-top:10px">
                <font color="#CC3333">請於現場繳費時告知「申請編號」，以利核銷。</font>
            </div>
        </div>
        <div class="form-group">
            <label class="step-label col-sm-2" for="">註三</label>
            <div class="col-sm-10">
                <font color="#CC3333">劃撥金額須外加手續費(金額1,000元以下，每筆15元；1,001元以上，每筆20元手續費，詳情請參考<a href="http://www.post.gov.tw/post/index.jsp" target="_blank">中華郵政全球資訊網</a>)。</font>
            </div>
        </div>

        <div class="form-group">
            <label class="step-label col-sm-2" for="">註四</label>
            <div class="col-sm-10">
                <font color="#CC3333">使用信用卡繳費時請注意，刷卡繳費完成後該系統會自動導回本申辦頁面，並成功取得案件編號才算完成此案件申辦。</font>
            </div>
        </div>
        <div class="form-group">
            <label class="step-label col-sm-2" for="">註五</label>
            <div class="col-sm-10">
                <font color="#CC3333">使用超商繳費時，須外加手續費 @Html.Raw(ES.Utils.DataUtils.GetConfig("PAY_STORE_FEE")) 元。</font>
            </div>
        </div>

        <div class="btn-bar text-center">
            <button type="button" id="btnSave" class="btn btn-save" onclick="doSave()">確認送出</button>
            <button type="button" id="btnReset" class="btn btn-clear">清除資料</button>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        @*$("#PAY_A_FEE").prop("readonly",false);
        $("#PAY_A_FEE").val(@Model.TOTAL_MEM);
        $("#PAY_A_FEE").prop("readonly", true);*@

        blockAlert("如需開立收據者，請以書面辦理。", "訊息");
    });

    function changePayMethod(obj) {
        if (obj.value == 'C') {
            $('#TR_CARD_IDN').show();
            blockAlert("線上付款刷卡接受台灣地區發行之MasterCard®, Visa®, JCB®之信用卡。", "訊息");
        } else {
            $('#TR_CARD_IDN').hide();
        }
        $('#PAY_METHOD').val($(obj).val());
    }

    //確認送出-檢核
    function doSave() {
        if ($('#PAY_METHOD').val() == '') {
            blockAlert('請選擇繳費方式!!', "訊息");
        }
        else if ($('#PAY_METHOD').val() == 'C' && $('#CARD_IDN').val() == '') {
            blockAlert('請輸入持卡人身份證字號/居留證號!!', "訊息");
        }
        else if ($('#PAY_METHOD').val() == 'C' && !doIDNVerfi($('#CARD_IDN').val()) && !doResidentIDVerify($('#CARD_IDN').val())) {
            blockAlert('請輸入"正確"持卡人身份證字號/居留證號', '訊息');
        }
        else {
            //blockAlert('如需開立收據者，請以書面辦理。', "訊息", save);
            save();
        }
    }

    //確認送出-儲存
    function save() {
        blockUI();

        $("#PreViewForm").html("");

        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Save")').submit();
    }

    //test儲存檢核
    @*function save2() {
        var data = new FormData($('#main_form')[0]);

        $.ajax({
            url: '@Url.Action("Save", "Apply_001008")',
            type: 'POST',
            cache: false,
            data: data,
            processData: false,
            contentType: false
        }).done(function (res) {
            $("#IsUpLoadFile").val("0");

        });
    }*@
    
    //身分證編號檢核
    function doIDNVerfi(CARD_IDN) {
        var idStr = CARD_IDN;
        var v = 0;

        tab = "ABCDEFGHJKLMNPQRSTUVXYWZIO"
        A1 = new Array(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3);
        A2 = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5);
        Mx = new Array(9, 8, 7, 6, 5, 4, 3, 2, 1, 1);

        if (idStr.length != 10) return false;
        var i = tab.indexOf(idStr.charAt(0));
        if (i == -1) return false;
        var sum = A1[i] + A2[i] * 9;

        for (i = 1; i < 10; i++) {
            v = parseInt(idStr.charAt(i));
            if (isNaN(v)) return false;
            sum = sum + v * Mx[i];
        }
        debugger;
        if (sum % 10 != 0) return false;
        return true;
    }

    //居留證號檢核
    @*ref:http://120.116.22.209/wp/index.php/2019/04/10/350/*@
    function doResidentIDVerify(CARD_IDN) {
        var idStr = CARD_IDN;

            //if (! /^[a-zA-Z]{1}[a-dA-D1-2]{1}[0-9]{8}$/.test(idStr)) {
            if (isNaN(idStr.substr(2, 8)) ||
                    (!/^[A-Z]$/.test(idStr.substr(0, 1))) ||
                        (!/^[A-Z]$/.test(idStr.substr(1, 1)))) {
                return false;
            } else {
                var id_ = idStr.toUpperCase();
                var sum = 0;
                var str1 = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
                var str2 = "1011121314151617341819202122352324252627282932303133";
                var t1 = str2.substr(str1.indexOf(idStr.substr(0, 1)) * 2, 2);
                var t2 = str2.substr(str1.indexOf(idStr.substr(1, 1)) * 2, 2);

                sum = t1.substr(0, 1) * 1 + t1.substr(1, 1) * 9;
                sum += (t2 % 10) * 8;

                var t10 = idStr.substr(9, 1);

                for (t_i = 3; t_i <= 9; t_i++) {
                    sum += idStr.substr(t_i - 1, 1) * (10 - t_i);
                }

                (sum % 10 == 0) ? t10_ = 0 : t10_ = 10 - (sum % 10);
                debugger;
                return (t10_ == t10 ? true : false);
            }
        }
</script>