@using ES.Models;
@model LoginDetailModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ViewBag.Title = "加入會員";
    ShareCodeListModel SC = new ShareCodeListModel();

    //身份證/統一編號
    string s_usertype = "統一編號";
    string s_userplace = "請輸入您的統一編號";
    bool flag_canuse_ChkACCNO2 = false;
    bool flag_canuse_ChkACCNO3 = false;
    if (Model == null || Model.Hid_RPCTYPE == null) { return; }
    //if (Model != null && Model.Hid_RPCTYPE != null)    {    }
    if (Model.Hid_RPCTYPE.Equals("P") && Model.Hide_enccert != null && Model.Hide_enccert.Length > 1) { flag_canuse_ChkACCNO2 = true; }
    if (Model.Hid_RPCTYPE.Equals("C") && Model.Hide_enccert != null && Model.Hide_enccert.Length > 1) { flag_canuse_ChkACCNO3 = true; }
    //if (Model.Hid_RPCTYPE.Equals("P")) { s_usertype = "身份證號"; s_userplace = "請輸入您的身份證號"; }
    if (Model.Hid_RPCTYPE.Equals("P")) { s_usertype = "身份證編號/居留證號"; s_userplace = "請輸入您的身份證編號/居留證號"; } //20201222 fix 配合[MOHES-917]醫事人員請領英文證明書 - 001008 - (前台)調整身份證字號欄位的標題與欄位規則進行修正

}
<script>
    $('#lihead_Login').addClass("navMark-orange");
</script>
@using (Html.BeginForm("Index", "Login", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", @id = "main_form" }))
{
    @Html.HiddenFor(m => m.Hide_PinVerify, new { id = "Hide_PinVerify" })
    @Html.HiddenFor(m => m.Hide_enccert, new { id = "Hide_enccert" })
    @Html.HiddenFor(m => m.Hide_cadata, new { id = "Hide_cadata" })
    @Html.HiddenFor(m => m.Hide_sign, new { id = "Hide_sign" })
    @Html.HiddenFor(m => m.Hide_loginType, new { id = "Hid_logType" })
    @Html.HiddenFor(m => m.Hid_RPCTYPE, new { id = "Hid_RPCTYPE" })

    <div class="container-fluid">
        <!--bread -->
        <div class="col-sm-12">
            <div class="breadlink"><i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> > <a href="@(Url.Action("Index", "Member"))">會員專區</a> > <a href="#">@Html.Raw(ViewBag.Title)</a></div>
        </div>
        <div class="clearfix"></div>
        <!--form-->
        <h3 class="note-title note-titlebar-blue">加入會員</h3>
        <div class="form-set form-gray">
            <!-- second-title -->
            <h2 class="second-title">帳號設定</h2>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>帳號</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.ACC_NO, new { @class = "form-normal form-40", maxlength = "20", placeholder = "欲設定帳號" })
                    <button id="btn_ChkACC_NO" type="button" class="btn btn-info" onclick="doChkACC_NO();">檢查帳號</button>
                    <p class="help-block">本帳號用於本站各機制之用戶判別。帳號的第一個字元必須為英文字母，加上若干其他英文字母或底線或數字組成，最少應有6個字元，最多不可超過20個字元，亦不可使用身分證為帳號。例如james_wu、marychen12等，均為合法帳號名稱。</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>密碼</label>
                <div class="col-sm-10">
                    @Html.PasswordFor(m => m.PSWD, new { @class = "form-normal form-40", maxlength = "20", placeholder = "欲設定密碼", autocomplete = "off" })
                    @if (flag_canuse_ChkACCNO2)
                    {
                        <button id="btn_ChkACC_NO2" type="button" class="btn btn-info" onclick="doChkACC_NO2();">憑證綁定帳號</button>
                        <span>輸入原來的帳號與密碼，並且按「憑證綁定帳號」即可綁定自然人憑證</span>
                    }
                    @if (flag_canuse_ChkACCNO3)
                    {
                        <button id="btn_ChkACC_NO3" type="button" class="btn btn-info" onclick="doChkACC_NO3();">憑證綁定帳號</button>
                        <span>輸入原來的帳號與密碼，並且按「憑證綁定帳號」即可綁定工商憑證</span>
                    }
                    <p class="help-block">密碼必須由大小寫英文字母及數字及特殊字元至少各一碼所組成，最少應有8個字元，最多不可超過20個字元。建議您的密碼至少設定8個字元【包括大、小寫英文字母（A到Z、a到z）、數字（0到9）、特殊字元（!、@@、#、$、%、-、_）等，例：A@38Bh!7、U123_joy】，並每3個月更新1次，以維護您的密碼安全。</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>確認密碼</label>
                <div class="col-sm-10">
                    @Html.PasswordFor(m => m.PSWD_CHK, new { @class = "form-normal form-40", maxlength = "20", placeholder = "再次輸入密碼", autocomplete = "off" })
                    <p class="help-block">密碼必須由大小寫英文字母及數字及特殊字元至少各一碼所組成，最少應有8個字元，最多不可超過20個字元。建議您的密碼至少設定8個字元【包括大、小寫英文字母（A到Z、a到z）、數字（0到9）、特殊字元（!、@@、#、$、%、-、_）等，例：A@38Bh!7、U123_joy】，並每3個月更新1次，以維護您的密碼安全。</p>
                </div>
            </div>
            <div class="form-group">
                @*身份證號/統一編號*@
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.Raw(s_usertype)</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.IDN, new { @class = "form-normal form-40", maxlength = "20", placeholder = s_userplace, autocomplete = "off" })
                    <p class="help-block">
                        個人請填身分證字號，公司法人請填統一編號並請連續填寫勿加入空格，如: A123456789。<br>
                        身分證字號/統一編號非常重要，因為如果將來您忘記密碼，就要靠身分證字號/統一編號及EMAIL信箱來取回密碼
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>電子信箱</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.MAIL, new { @id = "EMAIL1", @class = "form-normal form-40", maxlength = "60", placeholder = "輸入E-MAIL", autocomplete = "off" })
                    <p class="help-block">建議您填上常用的e-mail信箱，因為我們會利用您填入的e-mail傳送處理進度的通知訊息，如果您填入不正確的e-mail或是填入不常用的e-mail，將無法收到處理進度的通知訊息喔！</p>
                </div>
            </div>
            @*<div id="formCOMP1"></div>*@
            @if (Model.Hid_RPCTYPE.Equals("C"))
            {
            <!--formCOMP1-->
                <h2 class="second-title">會員基本資料</h2>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>公司（商號）名稱</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.NAME, new { @id = "C_NAME", @class = "form-control", maxlength = "60", placeholder = "公司（商號）名稱（中文）" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">（<font style="color: red;">中文</font>）</p> </div>
                    <div class="clearfix"></div>
                    @*<div class="clearfix"></div>*@
                    <div class="col-sm-4 col-sm-offset-2">
                        @Html.TextBoxFor(m => m.ENAME, new { @id = "C_ENAME", @class = "form-control", maxlength = "60", placeholder = "公司（商號）名稱（英文）" })
                        @*<span style='color:blue' id='RomanName_SP'><a target="_blank" href="https://www.boca.gov.tw/sp-natr-singleform-1.html">外交部中譯英系統</a></span>*@
                    </div>
                    <div class="col-sm-6"><p class="help-block">（<font style="color: red;">英文</font>）</p> </div>
                    <div class="col-sm-6"><p class="help-block">格式：Sample Co.,LTD.</p> </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>公司（商號）電話</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.TEL, new { @id = "TEL", @class = "form-control", maxlength = "20", placeholder = "公司（商號）電話號碼" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">格式：00-00000000#000</p> </div>
                </div>

                <div class="form-group">
                    <label class="step-label col-sm-2" for="">公司（商號）傳真</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.FAX, new { @id = "FAX", @class = "form-control", maxlength = "20", placeholder = "公司（商號）傳真號碼" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">格式：00-00000000#000</p> </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>公司（商號）地址</label>
                    <div class="col-sm-10 form-inline">
                        @Html.TextBoxFor(m => m.ADDR_CODE, new { @id = "ADDR_CODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號5碼", maxlength = "5" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.ADDR_TEXT, new { @id = "ADDR_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="doADDRSelect()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.ADDR_DETAIL, new { @class = "form-normal", placeholder = "公司（商號）地址（中文）", size = 59, maxlength = "64" })
                        <span>（<font style="color: red;">中文</font>）</span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-10 form-inline col-sm-offset-2">
                        @Html.TextBoxFor(m => m.EADDR, new { @class = "form-normal", placeholder = "公司（商號）地址（英文） ", size = 59, maxlength = "300" })
                        @*<div class="col-sm-6"><p class="help-block">（<font style="color: red;">英文</font>）</p> </div>*@
                        <span>（<font style="color: red;">英文</font>）</span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="step-label col-sm-2" for="">藥商許可執照編號</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.MEDICO, new { @class = "form-control", maxlength = "60", placeholder = "藥商許可執照編號" })
                    </div>
                    <span>申請第一等級醫療器材查驗登記，藥品、醫療器材廣告申請必填</span>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">負責人</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.CHR_NAME, new { @class = "form-control", maxlength = "60", placeholder = "負責人中文姓名" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">（<font style="color: red;">中文</font>）</p> </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4 col-sm-offset-2">
                        @Html.TextBoxFor(m => m.CHR_ENAME, new { @class = "form-control", maxlength = "60", placeholder = "負責人英文姓名" })
                        @*<span style='color:blue' id='RomanName_SP'><a target="_blank" href="https://www.boca.gov.tw/sp-natr-singleform-1.html">外交部中譯英系統</a></span>*@
                    </div>
                    <div class="col-sm-6"><p class="help-block">（<font style="color: red;">英文</font>）@*需與護照英文姓名相同*@</p> </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>聯絡人（承辦人）姓名</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.CNT_NAME, new { @class = "form-control", maxlength = "60", placeholder = "聯絡人（承辦人）中文姓名" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">（<font style="color: red;">中文</font>）</p> </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4 col-sm-offset-2">
                        @Html.TextBoxFor(m => m.CNT_ENAME, new { @class = "form-control", maxlength = "60", placeholder = "聯絡人（承辦人）英文姓名" })
                        @*<span style='color:blue' id='RomanName_SP'><a target="_blank" href="https://www.boca.gov.tw/sp-natr-singleform-1.html">外交部中譯英系統</a></span>*@
                    </div>
                    <div class="col-sm-6"><p class="help-block">（<font style="color: red;">英文</font>）@*需與護照英文姓名相同*@</p> </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""> 聯絡人（承辦人）電話</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.CNT_TEL, new { @class = "form-control", maxlength = "20", placeholder = "聯絡人（承辦人）電話" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">格式：00-00000000#000</p> </div>
                </div>

            }
            @if (Model.Hid_RPCTYPE.Equals("P"))
            {
            <!--formIDN1-->
                <h2 class="second-title">會員基本資料</h2>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>姓名</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.NAME, new { @class = "form-control", maxlength = "60", placeholder = "中文姓名" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">（<font style="color: red;">中文</font>）</p> </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-4 col-sm-offset-2">
                        @Html.TextBoxFor(m => m.ENAME, new { @class = "form-control", maxlength = "60", placeholder = "英文姓名" })
                        <span style='color:blue' id='RomanName_SP'><a target="_blank" href="https://www.boca.gov.tw/sp-natr-singleform-1.html">外交部中譯英系統</a></span>
                    </div>
                    <div class="col-sm-6"><p class="help-block">（<font style="color: red;">英文</font>）需與護照英文姓名相同</p> </div>
                    <div class="col-sm-6"><p class="help-block">格式：WANG,WEN-WEN、Wen-Wen,Wang</p> </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">原住民羅馬拼音</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.ONAME, new { @class = "form-control", maxlength = "400", placeholder = "請輸入您的原住民羅馬拼音" })
                    </div>
                    <div class="col-sm-6"></div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>電話號碼</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.TEL, new { @class = "form-control", maxlength = "20", placeholder = "請輸入您的電話號碼" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">格式：00-00000000#000</p> </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">手機</label>
                    <div class="col-sm-4">
                        @Html.TextBoxFor(m => m.MOBILE, new { @class = "form-control", maxlength = "20", placeholder = "請輸入您的手機號碼" })
                    </div>
                    <div class="col-sm-6"><p class="help-block">格式：0000-000000</p> </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>通訊地址</label>
                    <div class="col-sm-10 form-inline">
                        @Html.TextBoxFor(m => m.ADDR_CODE, new { @id = "ADDR_CODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號5碼", maxlength = "5" })
                        <div class="input-group">
                            @Html.TextBoxFor(m => m.ADDR_TEXT, new { @id = "ADDR_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-info" onclick="doADDRSelect()"><i class="fa fa-search" aria-hidden="true"></i></button>
                            </span>
                        </div>
                        @Html.TextBoxFor(m => m.ADDR_DETAIL, new { @class = "form-normal", placeholder = "請輸入您的地址 ", size = 59, maxlength = "64" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>性別</label>
                    <div class="col-sm-10">
                        @Html.DropDownListFor(x => x.SEX_CD, SC.SEX_list, new { @class = "form-normal" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>出生年月日</label>
                    <div class="col-sm-4">
                        @Html.DatePickerTWFor(x => x.BIRTHDAY, new { size = "10", placeholder = "格式：0990101 或 099/01/01 " })
                    </div>
                </div>

            }
            @*<div id="formIDN1"></div>*@

            <div class="btn-bar text-center">
                <button class="btn btn-save" type="button" onclick="doSave()">存檔</button>
                <button class="btn btn-clear" type="button" onclick="doClean()">重填</button>
                <button class="btn btn-clear" type="button" onclick="doBack()">返回</button>
            </div>

        </div>
    </div>

    <div class="clearfix"></div>
}
<script type="text/javascript">

    $(document).ready(function () {
        // 地址
        //$('#ADDR_CODE').on('blur', doADDRNameGet); doADDRNameGet();
        //$("input").blur(function () {
        //    $(this).css("background-color", "#ADFF2F");
        //});
        $('#ADDR_CODE').on('blur', doADDRNameGet); doADDRNameGet();

        $("#PSWD").change(function () { doPSWDVerfi(); });
        $("#PSWD_CHK").change(function () { doPSWD_CHKVerfi(); });
        $("#EMAIL1").change(function () { doMAILVerfi(); });

        $("#NAME").change(function () { doNAMEVerfi("NAME"); });
        $("#C_NAME").change(function () { doNAMEVerfi("C_NAME"); });
        $("#ENAME").change(function () { doENAMEVerfi("ENAME"); });
        //$("#ONAME").change(function () { doENAMEVerfi("ONAME") });
        $("#TEL").change(function () { doTELVerfi('TEL'); });
        $("#FAX").change(function () { doFAXVerfi('FAX'); });
        $("#MOBILE").change(function () { doMOBILEVerfi(); });

        $("#CHR_NAME").change(function () { doNAMEVerfi('CHR_NAME'); });
        $("#CHR_ENAME").change(function () { doENAMEVerfi('CHR_ENAME'); });
        $("#CNT_NAME").change(function () { doNAMEVerfi('CNT_NAME'); });
        $("#CNT_ENAME").change(function () { doENAMEVerfi('CNT_ENAME'); });
        $("#CNT_TEL").change(function () { doTELVerfi('CNT_TEL'); });
        //$("#ADDR_CODE").change(function () { doADDRNameGet(); });
        $("#IDN").change(function () { checkIDNVerfi(); });
    });

    function validation() {
        var msg = '';
        var tmpMsg = '';
        var re = /^[A-Za-z](1|2|8|9)\d{8}$/
        var re2 = /^[A-Za-z]{1}[A-Za-z0-9_]{5,19}/
        var ACC_NO = $("#ACC_NO").val();
        var rpcType = $('#Hid_RPCTYPE').val();
        var userType = '@(s_usertype)';
        

        if (ACC_NO == "") {
            msg += '請填入帳號<br/>';
        }
        else if (ACC_NO.length < 6) {
            msg += '帳號最少應有6個字元 <br/>';
        }
        else if (ACC_NO.length > 20) {
            msg += '最多不可超過20個字元 <br/>';
        }
        //else if (re.test(ACC_NO)) {
        else if (rpcType == "P" && re.test(ACC_NO)) {
            msg += '帳號不得為身分證編號/居留證號格式 !<br/>';
        }
        else if (!re2.test(ACC_NO)) {
            msg += '帳號格式有誤，請檢查輸入字元 !<br/>';
        }
        if ($('#PSWD').val().trim() == '') {
            msg += '請填入密碼<br/>';
        }
        if ($('#PSWD_CHK').val().trim() == '') {
            msg += '請填入確認密碼<br/>';
        }
        if ($('#IDN').val().trim() == '') {
            //msg += '請填入身分證號<br/>';
            msg += '請填入' + userType + '<br/>';
        } else {
            tmpMsg = chkIDN();
            msg += (tmpMsg == "" ? "" : tmpMsg + "<br/>");
        }

        if ($('#EMAIL1').val().trim() == '') {
            msg += '請填入電子信箱<br/>';
        }

        if (rpcType == "P") {
            if ($('#NAME').val().trim() == '') {
                msg += '請填入姓名<br/>';
            }
            if ($('#TEL').val().trim() == '') {
                msg += '請填入電話號碼<br/>';
            }
            if ($('#ADDR_CODE').val().trim() == '') {
                msg += '請填入郵遞區號<br/>';
            }
            if ($('#ADDR_DETAIL').val().trim() == '') {
                msg += '請填入通訊地址<br/>';
            }
            if ($('#SEX_CD').val().trim() == '') {
                msg += '請填入性別<br/>';
            }
            if ($('#BIRTHDAY').val().trim() == '') {
                msg += '請填入出生年月日<br/>';
            }
        }
        if (rpcType == "C") {
            if ($('#C_NAME').val().trim() == '') {
                msg += '請填入公司（商號）名稱（中文）<br/>';
            }
            if ($('#TEL').val().trim() == '') {
                msg += '請填入公司（商號）電話號碼<br/>';
            }
            if ($('#ADDR_CODE').val().trim() == '') {
                msg += '請填入公司（商號）地址 郵遞區號<br/>';
            }
            if ($('#ADDR_DETAIL').val().trim() == '') {
                msg += '請填入公司（商號）地址 <br/>';
            }
            if ($('#CNT_NAME').val().trim() == '') {
                msg += '請填入聯絡人（承辦人）姓名<br/>';
            }
        }

        if (msg != '') {
            blockAlert(msg, '訊息');
            return false;
        }
        return true;
    }

    //檢核身分證編/居留證號or統一編號
    function chkIDN() {
        var reC1 = /^[0-9]{8}$/;
        var idStr = $("#IDN").val();
        var RPCStr = $('#Hid_RPCTYPE').val();
        var msg = "";

        if (RPCStr == "C") {
            if (idStr.length != 8) {
                msg = "統一編號 長度不正確 ! ";
            } else if (!reC1.test(idStr)) {
                msg = "統一編號格式有誤，請檢查輸入字元! ";
            }
        }
        if (RPCStr == "P") {
            if (idStr.length != 10) {
                msg = "身份證編號/居留證號 長度不正確! ";
            } else if (!doIDNVerfi() && !doResidentIDVerify()) {
                msg = "身份證編號/居留證號 格式錯誤!";
            }
        }

        return msg;
    }


    function doADDRSelect() {
        var url = '/ZIP_CO';
        var title = '郵遞區號查詢'; popupWindow({ 'width': -1 }, url, title, null, function (retData, doc) {
            if (retData != null) {
                $('#ADDR_CODE').val(retData.Id);
                $('#ADDR_TEXT').val(retData.Name);
            }
        });
    }

    // 地址
    function loadDialogADDRCodeMapName(data) {
        ajaxLoadMore(data.url,
            data.arg,
            function (resp) {
                if (resp === undefined) data.box.val('');
                else {
                    debugger;
                    //console.log(resp.data);
                    //console.log(data); //console.log(resp);
                    if (resp.data != '') data.box.val(resp.data);
                    else {
                        data.box.val('');
                        data.add.val('');
                        blockAlert(data.msg);
                    }
                }
            });
    };

    function doADDRNameGet() {
        var code = $('#ADDR_CODE');
        var code_text = $('#ADDR_TEXT');
        var data = null;
        data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#ADDR_TEXT'),
            'add': $('#ADDR_CODE')
        };
        //console.log(data);
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            loadDialogADDRCodeMapName(data);
        }
    }


    // 帳號檢查
    function doChkACC_NO() {
        var re = /^[A-Za-z](1|2|8|9)\d{8}$/
        var re2 = /^[A-Za-z]{1}[A-Za-z0-9_]{5,19}/

        var ACC_NO = $("#ACC_NO").val();
        $("#ACC_NO").attr("readonly", false);

        if (ACC_NO == "") { blockAlert("請填入帳號 !"); }
        else if (ACC_NO.length < 6) { blockAlert("帳號最少應有6個字元 !"); }
        else if (ACC_NO.length > 20) { blockAlert('最多不可超過20個字元 !'); }
        else if (re.test(ACC_NO)) { blockAlert("帳號不得為身分證格式 !"); }
        else if (!re2.test(ACC_NO)) {
            blockAlert('帳號格式有誤，請檢查輸入字元 !');;
        }
        else {
            var data = {
                "ACC_NO": ACC_NO
            }
            ajaxLoadMore('@Url.Action("ChkACC_NO")', data, function (retData) {
                if (retData.status) {
                    blockMessage(retData.message);
                }
                else {
                    blockAlert(retData.message);
                    //$("#ACC_NO").val("");
                }
            });
        }
    };

    // 憑證綁定帳號-自然人
    function doChkACC_NO2() {
        var re = /^[A-Za-z](1|2|8|9)\d{8}$/
        var re2 = /^[A-Za-z]{1}[A-Za-z0-9_]{5,19}/

        var ACC_NO = $("#ACC_NO").val();
        var PSWD = $("#PSWD").val();

        if (ACC_NO == "") { blockAlert("請填入帳號 !"); }
        else if (ACC_NO.length < 6) { blockAlert("帳號最少應有6個字元 !"); }
        else if (ACC_NO.length > 20) { blockAlert('最多不可超過20個字元 !'); }
        else if (re.test(ACC_NO)) { blockAlert("帳號不得為身分證格式 !"); }
        else if (!re2.test(ACC_NO)) {
            blockAlert('帳號格式有誤，請檢查輸入字元 !');;
        }
        else {
            var data = {
                "ACC_NO": ACC_NO, "PSWD": PSWD
            }

            ajaxLoadMore('@Url.Action("ChkACC_NO2")', data, function (retData) {
                if (retData.status) {
                    //查有資料
                    //retData.data.ACC_NO

                    //ACC_NO, IDN, SEX_CD, NAME, ENAME,
                    //CNT_NAME, CNT_ENAME, CNT_TEL, CHR_NAME, CHR_ENAME,
                    //TEL, FAX, MAIL, CITY_CD, TOWN_CD,
                    //ADDR, EADDR, MEDICO
                    var mem = retData.data[0];
                    $("#IDN").val(mem.IDN);
                    $("#EMAIL1").val(mem.MAIL);
                    $("#NAME").val(mem.NAME);
                    $("#ENAME").val(mem.ENAME);
                    $("#TEL").val(mem.TEL);
                    $("#MOBILE").val(mem.MOBILE);
                    $("#ADDR_CODE").val(mem.CITY_CD);
                    $("#ADDR_TEXT").val(mem.ADDR_TEXT);
                    $("#ADDR_DETAIL").val(mem.ADDR);
                    $("#SEX_CD").val(mem.SEX_CD);
                    $("#PSWD_CHK").val(PSWD);
                    $("#BIRTHDAY").val(mem.BIRTHDAY_AD);
                    $("#BIRTHDAY_TW").val(mem.BIRTHDAY_TW);

                    $("#ACC_NO").val(ACC_NO);
                    $("#PSWD").val(PSWD);
                    $("#PSWD_CHK").val(PSWD);

                    $("#btn_ChkACC_NO").hide();
                    $("#btn_ChkACC_NO2").hide();
                    //$("#IDN").attr("readonly", true);
                    $("#ACC_NO").attr("readonly", true);//.attr('disabled', true);
                    $("#PSWD").attr("readonly", true);//.attr('disabled', true);
                    $("#PSWD_CHK").attr("readonly", true);//.attr('disabled', true);

                    //console.log(mem);

                    blockMessage(retData.message);
                    //blockMessage(retData.message);
                }
                else {
                    //查無資料
                    if (retData.message) { blockAlert(retData.message); }
                    else { blockAlert("查詢資料有誤!"); }
                    //$("#ACC_NO").val("");
                }
            });
        }
    };

    // 憑證綁定帳號-工商
    function doChkACC_NO3() {
        var re = /^[A-Za-z](1|2|8|9)\d{8}$/
        var re2 = /^[A-Za-z]{1}[A-Za-z0-9_]{5,19}/

        var ACC_NO = $("#ACC_NO").val();
        var PSWD = $("#PSWD").val();

        if (ACC_NO == "") { blockAlert("請填入帳號 !"); }
        else if (ACC_NO.length < 6) { blockAlert("帳號最少應有6個字元 !"); }
        else if (ACC_NO.length > 20) { blockAlert('最多不可超過20個字元 !'); }
        else if (re.test(ACC_NO)) { blockAlert("帳號不得為身分證格式 !"); }
        else if (!re2.test(ACC_NO)) {
            blockAlert('帳號格式有誤，請檢查輸入字元 !');;
        }
        else {
            var data = {
                "ACC_NO": ACC_NO, "PSWD": PSWD
            }

            ajaxLoadMore('@Url.Action("ChkACC_NO3")', data, function (retData) {
                if (retData.status) {
                    //查有資料
                    //retData.data.ACC_NO
                    //ACC_NO, IDN, SEX_CD, NAME, ENAME,
                    //CNT_NAME, CNT_ENAME, CNT_TEL, CHR_NAME, CHR_ENAME,
                    //TEL, FAX, MAIL, CITY_CD, TOWN_CD,
                    //ADDR, EADDR, MEDICO
                    var mem = retData.data[0];
                    $("#IDN").val(mem.IDN);
                    $("#EMAIL1").val(mem.MAIL);
                    $("#C_NAME").val(mem.NAME);
                    $("#C_ENAME").val(mem.ENAME);
                    $("#TEL").val(mem.TEL);
                    $("#FAX").val(mem.FAX);
                    //$("#MOBILE").val(mem.MOBILE);
                    $("#ADDR_CODE").val(mem.CITY_CD);
                    $("#ADDR_TEXT").val(mem.ADDR_TEXT);
                    $("#ADDR_DETAIL").val(mem.ADDR);
                    //$("#SEX_CD").val(mem.SEX_CD);
                    $("#PSWD_CHK").val(PSWD);
                    //$("#BIRTHDAY").val(mem.BIRTHDAY_AD);
                    //$("#BIRTHDAY_TW").val(mem.BIRTHDAY_TW);
                    $("#EADDR").val(mem.EADDR);
                    $("#MEDICO").val(mem.MEDICO);
                    $("#CHR_NAME").val(mem.CHR_NAME);
                    $("#CHR_ENAME").val(mem.CHR_ENAME);
                    $("#CNT_NAME").val(mem.CNT_NAME);
                    $("#CNT_ENAME").val(mem.CNT_ENAME);
                    $("#CNT_TEL").val(mem.CNT_TEL);

                    $("#ACC_NO").val(ACC_NO);
                    $("#PSWD").val(PSWD);
                    $("#PSWD_CHK").val(PSWD);

                    $("#btn_ChkACC_NO").hide();
                    $("#btn_ChkACC_NO3").hide();
                    //$("#IDN").attr("readonly", true);
                    $("#ACC_NO").attr("readonly", true);//.attr('disabled', true);
                    $("#PSWD").attr("readonly", true);//.attr('disabled', true);
                    $("#PSWD_CHK").attr("readonly", true);//.attr('disabled', true);

                    //console.log(mem);
                    blockMessage(retData.message);
                    //blockMessage(retData.message);
                }
                else {
                    //查無資料
                    if (retData.message) { blockAlert(retData.message); }
                    else { blockAlert("查詢資料有誤!"); }
                    //$("#ACC_NO").val("");
                }
            });
        }
    };


    // 文字檢核
    // 姓名
    function doNAMEVerfi(VCOL) {
        var s_msg = "";
        if (VCOL == "NAME") { s_msg = "請填入正確 姓名格式 !"; }
        //if (VCOL == "C_NAME") { s_msg = "請填入正確 公司（商號）名稱（中文）格式 !"; }
        if (VCOL == "CHR_NAME") { s_msg = "請填入正確 負責人中文姓名格式 !"; }
        if (VCOL == "CNT_NAME") { s_msg = "請填入正確 聯絡人（承辦人）中文姓名格式 !"; }
        var NAMEStr = $("#" + VCOL).val();
        if (NAMEStr == "") { return; }
        //console.log("#NAMEStr:" + NAMEStr);
        var re = /^[\u4e00-\u9fa5･\s•]*$/;
        if (s_msg != "" && !re.test(NAMEStr)) {
            blockAlert(s_msg);
            //$("#NAME").focus();
        }
    }

    // 英文姓名
    function doENAMEVerfi(VCOL) {
        var s_msg = "";
        if (VCOL == "ENAME") { s_msg = "請填入正確 英文姓名格式 !"; }
        if (VCOL == "C_ENAME") { s_msg = "請填入正確 公司（商號）名稱（英文）格式 !"; }
        if (VCOL == "CHR_ENAME") { s_msg = "請填入正確 負責人英文姓名格式 !"; }
        if (VCOL == "CNT_ENAME") { s_msg = "請填入正確 聯絡人（承辦人）英文姓名格式 !"; }
        var ENAMEStr = $("#" + VCOL).val();
        //if (ENAMEStr == "") { return; }
        ////console.log("#ENAMEStr:" + ENAMEStr);
        //var re = /^[A-Za-z]*$/
        //if (s_msg != "" && !re.test(ENAMEStr)) {
        //    blockAlert(s_msg);
        //    //$("#ENAME").focus();
        //}
        return;
    }

    // 密碼
    function doPSWDVerfi() {
        var re = /^(?=.*[!@@#$%_-])(?=.*[A-Za-z])(?=.*[0-9])[A-Za-z0-9!@@#$%_-]*$/;
        var PSWD = $("#PSWD").val();
        if (PSWD == "") { return; }
        if (PSWD.length < 8) { blockAlert("密碼最少應有8個字元 !"); }
        else if (PSWD.length > 20) { blockAlert('最多不可超過20個字元 !'); }
        else if (!re.test(PSWD)) {
            blockAlert("密碼格式錯誤 !");
            //$("#PSWD").focus();
            return false;
        }
        return true;
    }

    // 密碼-再檢核
    function doPSWD_CHKVerfi() {
        var PSWD = $("#PSWD").val();
        var PSWD_CHK = $("#PSWD_CHK").val();
        if (PSWD_CHK == "") { return; }
        if (PSWD_CHK.length < 8) { blockAlert("密碼最少應有8個字元 !"); }
        else if (PSWD_CHK.length > 20) { blockAlert('最多不可超過20個字元 !'); }
        else if (PSWD != PSWD_CHK) {
            blockAlert("密碼與確認密碼不相符 !");
            //$("#PSWD_CHK").focus();
        }
    }

    //function showIDNorCOMP() {
    //    var idStr = $("#IDN").val();
    //    $("#formIDN1").hide();
    //    $("#formCOMP1").hide();
    //    if (idStr.length == 8) { $("#formCOMP1").show(); }
    //    if (idStr.length == 10) { $("#formIDN1").show(); }
    //}

    function checkIDNVerfi() {
        var reC1 = /^[0-9]{8}$/;
        var idStr = $("#IDN").val();
        var RPCStr = $('#Hid_RPCTYPE').val();
        if (RPCStr == "C") {
            if (idStr.length != 8) {
                blockAlert("統一編號 長度不正確 ! ");
            }
            else if (!reC1.test(idStr)) {
                blockAlert("統一編號格式有誤，請檢查輸入字元! ");
            }
            return;
        }
        if (RPCStr == "P") {
            if (idStr.length != 10) {
                blockAlert("身份證編號/居留證號 長度不正確! ");
            }
            else {
                //doIDNVerfi();
                if (!doIDNVerfi() && !doResidentIDVerify()) {
                    blockAlert("身份證編號/居留證號 格式錯誤!");
                }
            }
            return;
        }
        blockAlert("身份證編號/居留證號 或 統一編號 檢核有誤! ");
    }

    //身分證
    /*
    function doIDNVerfi() {
        var idStr = $("#IDN").val();
        if (idStr == "") { return; }
        // 依照字母的編號排列，存入陣列備用。
        var letters = new Array('A', 'B', 'C', 'D',
            'E', 'F', 'G', 'H', 'J', 'K', 'L', 'M',
            'N', 'P', 'Q', 'R', 'S', 'T', 'U', 'V',
            'X', 'Y', 'W', 'Z', 'I', 'O');
        // 儲存各個乘數
        var multiply = new Array(1, 9, 8, 7, 6, 5,
            4, 3, 2, 1);
        var nums = new Array(2);
        var firstChar;
        var firstNum;
        var lastNum;
        var total = 0;
        // 撰寫「正規表達式」。第一個字為英文字母，
        // 第二個字為1或2，後面跟著8個數字，不分大小寫。
        var regExpID = /^[A-Za-z](1|2)\d{8}$/i;
        // 使用「正規表達式」檢驗格式
        if (idStr.length != 10) {
            blockAlert("身份證字號長度不正確 ! ");
        }
        else if (idStr.search(regExpID) == -1) {
            // 基本格式錯誤
            blockAlert("身份證字號格式不正確 ! ");
            return false;
        }
        else {
            // 取出第一個字元和最後一個數字。
            firstChar = idStr.charAt(0).toUpperCase();
            lastNum = idStr.charAt(9);
        }
        // 找出第一個字母對應的數字，並轉換成兩位數數字。
        for (var i = 0; i < 26; i++) {
            if (firstChar == letters[i]) {
                firstNum = i + 10;
                nums[0] = Math.floor(firstNum / 10);
                nums[1] = firstNum - (nums[0] * 10);
                break;
            }
        }
        // 執行加總計算
        for (var i = 0; i < multiply.length; i++) {
            if (i < 2) {
                total += nums[i] * multiply[i];
            } else {
                total += parseInt(idStr.charAt(i - 1)) *
                    multiply[i];
            }
        }

        return true;
    }
    */
    //身分證編號檢核
    function doIDNVerfi() {
        var idStr = $("#IDN").val();
        var v = 0;

        tab = "ABCDEFGHJKLMNPQRSTUVXYWZIO"
        A1 = new Array(1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 3, 3, 3, 3, 3, 3);
        A2 = new Array(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 0, 1, 2, 3, 4, 5);
        Mx = new Array(9, 8, 7, 6, 5, 4, 3, 2, 1, 1);

        if (idStr.length != 10) return false;
        var i = tab.indexOf(idStr.charAt(0));
        if (i == -1) return false;
        var sum = A1[i] + A2[i] * 9;

        for (i = 1; i < 10; i++) {
            v = parseInt(idStr.charAt(i));
            if (isNaN(v)) return false;
            sum = sum + v * Mx[i];
        }
        debugger;
        if (sum % 10 != 0) return false;
        return true;
    }

    //居留證號檢核
    @*ref:http://120.116.22.209/wp/index.php/2019/04/10/350/*@
    function doResidentIDVerify() {
        var idStr = $("#IDN").val();

        //if (! /^[a-zA-Z]{1}[a-dA-D1-2]{1}[0-9]{8}$/.test(idStr)) {
        if (isNaN(idStr.substr(2, 8)) ||
                (!/^[A-Z]$/.test(idStr.substr(0, 1))) ||
                    (!/^[A-Z]$/.test(idStr.substr(1, 1)))) {
            return false;
        } else {
            var id_ = idStr.toUpperCase();
            var sum = 0;
            var str1 = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";
            var str2 = "1011121314151617341819202122352324252627282932303133";
            var t1 = str2.substr(str1.indexOf(idStr.substr(0, 1)) * 2, 2);
            var t2 = str2.substr(str1.indexOf(idStr.substr(1, 1)) * 2, 2);

            sum = t1.substr(0, 1) * 1 + t1.substr(1, 1) * 9;
            sum += (t2 % 10) * 8;

            var t10 = idStr.substr(9, 1);

            for (t_i = 3; t_i <= 9; t_i++) {
                sum += idStr.substr(t_i - 1, 1) * (10 - t_i);
            }

            (sum % 10 == 0) ? t10_ = 0 : t10_ = 10 - (sum % 10);
            debugger;
            return (t10_ == t10 ? true : false);
        }
    }


    // 信箱
    function doMAILVerfi() {
        var MAILStr = $("#EMAIL1").val();
        if (MAILStr == "") { return; }
        var re = /^[\w-]+(\.[\w-]+)*@@[\w-]+(\.[\w-]+)+$/
        if (!re.test(MAILStr)) {
            blockAlert("請填入正確信箱格式 !");
            //$("#MAIL").focus();
            //$("#MAIL").val("");
        }
    }

    // 電話
    function doTELVerfi(findCOL) {
        var TelStr = $("#TEL").val();
        if (TelStr == "") { return; }
        var re = /^(\d{2,4}-)(\d{6,8})?(#\d{1,6})?$/
        if (!re.test(TelStr)) {
            blockAlert("請填入正確的電話格式 !");
            //$("#" + findCOL).focus();
            //$("#TEL").focus();
        }
    }

    // FAX
    function doFAXVerfi(findCOL) {
        var FaxStr = $("#" + findCOL).val();
        if (FaxStr == "") { return; }
        var re = /^(\d{2,4}-)(\d{6,8})?(#\d{1,6})?$/
        if (!re.test(FaxStr)) {
            blockAlert("請填入正確的傳真格式 !");
            //$("#" + findCOL).focus();
            //$("#TEL").focus();
        }
    }

    // 手機
    function doMOBILEVerfi() {
        var MOBILEStr = $("#MOBILE").val();
        if (MOBILEStr == "") { return; }

        var re = /([0][0-9-]{9,11})/
        if (!re.test(MOBILEStr)) {
            blockAlert("請填入正確的手機格式 !");
            //$("#MOBILE").focus();
        }
    }

    /// 存檔-submit-save
    function doSave() {
        if (!validation()) { return; }

        var data = getFormDataToObject($("form[id=main_form]"));
        ajaxLoadMore('@Url.Action("Save")', data, function (retData) {
            if (retData.status) {
                blockMessage(retData.message, "提示訊息", function () {
                    var url = '@Url.Action("Index", "Login")';
                    location.href = url;
                });
            }
            else {
                if (retData.message) { blockAlert(retData.message); }
                else { blockAlert("存檔失敗!"); }
            }
        });
    }

    // 重填
    function doClean() {
        $("#main_form").find(":text,select").each(function () {
            $(this).val("");
        });
    };

    // 取消-返回-回上頁
    function doBack() {
        $("#PSWD").val("");
        $("#EMAIL1").val("");
        var vRPC = $('#Hid_RPCTYPE').val();
        var data = { "num": null, "RPC": null }
        location.href = '@Url.Action("New", "Login")?' + $.param(data);
    }
</script>