@model ES.Models.MessageBoxModel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Expires" content="0" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Pragma-directive" content="no-cache" />
    <meta http-equiv="Cache-Directive" content="no-cache" />
    <title>衛生福利部線上申辦系統</title>
    @Styles.Render("~/Content/themes/redmond/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Action("Index", "Home")Scripts/public.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
        function showMessage() {
            @Html.Raw("blockAlert(\"" + @Model.Message + "\",\"" + @Model.Title + "\", function () { document.location.href = \"" + @Url.Action(Model.Action, Model.Control) + "\"; });")

            @*@if(Model.History != 0) {
                @Html.Raw("jAlert(\"" + @Model.Message + "\", function () { window.history.go(" + @Model.History + "); });")
                @Html.Raw("blockAlert(\"" + @Model.Message + "\",\"" + @Model.Title + "\", function () { window.history.go(" + @Model.History + "); });")
            } else {
                @Html.Raw("jAlert(\"" + @Model.Message + "\", function () { document.location.href = \"" + @Url.Action(Model.Action, Model.Control) + "\"; });")
                @Html.Raw("blockAlert(\"" + @Model.Message + "\",\"" + @Model.Title + "\", function () { document.location.href = \"" + @Url.Action(Model.Action, Model.Control) + "\"; });")
            }*@
        }
    </script>
</head>
<body style="background-color: #FFFFFF;" onload="showMessage();">
</body>
</html>
