@using ES.Models;
@using ES.Services;
@using ES.Models.ViewModels;
@model Apply_011007DoneModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ShareCodeListModel sc = new ShareCodeListModel();
    SessionModel sm = SessionModel.Get();
    ViewBag.SRV_NAME = "社工師證書核發（中文）";
    string s_EndMsg_1A = @"　　您所提交的{0}申請，已完成系統資料填答及上傳流程。
本項目尚有1件紙本資料需要繳交（包括 郵局匯票新臺幣500元１紙，戶名：衛生福利部），提醒您於五個工作天以掛號郵遞方式寄至「衛生福利部社會救助及社工司」
(地址：115204 臺北市南港區忠孝東路六段488號)。待收訖紙本文件後，將會據以辦理您的申請案件，謝謝。";

    //共{1}件, Model.Count.TONotNullString()
    string s_EndMsg_2B = "您所提交的{0}申請，已完成資料補件，將盡速辦理您的申辦案件，謝謝。";
}

<div class="container">
    <div class="col-sm-12">
        <!-- bread  -->
        <div class="breadlink">
            <i class="fas fa-home"></i>
            <a href="@(Url.Action("Index", "Login"))">首頁</a> ／
            <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／
            <a href="#">@Html.Raw(ViewBag.SRV_NAME)</a>
        </div>
        <div class="clearfix"></div>
        <div class="step_map">
            <ul>
                <li>填寫申報表件並上傳檔案</li>
                <li>預覽申辦表件</li>
                <li class="active">完成申報</li>
            </ul>
        </div>
        <h1 class="form-title  title-bg-y">訊息</h1>
        <div class="form-set">
            <div class="form-group">
                <div class="col-sm-10" style="margin-top:10px">
                    @sm.UserInfo.Member.NAME 您好：
                    <br /><br />
                    @switch (Model.status.TONotNullString())
                    {
                        case "1":
                            @Html.Raw(string.Format(s_EndMsg_1A, ViewBag.SRV_NAME))
                            break;
                        case "2":
                            @*@Html.Raw(string.Format(s_EndMsg_2A, ViewBag.SRV_NAME, Model.Count.TONotNullString()))*@
                            @Html.Raw(string.Format(s_EndMsg_2B, ViewBag.SRV_NAME))
                            break;
                        default:
                            break;
                    }
                          <div style="float: right"><br /><br />衛生福利部社會救助及社工司</div>
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-sm-10" style="margin-top:10px;bottom: 3px; right: 6px;">
                        衛生福利部
                    </div>
                </div>*@
        </div>
    </div>
    <div class="clearfix"></div>

</div>
