@using ES.Areas.Admin.Models;
@model Apply_011002ViewModel


<!--2-->
<div class='panel panel-info'>
    <div class='panel-heading'>
        <h2 class='panel-title' data-toggle='collapse' data-parent='#ApplyData' href='#ApplyData'>
            <a>上傳應附檔案(點擊展開)</a>
        </h2>
    </div>
    <div id='ApplyData' class='panel-collapse collapse'>
        <div class='panel-body'>
            <div class="form-blue">
                <div class="form-group">
                    <label class="main-label col-sm-2" for="">佐證文件採合併檔案</label>
                    <div class="col-sm-10">
                        <label class="radio-inline "><input type="radio" name="MERGEYN" value="Y" @(Model.Form.MERGEYN == "Y" ? "checked" : "") onchange="RadioChange()" disabled>是</label>
                        <label class="radio-inline "><input type="radio" name="MERGEYN" value="N" @(Model.Form.MERGEYN != "Y" ? "checked" : "") onchange="RadioChange()" disabled>否</label>
                        <br />
                        若您是將檔案掃描後，於同一份文件內上傳，請選擇佐證文件採合併檔案"是"，檔案分開上傳請選擇"否"
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.FileList.FILE_1)</label>
                        <div class="col-sm-10">
                            @if (Model.Form.FileList.FILENAM != null && Model.Form.FileList.FILENAM.Count > 0)
                            {
                                var filename = Model.Form.FileList.FILENAM.Where(x => x.SEQ == "1").FirstOrDefault();
                                if (filename != null)
                                {
                                    @Html.FileDLForTurbo(m => filename.FILE_NAME, filename.FILE_NAME_TEXT)
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.FileList.FILE_2)</label>
                        <div class="col-sm-10">
                            @if (Model.Form.FileList.FILENAM != null && Model.Form.FileList.FILENAM.Count > 0)
                            {
                                var filename = Model.Form.FileList.FILENAM.Where(x => x.SEQ == "2").FirstOrDefault();
                                if (filename != null)
                                {
                                    @Html.FileDLForTurbo(m => filename.FILE_NAME, filename.FILE_NAME_TEXT)
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.FileList.FILE_3)</label>
                        <div class="col-sm-10">
                            @if (Model.Form.FileList.FILENAM != null && Model.Form.FileList.FILENAM.Count > 0)
                            {
                                var filename = Model.Form.FileList.FILENAM.Where(x => x.SEQ == "3").FirstOrDefault();
                                if (filename != null)
                                {
                                    @Html.FileDLForTurbo(m => filename.FILE_NAME, filename.FILE_NAME_TEXT)
                                }
                            }
                        </div>
                    </div>
                </div>
                @if (Model.Form.APPLY_TYPE == "3")
                {
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.FileList.FILE_4)</label>
                            <div class="col-sm-10">
                                @if (Model.Form.FileList.FILENAM != null && Model.Form.FileList.FILENAM.Count > 0)
                                {
                                    var filename = Model.Form.FileList.FILENAM.Where(x => x.SEQ == "4").FirstOrDefault();
                                    if (filename != null)
                                    {
                                        @Html.FileDLForTurbo(m => filename.FILE_NAME, filename.FILE_NAME_TEXT)
                                    }
                                }
                            </div>
                        </div>
                    </div>
                }
                <div class="btnbar">
                    <button type="button" onclick="GetZip('@Model.Form.FileList.APP_ID')" class="btn btn-blue">檔案打包下載</button>
                </div>
            </div>
        </div>
    </div>
</div>
