@using System.Web.Razor.Parser
@using ES.Models
@using ES.Models.ViewModels
@model Apply_005003FormModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ShareCodeListModel dropdown = new ShareCodeListModel();
    ViewBag.SRV_NAME = "WHO格式之產銷證明書(英文)";
    string s_MSG_1A = @"貴公司申請{0} (案號：{1})一案，「人民申請案線上申辦服務系統」已收件，尚待貴公司繳納規費，請提供申請者聯絡資訊、申請案類別、案件編號及規費金額等資料，連同欲繳納之匯票或現金，寄到「115204臺北市南港區忠孝東路六段488號 衛生福利部中醫藥司收」，敬請配合。";
    string s_MSG_1 = string.Format(s_MSG_1A, ViewBag.SRV_NAME, Model.APP_ID);
    string s_MSG_2 = "貴公司已完成資料補件，將盡速辦理您的申辦案件，謝謝。";
}

@*<script>debugger;</script>*@

<div class="container">
    <div class="col-sm-12">
        <!-- bread  -->
        <div class="breadlink">
            <i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> ／ <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／ <a href="#">@Html.Raw(ViewBag.SRV_NAME)</a>
        </div>
        <div class="clearfix"></div>
        <div class="step_map">
            <ul>
                <li>填寫申報表件並上傳檔案</li>
                <li>預覽申辦表件</li>
                <li>繳費</li>
                <li class="active">完成申報</li>
            </ul>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <h1 class="form-title title-bg-y">完成申報</h1>
            </div>
        </div>
        <!--form-->
        <div class="form-set">
            <form class="form-horizontal">
                <div class="form-group">
                    @if (string.IsNullOrEmpty(Model.DOCYN))
                    {
                        <div class="col-sm-12" style="margin-top: 10px">
                            敬啟者：<br />@Html.Raw(s_MSG_1)
                            <br /><br />
                            <div style="float: right">衛生福利部 中醫藥司</div>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-12" style="margin-top: 10px">
                            敬啟者：<br />@Html.Raw(s_MSG_2)
                            <br /><br />
                            <div style="float: right">衛生福利部 中醫藥司</div>
                        </div>
                    }
                </div>
            </form>
        </div>
    </div>
    <div class="clearfix"></div>
</div>
