@using ES.Services;
@model  ES.Areas.Admin.Models.Apply_011005ViewModel

@{
    Layout = "~/Areas/BACKMIN/Views/Shared/_Layout.cshtml";
    ES.Models.ShareCodeListModel sc = new ES.Models.ShareCodeListModel();
    ViewBag.Title = "專科社會工作師證書補發（遺失）";
}

@using (Html.BeginForm("Index", "Apply_011005", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "main_form", @enctype = "multipart/form-data" }))
{
    @Html.Hidden("isOnlyNoticePaper")
    @Html.HiddenFor(m => m.Form.MERGEYN)
    @Html.HiddenFor(m => m.Form.APP_ID)
    @Html.HiddenFor(m => m.Form.NAME)
    @Html.HiddenFor(m => m.Form.EMAIL)
    @Html.HiddenFor(m => m.Form.APPLY_TYPE)
    @Html.HiddenFor(m => m.Form.PAY_A_FEE)
    @Html.HiddenFor(m => m.Form.APP_TIME)
    <div class="bread">
        <i class="fas fa-home"></i>首頁 / 案件分文及處理 / 案件處理 / @ViewBag.Title
    </div>
    <div class="col-sm-12 content">
        <!-- H1 title -->
        <h1 class="main-title">
            <i class="fas fa-edit"></i>案件審理作業
        </h1>

        <div class="table-responsive">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-typeA table">
                <thead>
                    <tr>
                        <th colspan="2">基本資料檔</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td width="20%">
                            <div align="center">申辦項目：</div>
                        </td>
                        <td width="80%">
                            <div align="left">@ViewBag.Title</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div align="center">申辦日期：</div>
                        </td>
                        <td>@Model.Form.APP_TIME</td>
                    </tr>
                    <tr>
                        <td>
                            <div align="center">預計完成日：</div>
                        </td>
                        <td>@Model.Form.APP_EXT_DATE</td>
                    </tr>
                    <tr>
                        <td>
                            <div align="center">本部案件承辦人姓名：</div>
                        </td>
                        <td>@Model.Form.PRO_NAM</td>
                    </tr>
                    <tr>
                        <td>
                            <div align="center">案件編號：</div>
                        </td>
                        <td>@Model.Form.APP_ID</td>
                    </tr>
                    <tr>
                        <td>
                            <div align="center">系統狀態：</div>
                        </td>
                        <td>@Model.Form.APP_STATUS</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!--1-->
        <div class='panel panel-info'>
            <div class='panel-heading'>
                <h2 class='panel-title' data-toggle='collapse' data-parent='#basicData' href='#basicData'>
                    <a>基本資料檔(點擊展開)</a>
                </h2>
            </div>
            <div id='basicData' class='panel-collapse collapse'>
                <div class='panel-body'>
                    <div class="form-blue">
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.SPECIALIST_TYPE)</label>
                                <div class="col-sm-10">
                                    @for (var i = 0; i < Model.SPECIALIST_TYPE_LIST.Count(); i++)
                                    {
                                        var item = Model.SPECIALIST_TYPE_LIST[i];
                                        <label class="radio-inline "><input type="radio" id="SPECIALIST_TYPE@("_" + i.ToString())" name="SPECIALIST_TYPE" value="@item.Value" @(Model.Form.SPECIALIST_TYPE == item.Value ? "checked" : "") disabled>@item.Text</label>
                                    }
                                    @Html.HiddenFor(m => m.Form.SPECIALIST_TYPE)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.NAME)</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Form.NAME, new { @id = "NAME", @class = "form-control", placeholder = "", size = 60, @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.IDN)</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Form.IDN, new { @id = "IDN", @class = "form-control", placeholder = "", size = 10, @readonly = true })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.SEX_CD)</label>
                                <div class="col-sm-10">
                                    @Html.RadioGroupFor(m => m.Form.SEX_CD, sc.SEX2_list, new { @id = "SEX_CD", @class = "form-inline", placeholder = "", size = 10 })
                                </div>
                                @Html.HiddenFor(m => m.Form.SEX_CD)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.BIRTHDAY_AD_TW)</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Form.BIRTHDAY_AD_TW, new { @id = "BIRTHDAY_AD_TW", @class = "form-control", placeholder = "", size = 10, @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.W_TEL)</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Form.W_TEL, new { @id = "W_TEL", @class = "form-control", placeholder = "", size = 10, @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.H_TEL)</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Form.H_TEL, new { @id = "H_TEL", @class = "form-control", placeholder = "", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.MOBILE)</label>
                                <div class="col-sm-4">
                                    @Html.TextBoxFor(m => m.Form.MOBILE, new { @id = "Mobile", @class = "form-control", placeholder = "", size = 10, @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.C_ZIPCODE)</label>
                                <div class="col-sm-10 form-inline">
                                    @Html.TextBoxFor(m => m.Form.C_ZIPCODE, new { @id = "C_ZIPCODE", @class = "form-normal", size = 10, placeholder = "郵遞區號", @readonly = true })
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Form.C_ZIPCODE_TEXT, new { @id = "C_ZIPCODE_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info" onclick="doACC_ADDRSelect()" disabled><i class="fa fa-search" aria-hidden="true" disabled></i></button>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.Form.C_ADDR, new { @class = "form-normal", placeholder = "請輸入地址 ", size = 59, maxlength = "64", @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.H_ZIPCODE)</label>
                                <div class="col-sm-10 form-inline">
                                    @Html.TextBoxFor(m => m.Form.H_ZIPCODE, new { @id = "H_ZIPCODE", @class = "form-normal", size = 10, placeholder = "郵遞區號", @readonly = true })
                                    <div class="input-group">
                                        @Html.TextBoxFor(m => m.Form.H_ZIPCODE_TEXT, new { @id = "H_ZIPCODE_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-info" onclick="doACC_ADDRSelect1()" disabled><i class="fa fa-search" aria-hidden="true" disabled></i></button>
                                        </span>
                                    </div>
                                    @Html.TextBoxFor(m => m.Form.H_ADDR, new { @class = "form-normal", placeholder = "請輸入地址 ", size = 59, maxlength = "64", @readonly = true })
                                    <br />
                                    <label><input type="checkbox" id="H_EQUAL" name="H_EQUAL" value="Y" @(Model.Form.H_EQUAL == "Y" ? "checked" : "") disabled>同通訊地址</label>
                                    @Html.HiddenFor(m => m.Form.H_EQUAL)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.EMAIL_0)</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Form.EMAIL_0, new { @class = "form-normal", @readonly = true })
                                    @@
                                    @Html.DropDownListFor(m => m.Form.EMAIL_1, sc.GetMailDomainList, new { @class = "form-normal", disabled = "disabled" })
                                    @Html.HiddenFor(m => m.Form.EMAIL_1)
                                    @Html.TextBoxFor(m => m.Form.EMAIL_2, new { @class = "form-normal", @readonly = true })
                                    @Html.HiddenFor(m => m.Form.EMAIL_3)
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.PRACTICE_PLACE)</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Form.PRACTICE_PLACE, new { @id = "PRACTICE_PLACE", @class = "form-control", placeholder = "", size = 20, @readonly = true })
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.TEST_YEAR)</label>
                                <div class="col-sm-10">
                                    @Html.TextBoxFor(m => m.Form.TEST_YEAR, new { @id = "TEST_YEAR", @class = "form-normal", placeholder = "", size = 4, @readonly = true })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--2-->
        @Html.Partial("File")

        <!--3-->
        <div class='panel panel-info'>
            <div class='panel-heading'>
                <h2 class='panel-title' data-toggle='collapse' data-parent='#PayData' href='#PayData'>
                    <a>繳費情形(點擊展開)</a>
                </h2>
            </div>
            <div id='PayData' class='panel-collapse collapse'>
                <div class='panel-body'>
                    <div class="form-horizontal">
                        <div class="form-blue">
                            @Html.PayBackForTurbo(@Model.Form.PAY_METHOD, @Model.Form.PAY_A_FEE.TONotNullString())
                            <div class="form-group">
                                <label class="main-label col-sm-2" for="">繳費日期</label>
                                <div class="col-sm-4">
                                    @if (Model.Form.PAY_STATUS == "Y")
                                    {
                                        @Html.DatePickerTWFor(m => m.Form.PAY_EXT_TIME, new { size = "10", @readonly = "readonly", @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.Form.PAY_EXT_TIME)
                                        @Html.CheckBoxFor(m => m.Form.IS_PAY_STATUS, new { onclick = "payCheck(this)", @disabled = "disabled" })
                                        @Html.HiddenFor(m => m.Form.PAY_STATUS)
                                    }
                                    else
                                    {
                                        @Html.DatePickerTWFor(m => m.Form.PAY_EXT_TIME, new { size = "10" })
                                        @Html.CheckBoxFor(m => m.Form.IS_PAY_STATUS, new { onclick = "payCheck(this)" })
                                    }
                                    <span>已繳費</span>
                                    @*<button type="button" class="btn btn-save" id="UPayType" onclick="doPayType()" @(Model.Form.PAY_STATUS == "Y"?"disabled='disabled'":"")>更新繳費狀態</button>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--4-->

        <div class='panel panel-info'>
            <div class='panel-heading'>
                <h2 class='panel-title' data-toggle='collapse' data-parent='#ReviewData' href='#ReviewData'>
                    <a>案件進度歷程(點擊展開)</a>
                </h2>
            </div>
            <div id='ReviewData' class='panel-collapse collapse'>
                <div class='panel-body'>
                    <div class="form-blue">
                        <div class="form-group">
                            <label class="main-label col-sm-2" for="">案件進度</label>
                            <div class="col-sm-4">
                                <input type="text" id="StatusDesc" class="form-control" readonly value="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="main-label col-sm-2" for="">案件狀態修改</label>
                            <div class="col-sm-4">
                                @Html.DropDownListFor(x => x.Form.FLOW_CD, sc.GetStatuListForUnitCD8, new { @class = "form-control", onchange = "changeAddDocCheck()" })
                            </div>
                        </div>
                        <div id="notice" style="display:none">
                            <div class="form-group" id="notice_ITEM">
                                <label class="main-label col-sm-2" for="">補件項目(附件)</label>
                                <div class="col-sm-10">
                                    <div class="col-sm-10">
                                        <div class="col-sm-3 appfile0 appfile" style="padding:0px;">
                                            <input type="checkbox" id="chkfile" onchange="checkfile()" value="0">身分證正面影本
                                        </div>
                                        <div class="col-sm-3 appfile1 appfile" style="padding:0px;">
                                            <input type="checkbox" id="chkfile" onchange="checkfile()" value="1">身分證反面影本
                                        </div>
                                        <div class="col-sm-4 appfile2 appfile" style="padding:0px;">
                                            <input type="checkbox" id="chkfile" onchange="checkfile()" value="2">照片(規格應同護照照片)
                                        </div>
                                        <div class="col-sm-4 appfile3 appfile" style="padding:0px;@((Model.Form.APPLY_TYPE!="3"? "display:none;" : "") )">
                                            <input type="checkbox" id="chkfile" onchange="checkfile()" value="3">戶籍謄本或戶口名簿影本
                                        </div>
                                        <div class="col-sm-2 appfile4 appfile" style="padding:0px;">
                                            <input type="checkbox" id="chkfile" onchange="checkfile()" name="chkNotice" value="4">其他
                                        </div>
                                        <div class="col-sm-10 appfile5 appfile" style="padding:0px;">
                                            <input type="checkbox" id="chkfile" onchange="checkfile()" value="5">郵局匯票500元１紙，戶名：衛生福利部
                                        </div>
                                        @Html.HiddenFor(m => m.Form.FileCheck)
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" id="noticeContent">
                                <label id="remark" class="main-label col-sm-2" for="">補件內容</label>
                                <div class="col-sm-4">
                                    @Html.TextAreaFor(m => m.Form.NOTE, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="main-label col-sm-2" for="">公文文號</label>
                            <div class="col-sm-4">
                                @Html.TextBoxFor(m => m.Form.MOHW_CASE_NO, new { @id = "MOHW_CASE_NO", @class = "form-control", placeholder = "" })
                            </div>
                            <button type="button" id="btnCaseNo" class="btn btn-blue" onclick="GetMOHW_CASE_NO('8','011005')">取得公文文號</button>
                        </div>
                        <div class="form-group">
                            <label class="main-label col-sm-2" for="">案件歷程記錄</label>
                            <div class="col-sm-10">
                                @Html.LogForTurbo(Model.Form.APP_ID, "APPLY_011005,APPLY_PAY")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-bar text-center">
            <button type="button" class="btn btn-save" onclick="doSave()">存檔</button>
            <button type="button" class="btn btn-gray" onclick="doback()">返回</button>
        </div>
    </div>
}

<script type="text/javascript">

    $(document).ready(function () {
        var YN = $("#Form_MERGEYN").val();
        $("input[name=MERGEYN][value='" + YN + "']").prop('checked', true);
        $("input[id^=Form_SEX_CD]").each(function () { $(this).prop('disabled', true); })
        $('#C_ZIPCODE').on('blur', doACC_ADDRNameGet); doACC_ADDRNameGet();
        $('#H_ZIPCODE').on('blur', doACC_ADDRNameGet1); doACC_ADDRNameGet1();

        $("#StatusDesc").val($('#Form_FLOW_CD option:selected').text());

        if ($('#Form_FLOW_CD option:selected').val() == "0" || $('#Form_FLOW_CD option:selected').val() == "2") {
            // 當通知補件只有寄送紙本項目時，後台可以自行修改案件狀態
            if ($('#isOnlyNoticePaper').val() != 'Y') {
                $("#Form_FLOW_CD").attr('disabled', 'disabled');
                $('#btnCaseNo').hide();
            }
            $('#MOHW_CASE_NO').attr("readonly", "readonly");
            $('#btnSave').hide();
        }

        $("#Form_FLOW_CD [value='1']").remove();
        $("#Form_FLOW_CD [value='3']").remove();

        $('input[id^="Chk"]').each(function (item) {
            $(this).css({ "display": "none" })
            $(this).prop("checked", false);
            $(this).attr("disabled", "disabled");
        });

    });

    //
    function changechk() {
        if ($('#Form_FLOW_CD option:selected').val() == '0') {

            $('input[id^="Chk"]').each(function (item) {
                $(this).css({ "display": "none" })
                $(this).prop("checked", false);
            });

            $('div[id^="DIV_"]').each(function (item) {
                $(this).hide();
            });

            $('input[id$="_Note"]').each(function (item) {
                $(this).val('');
            });
        }
        else {
            $('input[id^="Chk"]').each(function (item) {
                $(this).css({ "display": "" })
            });
        }
    }

    // 地址
    function loadDialogACC_ADDRCodeMapName(data) {
        ajaxLoadMore(data.url,
            data.arg,
            function (resp) {
                if (resp === undefined) data.box.val('');
                else {
                    if (resp.data != '') data.box.val(resp.data);
                    else {
                        data.box.val('');
                        data.add.val('');
                        blockAlert(data.msg);
                    }
                }
            });
    };
    function loadDialogACC_ADDRCodeMapName1(data) {
        ajaxLoadMore(data.url,
            data.arg,
            function (resp) {
                if (resp === undefined) data.box.val('');
                else {
                    if (resp.data != '') data.box.val(resp.data);
                    else {
                        data.box.val('');
                        data.add.val('');
                        blockAlert(data.msg);
                    }
                }
            });
    };
    function doACC_ADDRSelect() {
        var url = '/ZIP_CO';
        var title = '郵遞區號查詢';
        popupWindow({ 'width': 900 },
            url,
            title,
            null,
            function (retData, doc) {
                if (retData != null) {
                    $('#C_ZIPCODE').val(retData.Id);
                    $('#C_ZIPCODE_TEXT').val(retData.Name);
                }
            });
    }

    function doACC_ADDRNameGet() {
        var code = $('#C_ZIPCODE');
        var data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#C_ZIPCODE_TEXT'),
            'add': $('#C_ZIPCODE')
        };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            code.val(data.arg.CODE);
            loadDialogACC_ADDRCodeMapName(data);
        }
    }

    function doACC_ADDRSelect1() {
        var url = '/ZIP_CO';
        var title = '郵遞區號查詢';
        popupWindow({ 'width': 900 },
            url,
            title,
            null,
            function (retData, doc) {
                if (retData != null) {
                    $('#H_ZIPCODE').val(retData.Id);
                    $('#H_ZIPCODE_TEXT').val(retData.Name);
                }
            });
    }

    function doACC_ADDRNameGet1() {
        var code = $('#H_ZIPCODE');
        var data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#H_ZIPCODE_TEXT'),
            'add': $('#H_ZIPCODE_CODE')
        };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            code.val(data.arg.CODE);
            loadDialogACC_ADDRCodeMapName1(data);
        }
    }


    // 是否合併檔案
    function RadioChange() {
        $("#MERGEYN").val($('input[name="MERGEYN"]:checked').val());
    }

    function checkfile() {
        var ValArr = new Array();
        $('input[type="checkbox"][id="chkfile"]:checked').each(function (i) {
            ValArr[i] = this.value;
        });
        $('#Form_FileCheck').val(ValArr.join());
    }

     // 送出
    function doSave() {

        var ValStr = "";
        if ($('#Form_FLOW_CD option:selected').val() =="") {
            blockAlert("請選擇案件狀態 !", "提示訊息");
        }
        else {
            if (ValStr != "") { blockAlert(ValStr, "提示訊息"); }
            else {
                var data = getFormDataToObject($("form[id=main_form]"));
                $("#Form_IS_PAY_STATUS").prop("disabled", false);
                ajaxLoadMore('@Url.Action("Save")', data, function (retData) {
                    $("#Form_IS_PAY_STATUS").prop("disabled", true);
                    if (retData.status) {
                        blockMessage(retData.message, "提示訊息", function () {
                            location.href = '@Url.Action("Index", "Apply_011005")?appid=' + $('#Form_APP_ID').val();
                        });
                    }
                    else {
                        blockAlert(retData.message, "提示訊息");
                    }
                });
            }
        }
    }

    // 返回
    function doback() {
        location.href = '@Url.Action("Index", "Case")'
    }

    // 取得ZIP
    function GetZip(APP_ID) {
        var data = {
            "APP_ID": APP_ID
        }
        var url = '/GetZIP/GetZIP?' + $.param(data);
        location.href = url;
    }

    // 取公文號
    function GetMOHW_CASE_NO(UNIT_CD, APP_ID) {
        //var APP_ID = $('#Form_APP_ID').val();
        var data = {
            "UNIT_CD": UNIT_CD,
            "APP_ID": APP_ID
        }
        ajaxLoadMore('/AJAX/GetMOHW_CASE_NO', data, function (retData) {
            if (retData.status) {
                $('#MOHW_CASE_NO').val(retData.message)
            }
            else {
                blockAlert(retData.message, "提示訊息");
            }
        });
    }

    function changeAddDocCheck() {
        var flowOption = $('#Form_FLOW_CD option:selected').val();
        if (flowOption == '2') {
            // 通知補件
            $('#notice').show();
            $('#noticeContent').show();
            $('.appfile').show();
            // 戶口名簿
            $('.appfile3').hide();
            $('#remark').text('補件內容');
        } else if (flowOption == '4') {
            // 補件確認完成
            $('#notice').show();
            $('.appfile').show();
            // 備註
            $('#noticeContent').hide();
            // 其他
            $('.appfile4').hide();
            // 戶口名簿
            $('.appfile3').hide();
        }
        else if (flowOption == '5') {
            // 已收紙本，審核中
            $('#notice').show();
            $('.appfile').hide();
            $('#noticeContent').show();
            // 紙本項目
            $('.appfile5').show();
            $('#remark').text('備註');
        }
        else if (flowOption == '9') {
            $('#notice').show();
            $('#notice_ITEM').hide();
            $('#remark').text('備註');
            $('#noticeContent').show();
        }
        else {
            $('#notice').hide();
            $('#noticeContent').hide();
            $('.appfile').hide();
        }
        $("#StatusDesc").val($('#Form_FLOW_CD option:selected').text());
    }

    //已繳費勾選按鈕
    function payCheck(check) {
        if (check.checked) {
            $("#Form_PAY_ACT_TIME_TW").removeAttr("readonly");
            $("#Form_PAY_ACT_TIME_TW").parent().removeAttr("disabled");
        } else {
            $("#Form_PAY_ACT_TIME_TW").attr("readonly", "readonly");
            $("#Form_PAY_ACT_TIME_TW").parent().attr("disabled", "disabled");
            $('#Form_PAY_ACT_TIME_TW').val("");
            $('#Form_PAY_ACT_TIME').val("");
        }
    }
    // 更新繳費狀態 停用
    function doPayType() {
        var data = {
            "APP_ID": $("#Form_APP_ID").val(),
            "PAY_A_FEE": $("#Form_PAY_A_FEE").val(),
            "DATE":$("#Form_PAY_EXT_TIME").val(),
            "IS_PAY_STATUS":$("#Form_IS_PAY_STATUS").prop("checked")
        }
        ajaxLoadMore('@Url.Action("UpdatePayType")', data, function (retData) {
            if (retData.status) {
                blockAlert(retData.message, "提示訊息");
                if (data.IS_PAY_STATUS) {
                    $("#Form_PAY_ACT_TIME_TW").removeAttr("readonly");
                    $("#Form_PAY_ACT_TIME_TW").parent().removeAttr("disabled");
                } else {
                    $("#Form_PAY_ACT_TIME_TW").attr("readonly", "readonly");
                    $("#Form_PAY_ACT_TIME_TW").parent().attr("disabled", "disabled");
                    $('#Form_PAY_ACT_TIME_TW').val("");
                    $('#Form_PAY_ACT_TIME').val("");
                }
            }
            else {
                blockAlert(retData.message, "提示訊息");
            }
        });
    }
</script>
