@using EECOnline.Areas.A2.Models;
@using EECOnline.Models;
@model C102MFormModel
@{
    Layout = "~/Views/Shared/_Back_MainLayout.cshtml";
    SessionModel sm = SessionModel.Get();
    var funcName = sm.LastActionFunc != null ? sm.LastActionFunc.prgname : "病歷補上傳管理";
}

<style>
    .table > tbody > tr > td {
        vertical-align: middle;
    }
</style>

<div class="col-sm-12 content">
    <h1 class="main-title" style="margin-top: unset;"><i class="fa fa-edit"></i>@funcName</h1>
    <div class="form-blue">
        @using (Html.BeginForm("Index", "C102M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
        {
            var button = new Dictionary<string, string>();
            button.Add("search", "doSearch()");
            button.Add("reset_fuc", "doReset_fuc()");

            @Html.ControlForTurbo(Model);
            @Html.ButtonForTurbo(button)
        }
    </div>
    <div class="clearfix"></div>
    <h2 class="second-title">查詢結果</h2>
    <div class="table-responsive">
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-typeA table">
            <thead>
                <tr>
                    <th width="15%">訂單編號</th>
                    <th width="10%">申請人</th>
                    <th width="15%">申請醫院</th>
                    <th width="25%">申請類型</th>
                    <th width="15%">申請期間</th>
                    <th width="10%">系統通報時間</th>
                    <th width="10%">上傳單張檔案</th>
                </tr>
            </thead>
            <tbody id="rows">
                @Html.Partial("_GridRows")
            </tbody>
        </table>
        <h1 class="main-title"><i class="fa fa-list"></i>已完成上傳紀錄</h1>
        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-typeA table">
            <thead>
                <tr>
                    <th width="15%">訂單編號</th>
                    <th width="10%">申請人</th>
                    <th width="15%">申請醫院</th>
                    <th width="25%">申請類型</th>
                    <th width="15%">申請期間</th>
                    <th width="10%">系統通報時間</th>
                    <th width="10%">檔案上傳時間</th>
                </tr>
            </thead>
            <tbody id="rows">
                @Html.Partial("_GridRows_Log")
            </tbody>
        </table>
    </div>
</div>

<script type="text/javascript">

    // 查詢
    function doSearch() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Index")').submit();
    }

    // 重填
    function doReset_fuc() {
        $('#apply_no_sub').val('');
        $('#user_name').val('');
        $('#his_range1_AD').val('');
        $('#his_range1_AD_TW').val('');
        $('#his_range2_AD').val('');
        $('#his_range2_AD_TW').val('');
    }

    // 上傳檔案
    function doUpload(apply_no_sub, his_type) {
        var data = {
            "apply_no_sub": apply_no_sub,
            "his_type": his_type,
        }
        var url = '@Url.Action("Upload", "C102M")?' + $.param(data);
        var title = '病歷補上傳';
        popupWindow({ 'width': 100, 'height': 350 }, url, title, null, function (retData, doc) {
            if (retData != null) { if (retData.redirectUrl != "") { RedirectAfterPopup(retData.redirectUrl) } }
        });
    }

</script>
