@model ES.Areas.Admin.Models.AccountNewModel

<script type="text/javascript">
    function ajaxADSreach(val, rootUrl) {
        $.ajax({
            cache: false,
            type: "post",
            url: rootUrl + 'Account/NewADSreach',
            dataType: "json",
            data: {
                account: val
            },
            success: function (result) {
                if (result.result == "true") {
                    $('#Tel').val(result.Tel);
                    $('#Mail').val(result.Mail);
                    $('#Name').val(result.Name);
                } else {
                    alert(result.message);
                }
            },
            error: function () {
                alert("目前伺服器無法連結！");
            }
        });
    }
</script>

@{
    Layout = "~/Areas/BACKMIN/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "管理帳號（新增）";
    ViewBag.FunctionTitle = "管理帳號 - 新增";
}

@using (Html.BeginForm("New", "Account", FormMethod.Post, new { id = "ActionForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="bread">
        <i class="fas fa-home"></i>首頁 / 帳號管理 / @ViewBag.FunctionTitle
    </div>
    <div class="col-sm-12 content">
        <h1 class="main-title"><i class="fas fa-edit"></i>@ViewBag.FunctionTitle</h1>
        <h2 class="second-title">基本資料</h2>
        <div class="form-blue form-horizontal">
            <div class="form-group">
                <label class="main-label col-sm-2" for=""><span class="formRequired">*</span> @Html.LabelFor(m => m.Account)</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Account, new { @class = "form-normal" })
                    <input class="btn btn-reset" type="button" value="查詢" onclick="ajaxADSreach($('#Account').val(),'@Url.Action("Index", "Home", new {Area="" })')" />
                </div>
            </div>
            <div class="form-group">
                <label class="main-label col-sm-2" for="">@Html.LabelFor(m => m.Name)</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Name, new { @class = "form-normal" })
                </div>
            </div>
            <div class="form-group">
                <label class="main-label col-sm-2" for=""><span class="formRequired">*</span> @Html.LabelFor(m => m.UnitCode)</label>
                <div class="col-sm-10">
                    @Html.DropDownListFor(m => m.UnitCode, (List<SelectListItem>)@ViewBag.UnitList, new { @class = "form-normal" })
                </div>
            </div>
            <div class="form-group">
                <label class="main-label col-sm-2" for="">@Html.LabelFor(m => m.Tel)</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Tel, new { @class = "form-normal" })
                </div>
            </div>
            <div class="form-group">
                <label class="main-label col-sm-2" for="">@Html.LabelFor(m => m.Mail)</label>
                <div class="col-sm-10">
                    @Html.TextBoxFor(m => m.Mail, new { @class = "form-normal" })
                </div>
            </div>
        </div>
        <div class="btnbar">
            <input class="btn btn-save" type="submit" value="存檔" onclick="setLevel();" />
            <input class="btn btn-gray" type="button" value="返回" onclick="document.location.href='@Url.Action("Index", "Account")';" />
        </div>
    </div>
}
