@using ES.Services;
@using ES.Areas.Admin.Models;
@model Apply_041001ViewModel

@{
    ViewBag.SRV_NAME = "全民健康保險爭議案件(權益案件及特約管理案件)線上申辦";
}

<!--2-->
<div class='panel panel-info'>
    <div class='panel-heading'>
        <h2 class='panel-title' data-toggle='collapse' data-parent='#ApplyData' href='#ApplyData'>
            <a>上傳應附檔案(點擊展開)</a>
        </h2>
    </div>
    <div id='ApplyData' class='panel-collapse collapse'>
        <div class='panel-body'>
            <div class="form-blue">
                @{
                    if (Model.Form.FileList != null)
                    {
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.FILE_1)</label>
                                <div class="col-sm-10">
                                    @if (!string.IsNullOrEmpty(Model.Form.FILE_1))
                                    {
                                        @Html.FileDLForTurbo(m => m.Form.FILE_1_TEXT, Model.Form.FILE_1.Split('\\')[3].ToString() + "," + Model.Form.APP_ID + "," + "1" + ",")
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.FILE_2)</label>
                                <div class="col-sm-10">
                                    @if (!string.IsNullOrEmpty(Model.Form.FILE_2))
                                    {
                                        @Html.FileDLForTurbo(m => m.Form.FILE_2_TEXT, Model.Form.FILE_2.Split('\\')[3].ToString() + "," + Model.Form.APP_ID + "," + "2" + ",")
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.FILE_3)</label>
                                <div class="col-sm-10">
                                    @if (!string.IsNullOrEmpty(Model.Form.FILE_3))
                                    {
                                        @Html.FileDLForTurbo(m => m.Form.FILE_3_TEXT, Model.Form.FILE_3.Split('\\')[3].ToString() + "," + Model.Form.APP_ID + "," + "3" + ",")
                                    }
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <label class="main-label col-sm-2">@Html.DisplayNameFor(m => m.Form.FILE_4)</label>
                                <div class="col-sm-10">
                                    @if (!string.IsNullOrEmpty(Model.Form.FILE_4))
                                    {
                                        @Html.FileDLForTurbo(m => m.Form.FILE_4_TEXT, Model.Form.FILE_4.Split('\\')[3].ToString() + "," + Model.Form.APP_ID + "," + "4" + ",")
                                    }
                                </div>
                            </div>
                        </div>
                        if (Model.Form.FileList.SRVLIST != null && Model.Form.FileList.SRVLIST.Count > 0)
                        {
                            foreach (var item in Model.Form.FileList.SRVLIST)
                            {
                                <div class="form-group">
                                    <label class="main-label col-sm-2" for="">其他證明文件</label>
                                    <div class="col-sm-10">
                                        @Html.FileDLForTurbo(m => item.FILE_5_TEXT, item.FILENAME.Split('\\')[3].ToString() + "," + item.APP_ID + "," + item.FILE_NO + ",")
                                    </div>
                                </div>
                            }

                        }
                    }
                }
                <div class="btnbar">
                    <button type="button" onclick="GetZip('@Model.Form.FileList.APP_ID')" class="btn btn-blue">檔案打包下載</button>
                    <button type="button" class="btn btn-blue" onclick="document.location.href='@Url.Action("PreviewApplyForm")/?APP_ID=@Model.Form.APP_ID';">套印申請書</button>
                </div>
            </div>
        </div>
    </div>
</div>
