@{
    ViewBag.Title = "相關規範";
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - 衛生福利部線上申辦系統</title>
    @Styles.Render("~/Content/themes/redmond/css")
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    <script src="@Url.Action("Index", "Home")Scripts/public.js" type="text/javascript"></script>
    <script language="javascript" type="text/javascript">
    @if(!String.IsNullOrEmpty(ViewBag.tempMessage)) {
        @Html.Raw("$(function () {")
        @Html.Raw("jAlert(\"")@ViewBag.tempMessage@Html.Raw("\");") 
        @Html.Raw("});")
    }
    </script>
</head>
<body style="background-color: #FFFFFF; margin: 5px;">
@if (@ViewBag.List.Count > 0)
{
    @Html.Raw("<table class=\"gridTable2\">")
    @Html.Raw("<caption>")@ViewBag.List[0].Name@Html.Raw("</caption>")
    foreach (ES.Models.ServiceFileModel item in ViewBag.List)
    {
        @Html.Raw("<tr>")
        @Html.Raw("<td>")
        @Html.ActionLink(@item.Title, "ServiceNorm", "File", new { id = @item.ServiceId, fid = @item.FileId, file = ES.Utils.DataUtils.ToBase64String(@item.FileName) }, null)
        @Html.Raw("</td>")
        @Html.Raw("</tr>")
    }
    @Html.Raw("</table>")
}
</body>
</html>

