<!DOCTYPE html>
<html>
<head>
    <title>衛生福利部｜線上申辦服務系統</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=8,9,edge,chrome=1">
    <meta charset="UTF-8">
    <meta name="google-site-verification" content="xO1rl3yyV9pA8bYEEbsrQHV6bsvYiN-OmygfyITWAyQ">
    <meta name="description" content="衛生福利部｜線上申辦服務系統">
    <meta name="keywords" content="衛生福利部,線上,申辦,線上申辦,資訊,系統,">
    <meta name="author" content="東柏資訊">
    <meta name="copyright" content="本網頁著作權屬衛生福利部所有">
    <meta name="robots" content="all">
    <meta name="apple-touch-fullscreen" content="yes" />
    @*<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/vue.js")

    @Styles.Render("~/Content/fontawesome/css")
    @Styles.Render("~/Content/base2/css")

    <script language="javascript" type="text/javascript">

    </script>

</head>
<body>
    <a name="gotop"></a>

    @RenderBody()

</body>
</html>
