@using ES.Models;
@using ES.Models.ViewModels;
@model Apply_005004FormModel

@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ShareCodeListModel sc = new ShareCodeListModel();
}

@using (Html.BeginForm("Apply", "Apply_005004", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "main_form", enctype = "multipart/form-data" }))
{
    <div class="container">
        <div class="col-sm-12">
            <!-- bread  -->
            <div class="breadlink">
                <i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> ／ <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／ <a href="#">中藥GMP廠證明文件(中文)</a>
            </div>
            <div class="clearfix"></div>
            <div class="step_map">
                <ul>
                    <li id="apply" class="active">填寫申報表件並上傳檔案</li>
                    <li id="preview">預覽申辦表件</li>
                    <li id="pay">繳費</li>
                    <li id="save">完成申報</li>
                </ul>
            </div>
            <div class="tab-content" id="myTabContent">
                <div id="form" class="tab-pane fade active in">
                    @Html.Partial("Apply")
                </div>
                <div id="form1" class="tab-pane fade">
                    @Html.Partial("PreView005004")
                </div>
                <div id="form2" class="tab-pane fade">
                    @Html.Partial("Pay")
                </div>
                <div id="form3" class="tab-pane fade">
                    @Html.Partial("Save")
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function() {
        $('#TAX_ORG_CITY_CODE').on('blur', doTAX_ORG_CITYNameGet);
        doTAX_ORG_CITYNameGet();
        $("#RadioYN").val("N");
        PLChange();
    });

    //製造廠許可編號查詢按鈕
    function search() {
        var dataApply = getFormDataToObject($("form[id=main_form]"));
        ajaxLoadMore('@Url.Action("getGMPData")', dataApply, function(resp) {
            if (resp.status) {
                //介接成功，帶回頁面
                console.log(resp.message);
                $("#MF_CNT_NAME").val(resp.data.名稱);
                $("#TAX_ORG_CITY_CODE").val(resp.data.郵遞區號);
                doTAX_ORG_CITYNameGet();
                $("#TAX_ORG_CITY_DETAIL").val(resp.data.營業地址);
                $("#CHR_NAME").val(resp.data.負責人);
                var strDate = toTaiwanDate(resp.data.查廠日期, '/')
                $("#ISSUE_DATE_TW").val(strDate);
                $("#ISSUE_DATE_TW").blur();
                blockAlert("已取回資料", "提示訊息");
            } else {
                blockAlert(resp.message, "提示訊息");
            }
        });
    }

    //自動帶入製造廠資料勾選
    function atuoFinish(check) {
        if (check.checked) {
            var dataApply = getFormDataToObject($("form[id=main_form]"));
            ajaxLoadMore('@Url.Action("getMemberData")', dataApply, function(resp) {
                if (resp.status) {
                    //介接成功，帶回頁面
                    console.log(resp.data);
                    var memberData = JSON.parse(resp.data).UserInfo.Member;
                    $("#NAME").val(memberData.NAME);//公司名稱

                    var TEL = memberData.TEL;
                    if (!isNullOrEmpty(TEL)) {
                        $("#TEL_BEFORE").val(TEL.split("-")[0]);//電話
                        var telSplit = TEL.split("-")[1].split("#");
                        $("#TEL_AFTER").val(telSplit[0]);
                        if (telSplit.length > 1) {
                            $("#TEL_Extension").val(telSplit[1]);
                        }
                    }

                    var FAX = memberData.FAX;
                    if (!isNullOrEmpty(FAX)) {
                        $("#FAX_BEFORE").val(FAX.split("-")[0]);//傳真
                        var faxSplit = TEL.split("-")[1].split("#");
                        $("#FAX_AFTER").val(faxSplit[0]);
                        if (faxSplit.length > 1) {
                            $("#FAX_Extension").val(faxSplit[1]);
                        }
                    }

                    $("#CHR_NAME").val(memberData.CHR_NAME);//負責人姓名
                    $("#CNT_NAME").val(memberData.CNT_NAME);//聯絡人姓名

                    blockAlert("已取回資料", "提示訊息");
                } else {
                    blockAlert(resp.message, "提示訊息");
                }
            });
        }
    }

    //明細頁面返回
    function Detail_back() {

    }

    //申請頁面送出
    function send_apply() {
        var ErrMsg = "";
        //合併檔案檢查
        if ($('input[name="optradio"]:checked').val() == "Y") {
            var fileExist = 0;
            for (var i = 1; i <= 3; i++) {
                if ($("#File_" + i).val() != "") {
                    fileExist++;
                }
            }
            if (fileExist == 0) {
                ErrMsg += "請至少上傳一筆檔案!\r\n";
            }
        }
        //產品類別勾選檢查
        if (!$("#IS_TRA_CHECK").prop("checked") && !$("#IS_CON_CHECK").prop("checked")) {
            ErrMsg += "請至少勾選一項產品類別!\r\n";
        }

        //產品類別勾選項目檢查
        //if ($("#IS_CON_CHECK").prop("checked")) {
        //    if($("#conTable tbody tr").length == 0) {
        //        ErrMsg += "製劑項目未選取\r\n";
        //    }
        //}

        //if ($("#IS_TRA_CHECK").prop("checked")) {
        //    if ($("#traTable tbody tr").length == 0) {
        //        ErrMsg += "原料藥項目未選取\r\n";
        //    }
        //}

        if (ErrMsg == "") {
            var dataApply = getFormDataToObject($("form[id=main_form]"));
            ajaxLoadMore('@Url.Action("Apply")',
                dataApply,
                function (retData) {
                    if (retData.status) {
                        $("#traTable tbody tr").each(function () {
                            $("#TRA_ITEM").val($("#TRA_ITEM").val() + $(this).children('td').children('input').eq(0).val() + ",");
                            $("#TRA_ITEM_CD").val($("#TRA_ITEM_CD").val() + $(this).children('td').children('input').eq(1).val() + ",");
                        });
                        $("#conTable tbody tr").each(function () {
                            $("#CON_ITEM").val($("#CON_ITEM").val() + $(this).children('td').children('input').eq(0).val() + ",");
                            $("#CON_ITEM_CD").val($("#CON_ITEM_CD").val() + $(this).children('td').children('input').eq(1).val() + ",");
                        });
                        var data = getFormDataToObject($("form[id=main_form]"));
                        ajaxLoadMore('@Url.Action("PreView")',
                            data,
                            function (getHtml) {
                                $('#apply').removeClass('active');
                                $('#preview').attr('class', 'active');
                                $('#form').attr('class', 'tab-pane fade');
                                $('#form1').attr('class', 'tab-pane fade active in');
                                $("#form1").html(getHtml);
                            });
                    } else {
                        blockAlert(retData.message, "提示訊息");
                    }
                });
        } else {
            blockAlert(ErrMsg, "提示訊息");
        }
    }

    //預覽頁面返回
    function back_preview() {
        $('#traTablePre tbody tr').empty();
        $('#conTablePre tbody tr').empty();
        $("#TRA_ITEM").val("");
        $("#TRA_ITEM_CD").val("");
        $("#CON_ITEM").val("");
        $("#CON_ITEM_CD").val("");
        $('#preview').removeClass('active');
        $('#apply').attr('class', 'active');
        $('#form1').attr('class', 'tab-pane fade');
        $('#form').attr('class', 'tab-pane fade active in');
    }

    //預覽頁面送出
    function send_preview() {
        $('#preview').removeClass('active');
        $('#pay').attr('class', 'active');
        $('#form1').attr('class', 'tab-pane fade');
        $('#form2').attr('class', 'tab-pane fade active in');
    }

    //繳費頁面返回
    function back_pay() {
        $('#pay').removeClass('active');
        $('#apply').attr('class', 'active');
        $('#form2').attr('class', 'tab-pane fade');
        $('#form').attr('class', 'tab-pane fade active in');
    }

    //繳費頁面送出
    function send_pay() {
        if ($("input[name='PAY_METHOD']:checked").val() == undefined) {
            blockAlert("請選擇繳費方式!", "提示訊息");
        } else {
            blockUI();
            var form = $("form[id=main_form]");
            form.attr('action', '@Url.Action("Save")').submit();
        }
    }

    //套表列印
    function preview_pay() {
        var data = getFormDataToObject($("form[id=main_form]"));
        $.fileDownload('@Url.Action("PreviewApplyForm")', {
            httpMethod: 'post',
            data: data,
            prepareCallback: function (url) {

            }
        });
    }

    //原料藥勾選
    function traCheck(check) {
        //if (check.checked) {
        //    $("#traDiv").attr("hidden", false);
        //} else {
        //    $("#traDiv").attr("hidden", true);
        //}
    }

    //製劑勾選
    function conCheck(check) {
        //if (check.checked) {
        //    $("#conDiv").attr("hidden", false);
        //} else {
        //    $("#conDiv").attr("hidden", true);
        //}
    }

    //原料藥/製劑新增
    function TraConAdd(item) {
        if ($("#" + item.toUpperCase() + " :selected").val() == "") {
            blockAlert("請選擇項目!", "提示訊息");
        } else {
            var countCheck = 0;
            $("#" + item + "Table").attr("hidden", false);
            $("#" + item + "Table tbody tr").each(function () {
                if ($(this).children('td').children('input').eq(0).val() == $("#" + item.toUpperCase() + " :selected").text()) {
                    blockAlert("已存在此筆項目!", "提示訊息");
                    countCheck++;
                }
            });
            if (countCheck == 0) {
                var itemNum = $("#" + item + "Table tbody tr").length + 1;
                var td = "<tr id='row" + item + itemNum + "'>";
                td += "<td><input type='text' class='form-control' value=" + $("#" + item.toUpperCase() + " :selected").text() + " readonly />";
                td += "<input type='text' value=" + $("#" + item.toUpperCase() + " :selected").val() + " hidden></td>";
                td += "<td><button type='button' class='btn btn-clear' onclick='TraConDel(\"row" + item + itemNum + "\",\"" + item + "\")'>刪除</button></td></tr>";

                $("#" + item + "Table tbody").append(td);
            }
        }
    }

    //原料藥/製劑刪除
    function TraConDel(delRow, item) {
        $("#" + delRow + "").remove();
        if ($("#" + item + "Table tbody tr").length == 0) {
            $("#" + item + "Table").attr("hidden", true);
        }
    }

    // 地址
    function loadDialogTAX_ORG_CITYCodeMapName(data) {
        ajaxLoadMore(data.url,
            data.arg,
            function (resp) {
                if (resp === undefined) data.box.val('');
                else {
                    if (resp.data != '') data.box.val(resp.data);
                    else {
                        data.box.val('');
                        data.add.val('');
                        blockAlert(data.msg);
                    }
                }
            });
    };

    function doTAX_ORG_CITYSelect() {
        var url = '/ZIP_CO';
        var title = '郵遞區號查詢';
        popupWindow({ 'width': 900 },
            url,
            title,
            null,
            function (retData, doc) {
                if (retData != null) {
                    $('#TAX_ORG_CITY_CODE').val(retData.Id);
                    $('#TAX_ORG_CITY_TEXT').val(retData.Name);
                }
            });
    }

    function doTAX_ORG_CITYNameGet() {
        var code = $('#TAX_ORG_CITY_CODE');
        console.log('TAX_ORG_CITY_CODE');
        var data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#TAX_ORG_CITY_TEXT'),
            'add': $('#TAX_ORG_CITY_CODE')
        };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            code.val(data.arg.CODE);
            loadDialogTAX_ORG_CITYCodeMapName(data);
        }
    }

    function EmailChange() {
        $("#EMAIL_ADDR_TEXT").val($("#EMAIL_ADDR :selected").text());
    }

    //function PLChange() {
    //    $("#PL_CD_TEXT").val($("#PL_CD :selected").text());
    //}

    function RadioChange() {
        $("#RadioYN").val($('input[name="optradio"]:checked').val());
    }

    function fileChange(sender) {
        // 可接受的附檔名
        var validExts = new Array(".DOC", ".DOCX", ".ODT", ".ODF", ".ODS", ".XLS", ".XLSX", ".PDF", ".PPT", ".PPTX", ".JPG", ".JPEG", ".BMP", ".PNG", ".GIF", ".TIF", ".ZIP");

        var fileExt = sender.value;
        fileExt = fileExt.substring(fileExt.lastIndexOf('.'));
        if (validExts.indexOf(fileExt.toUpperCase()) < 0) {
            blockAlert("檔案類型錯誤，可接受的副檔名有：" + validExts.toString());
            sender.value = null;
            $("#Name_" + sender.name).val('');
            return false;
        } else {
            $("#Name_" + sender.name).val(sender.files.item(0).name);
            return true;
        }
    }
</script>
