@using System.Web.Razor.Parser
@using ES.Models
@model ES.Models.ViewModels.Apply_005004FormModel

@{
    Layout = null;
    ShareCodeListModel dropdown = new ShareCodeListModel();
}
<!--form-->
<h1 class="form-title  title-bg-y">申辦表件填寫</h1>
<div class="form-set">
    <!--申辦表件填寫-->
    <div class="form-group">
        <label class="step-label col-sm-2" for="">申辦項目</label>
        <div class="col-sm-4">
            <p class="form-control-static">中藥GMP廠證明文件(中文)</p>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">受文者</label>
        <div class="col-sm-10">
            <p class="form-control-static">衛生福利部</p>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">申請日期</label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.APP_TIME_TW, Model.APP_TIME_TW)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">文號</label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.MOHW_CASE_NO_SELF, Model.MOHW_CASE_NO_SELF)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請類別</label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.APPLY_TYPE, Model.APPLY_TYPE)
        </div>
    </div>

    <!--申請基本資料-->
    <h2 class="second-title">申請基本資料</h2>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">自動帶入製造廠資料</label>
        <div class="col-sm-10">
            @Html.CheckBoxFor(m => m.IS_AGREE_LICENCE, new { onclick = "atuoFinish(this)", disabled = "disabled" })
            <span>可勾選自動帶入工商憑證資料或輸入製造廠許可編號搜尋製造廠資料後自動帶入，亦可直接於下方欄位直接輸入。</span>
        </div>
    </div>
    <div class="form-group" id="checkNum">
        <label class="step-label col-sm-2" for="">
            製造廠許可編號
        </label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.LIC_NUM, Model.LIC_NUM)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>製造廠名稱</label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.MF_CNT_NAME, Model.MF_CNT_NAME)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>藥商許可執照字號</label>
        <div class="col-sm-4">
            @Html.HiddenFor(m => m.PL_CD, Model.PL_CD)
            @Html.BLATYPForTurbo(m => m.PL_CD_TEXT, Model.PL_CD)
            第
            @Html.BLATYPForTurbo(m => m.PL_Num, Model.PL_Num)
            號
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">國別</label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.COUNTRY, Model.COUNTRY)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 製造廠地址</label>
        <div class="col-sm-10 form-inline">
            @Html.BLATYPForTurbo(m => m.TAX_ORG_CITY_CODE, Model.TAX_ORG_CITY_CODE)

            @Html.BLATYPForTurbo(m => m.TAX_ORG_CITY_TEXT, Model.TAX_ORG_CITY_TEXT)

            @Html.BLATYPForTurbo(m => m.TAX_ORG_CITY_DETAIL, Model.TAX_ORG_CITY_DETAIL)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 負責人姓名</label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.CHR_NAME, Model.CHR_NAME)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 負責人身分證字號</label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.IDN, Model.IDN)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;"> *</span> 監製藥師 </label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.PP_NAME, Model.PP_NAME)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 工廠登記證字號 </label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.FRC_Num, Model.FRC_Num)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 產品類別 </label>
        <div class="col-sm-10">
            @Html.CheckBoxFor(m => m.IS_TRA_CHECK, new { onclick = "traCheck(this)", disabled = "disabled" })
            <span>原料藥</span> &nbsp;&nbsp;
            @Html.CheckBoxFor(m => m.IS_CON_CHECK, new { onclick = "conCheck(this)", disabled = "disabled" })
            <span>製劑</span>
        </div>
    </div>
    @*@if (Model.TRA_CHECK == "Y")
                {
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 原料藥 </label>
                <div class="col-sm-10">
                    <table border="1" width="100%" id="traTablePre">
                        <thead>
                            <tr>
                                <th>項目名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.TRA_ITEM.Split(',').Length; i++)
                            {
                                <tr>
                                    <td>
                                        <input type='text' class='form-control' readonly value="@Model.TRA_ITEM.Split(',')[i]" />
                                        <input type='hidden' class='form-control' value="@Model.TRA_ITEM_CD.Split(',')[i]" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        @if (Model.CON_CHECK == "Y")
                {
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 製劑 </label>
                <div class="col-sm-10">
                    <table border="1" width="100%" id="conTablePre">
                        <thead>
                            <tr>
                                <th>項目名稱</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.CON_ITEM.Split(',').Length; i++)
                            {
                                <tr>
                                    <td>
                                        <input type='text' class='form-control' readonly value="@Model.CON_ITEM.Split(',')[i]" />
                                        <input type='hidden' class='form-control' value="@Model.CON_ITEM_CD.Split(',')[i]" />
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }*@
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 最近一次GMP查廠日期(附證明文件影本) </label>
        <div class="col-sm-4">
            @Html.BLATYPForTurbo(m => m.ISSUE_DATE_TW, Model.ISSUE_DATE_TW)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;"> *</span> 公司名稱 </label>
        <div class="col-sm-10">
            @Html.BLATYPForTurbo(m => m.NAME, Model.NAME)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 聯絡人 </label>
        <div class="col-sm-4">
            @Html.BLATYPForTurbo(m => m.CNT_NAME, Model.CNT_NAME)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span> 電話 </label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.TEL</p>
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">傳真</label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.FAX</p>
        </div>
    </div>

    <div class="form-group">
        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>E-MAIL </label>
        <div class="col-sm-10">
            <p class="form-control-static">@Model.EMAIL</p>
        </div>
    </div>

    <!--佐證文件檔案上傳-->
    <h2 class="second-title">佐證文件檔案上傳</h2>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">佐證文件採合併檔案</label>
        <div class="col-sm-10">
            @if (Model.RadioYN == "Y")
            {
                <label class="radio-inline "><input type="radio" id='radioY' value="Y" disabled checked>是</label>
                <label class="radio-inline "><input type="radio" id='radioN' value="N" disabled>否</label>
            }
            else if (Model.RadioYN == "N")
            {
                <label class="radio-inline "><input type="radio" id='radioY' value="Y" disabled>是</label>
                <label class="radio-inline "><input type="radio" id='radioN' value="N" disabled checked>否</label>
            }
            @Html.HiddenFor(m => m.RadioYN)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">藥品優良製造證明書申請表用印之掃描檔</label>
        <div class="col-sm-10">
            @*<p class="form-control-static">@Model.Name_File_1</p>*@
            @Html.ImageHoverForTurbo(m => m.File_1, Model.Name_File_1)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">本部核發藥物製造或展延許可函影本</label>
        <div class="col-sm-10">
            @*<p class="form-control-static">@Model.Name_File_2</p>*@
            @Html.ImageHoverForTurbo(m => m.File_2, Model.Name_File_2)
        </div>
    </div>
    <div class="form-group">
        <label class="step-label col-sm-2" for="">製造業藥商許可執照影本</label>
        <div class="col-sm-10">
            @*<p class="form-control-static">@Model.Name_File_3</p>*@
            @Html.ImageHoverForTurbo(m => m.File_3, Model.Name_File_3)
        </div>
    </div>
    <div class="btn-bar text-center">
        <button type="button" class="btn btn-save" onclick="send_preview()">確認送出</button>
        <button type="button" class="btn btn-clear" onclick="back_preview()">返回修改</button>
        <button type="button" class="btn btn-clear" onclick="preview_pay()">預覽GMP申請書</button>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('[data-hover!=\"\"]').hover();
    });
    @*$(document).ready(function () {
        if ($('#RadioYN').val() == "Y") {
            $('#radioY').attr('checked', 'true');
        } else {
            $('#radioN').attr('checked', 'true');
        }
    });

    function send() {
        //var data = getFormDataToObject($("form[id=main_form]"));
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Pay")').submit();
    }

    function back() {
        //var data = getFormDataToObject($("form[id=main_form]"));
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("ApplyBack")').submit();
    }*@
</script>
