@using EECOnline.Areas.A4.Models;
@using EECOnline.Models;
@model C101MFormModel
@{
    Layout = "~/Views/Shared/_Back_MainLayout.cshtml";
    SessionModel sm = SessionModel.Get();
}

<div class="col-sm-12 content">
    <h1 class="main-title" style="margin-top: unset;"><i class="fa fa-edit"></i>@sm.LastActionFunc.prgname</h1>
    <div class="form-blue">
        @using (Html.BeginForm("Index", "C101M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
        {
            @Html.ControlForTurbo(Model)
            <div class="btnBar">
                <button type="button" style="margin-right: 0.5rem;" class="btn btn-apply" onclick="OnSearch()">送出查詢</button>
                <button type="button" style="margin-right: 0.5rem;" class="btn btn-cancel" onclick="OnClear()">清除重填</button>
                <button type="button" style="margin-right: 0.5rem;" class="btn btn-primary" onclick="OnExport()">匯出資料</button>
            </div>
        }
    </div>
    <div class="clearfix"></div>
    <h2 class="second-title">查詢結果</h2>
    <div class="table-pager"></div>
    <div class="table-responsive">
        @if (Model.Grid != null)
        {
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-typeA table">
                <thead>
                    <tr>
                        <th width="50%">病歷類別</th>
                        <th width="50%">申請數量</th>
                    </tr>
                </thead>
                <tbody id="rows">
                    @Html.Partial("_GridRows")
                </tbody>
            </table>
        }
    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
    });

    function OnSearch() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Index")').submit();
    }

    function OnClear() {
        $("#payed").val("");
    }

    function OnExport() {
        //blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Export")').submit();
    }

</script>