@using ES.Models.Entities
@using ES.Models
@using ES.Commons;

@model ES.Models.ViewModels.Apply_001005ViewModel

@{Layout = null; }

<div class="col-sm-12">

    <div class="row">
        <div class="col-sm-12">
            <h1 class="form-title title-bg-y">申辦表件預覽</h1>
            <div class="form-set">
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">申辦項目</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">醫事人員或公共衛生師證書補(換)發</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">申辦日期</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.APPLY_DATE</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">申請人</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.APPLY_NAME</p>
                    </div>
                    <label class="step-label col-sm-2" for="">身分證編號/居留證號</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.APPLY_PID</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">出生年月日</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Html.BLATYPForTurbo(x => x.BIRTHDAY_AC, HelperUtil.DateTimeToTwString(Convert.ToDateTime(Model.BIRTHDAY_AC)))</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">補(換)發</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.ACTION_TYPE_TEXT</p>
                    </div>
                    <label class="step-label col-sm-2" for="">核發單位</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.ISSUE_DEPT_TEXT</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">核發日期</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Html.BLATYPForTurbo(x => x.ISSUE_DATE_AC, HelperUtil.DateTimeToTwString(Convert.ToDateTime(Model.ISSUE_DATE_AC)))</p>
                    </div>
                    <label class="step-label col-sm-2" for="">證書類別</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.DIVISION_TEXT</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">證書字號</label>
                    <div class="col-sm-10 form-inline">
                        <p class="form-control-static">@Model.LIC_CD_TEXT 字第 @Model.LIC_NUM 號</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">補(換)發原因</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.ACTION_RES_TEXT @Model.OTHER_RES</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">通訊地址</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.FULL_ADDRESS</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">電話</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.TEL</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">行動電話</label>
                    <div class="col-sm-4">
                        <p class="form-control-static">@Model.MOBILE</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="step-label col-sm-2" for="">E-MAIL</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">@Model.MAIL</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h1 class="form-title title-bg-gray">上傳附件預覽</h1>
            <div class="col-sm-10">
                @Html.ImageHoverForTurbo(x => x.ATTACH_FILE, Model.ATTACH_FILE_NAME)
            </div>
        </div>
    </div>

    <div class="form-set">
        <div class="btn-bar text-center">
            <button type="button" class="btn btn-save" onclick="doSave()">確認送出</button>
            <button type="button" class="btn btn-clear" onclick="doApply()">返回修改</button>
        </div>

    </div>
</div>

<script type="text/javascript">

    $(document).ready(function () {
        $('[data-hover!=\"\"]').hover();
    });

    function doApply()
    {
        $('#PreView_Tab').removeClass('active');
        $('#PreViewForm').attr('class', 'tab-pane fade');

        $('#Apply_Tab').attr('class', 'active');
        $('#ApplyForm').attr('class', 'tab-pane fade active in');

    }

    function doSave() {

            var data = getFormDataToObject($("form[id=main_form]"));
            ajaxLoadMore('@Url.Action("ApplyAjax")', data, function (retData) {
                if (retData.status) {
                    ajaxLoadMore('@Url.Action("Pay")', data, function (getHtml) {
                        $('#PreView_Tab').removeClass('active');
                        $('#PreViewForm').attr('class', 'tab-pane fade');

                        $('#Pay_Tab').attr('class', 'active');
                        $('#PayForm').attr('class', 'tab-pane fade active in');

                        $("#PayForm").html(getHtml);

                    });
                }
                else {
                    blockAlert(retData.message, "提示訊息");
                }
            });


    }

 
</script>
