@using ES.Commons;
@using ES.Models;
@model ServiceLstViewModel
@{

}

@if (Model.Grid != null)
{
    for (int i = 0; i < Model.Grid.Count; i++)
    {
        var item = Model.Grid[i];
        <tr>
            @*<td width="10%" align="center"><button type="button" class="btn btn-info" onclick="doSelect('@item.NAMECODE','@item.TEXT')">選</button></td>*@
            @*<td width="10%"><div align="center">@(i + 1)</div></td>
                <td align="center" style="vertical-align:middle;text-align:center">@item.NAME</td>*@
            <td width="10%" align="center">@(i + 1)</td>
            @*<td style='text-align: left;'>@item.SRV_ID_NAME</td>*@
            <td style='text-align: left;'><a href="#" onclick="GetDetail('@item.SRV_ID','@Model.ACT_TYPE','@Model.LST_ID')">@item.SRV_ID_NAME</a></td>
        </tr>
    }
}