@using EECOnline.Areas.A7.Models;
@using EECOnline.Models;
@model C104MFormModel
@{
    Layout = "~/Views/Shared/_Back_MainLayout.cshtml";
    SessionModel sm = SessionModel.Get();
}

<div class="col-sm-12 content">
    <!-- H1 title -->
    <h1 class="main-title" style="margin-top: unset;"><i class="fa fa-edit"></i>@sm.LastActionFunc.prgname</h1>

    <div class="form-blue">
        @using (Html.BeginForm("Index", "C104M", FormMethod.Post, htmlAttributes: new { id = "main_form", @class = "form-horizontal" }))
        {
            var button = new Dictionary<string, string>();
            button.Add("search", "doSearch()");
            button.Add("reset_fuc", "doReset_fuc()");
            button.Add("new", "doNew()");

            @Html.ControlForTurbo(Model);
            @Html.ButtonForTurbo(button)
        }
    </div>
    <div class="clearfix"></div>
    <h2 class="second-title">查詢結果</h2>
    <div class="table-pager">
        @Html.Partial("_PagingLink", Model)
    </div>
    <div class="table-responsive">
        @if (Model.Grid != null)
        {
            <table width="100%" border="0" cellspacing="0" cellpadding="0" class="table-typeA table">
                <thead>
                    <tr>
                        <th>項次</th>
                        <th>問題類別</th>
                        <th>問題主旨</th>
                        <th>問題回覆</th>
                        <th>是否上架</th>
                        <th>編輯</th>
                    </tr>
                </thead>
                <tbody id="rows">
                    @Html.Partial("_GridRows")
                </tbody>
            </table>
        }
    </div>

</div>

<script type="text/javascript">

    /// 查詢
    function doSearch() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Index")').submit();
    }

     /// 新增
    function doNew() {
        var url = '@(Url.Action("New", "C104M", new { area = "A7" }))';
        var title = '建立常見問題';
        popupWindow({ 'width': -1 }, url, title, null, function (retData, doc) {
            if (retData != null) { if (retData.redirectUrl != "") { RedirectAfterPopup(retData.redirectUrl) } }
        })
    }

    /// 修改
    function doModify(efaq_id) {
        var data = {
            "efaq_id": efaq_id,
        }
        var url = '@Url.Action("Modify", "C104M")?' + $.param(data);
        var title = '編輯常見問題';
        popupWindow({ 'width': -1 }, url, title, null, function (retData, doc) {
            if (retData != null) { if (retData.redirectUrl != "") { RedirectAfterPopup(retData.redirectUrl) } }
        })
    }

    /// 重填
    function doReset_fuc() {
        $('#code_name').val('');
        $('#question').val('');
        $('#answer').val('');
        $('#status').val('');
    }
</script>