@using ES.Models;
@using ES.Models.ViewModels;
@model Apply_041001AppDocModel
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
    ShareCodeListModel sc = new ShareCodeListModel();
    ViewBag.Title = "全民健康保險爭議案件(權益案件及特約管理案件)線上申辦";
}
@using (Html.BeginForm("Apply", "Apply_041001", FormMethod.Post, htmlAttributes: new { @class = "form-horizontal", id = "main_form", @enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.APP_ID)
    <div class="container">
        <div class="col-sm-12">
            <div class="breadlink"><i class="fas fa-home"></i><a href="@(Url.Action("Index", "Login"))">首頁</a> ／ <a href="@(Url.Action("Index", "Service"))">申辦服務</a> ／ <a href="#">@ViewBag.Title</a></div>
            <div class="clearfix"></div>
            <div id="form" class="tab-pane fade active in">
                <div class="form-set">
                    <h1 class="form-title  title-bg-y">申辦表件填寫</h1>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.NAME)</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.NAME, new { @class = "form-normal", @readonly = true })
                        </div>
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.IDN)</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.IDN, new { @class = "form-normal", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.EMAIL)</label>
                        <div class="col-sm-10">
                            @Html.EmailForTurbo(m => m.EMAIL, IsReadOnly: true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.H_TEL)</label>
                        <div class="col-sm-10">
                            @Html.TelForTurbo(m => m.H_TEL, IsReadOnly: true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.MOBILE)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.MOBILE, new { @class = "form-normal", MaxLength = 10, @readonly = "readonly" })
                            <span>連絡電話、行動電話可擇一填寫</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.C_ZIPCODE)</label>
                        <div class="col-sm-10 form-inline">
                            @Html.TextBoxFor(m => m.C_ZIPCODE, new { @id = "C_ZIPCODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號", @readonly = "readonly" })
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.C_ZIPCODE_TEXT, new { @id = "C_ZIPCODE_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                                @*<span class="input-group-btn">
                        <button type="button" class="btn btn-info" onclick="doACC_ADDRSelect('1')"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>*@
                            </div>
                            @Html.TextBoxFor(m => m.C_ADDR, new { @class = "form-normal form-50", placeholder = "請輸入地址 ", size = 59, maxlength = "64", @readonly = "readonly" })
                        </div>
                    </div>
                    @*代理人*@
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_NAME)</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.R_NAME, new { @class = "form-normal", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_IDN)</label>
                        <div class="col-sm-4">
                            @Html.TextBoxFor(m => m.R_IDN, new { @class = "form-normal", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_TEL)</label>
                        <div class="col-sm-10">
                            @Html.TelForTurbo(m => m.R_TEL, IsReadOnly: true)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_MOBILE)</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.R_MOBILE, new { @class = "form-normal", MaxLength = 10, @readonly = "readonly" })
                            <span>連絡電話、行動電話可擇一填寫</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.R_ZIPCODE)</label>
                        <div class="col-sm-10 form-inline">
                            @Html.TextBoxFor(m => m.R_ZIPCODE, new { @id = "R_ZIPCODE", @class = "form-10 form-normal", size = 10, placeholder = "郵遞區號", @readonly = "readonly" })
                            <div class="input-group">
                                @Html.TextBoxFor(m => m.R_ZIPCODE_TEXT, new { @id = "R_ZIPCODE_TEXT", @class = "form-normal", size = 20, placeholder = "郵遞區號名稱", @readonly = "readonly" })
                                @*<span class="input-group-btn">
                        <button type="button" class="btn btn-info" onclick="doACC_ADDRSelect('3')"><i class="fa fa-search" aria-hidden="true"></i></button>
                    </span>*@
                            </div>
                            @Html.TextBoxFor(m => m.R_ADDR, new { @class = "form-normal form-50", placeholder = "請輸入地址 ", size = 59, maxlength = "64", @readonly = "readonly" })
                        </div>
                    </div>
                    <!--申請說明-->
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">@Html.DisplayNameFor(m => m.KIND1)</label>
                        <div class="col-sm-10 form-inline">
                            <label class="radio-inline">
                                @Html.CheckBoxFor(m => m.KIND1_CHK, new { @readonly = "readonly" }) &nbsp;&nbsp;@Html.DatePickerTWFor(m => m.LIC_DATE_STR, new { @class = "form-normal", @readonly = "readonly" })&nbsp;&nbsp;
                                @Html.TextBoxFor(m => m.LIC_CD, new { @class = "form-normal", @readonly = "readonly" }) &nbsp;&nbsp; 字
                                @Html.TextBoxFor(m => m.LIC_NUM, new { @class = "form-normal", @readonly = "readonly" }) &nbsp;&nbsp; 號
                            </label>
                            <br />
                            <label class="radio-inline"> @Html.CheckBoxFor(m => m.KIND2_CHK, new { @readonly = "readonly" }) &nbsp;&nbsp;繳款單</label>
                            <br />
                            <label class="radio-inline">  @Html.CheckBoxFor(m => m.KIND3_CHK, new { @readonly = "readonly" }) &nbsp;&nbsp;其他</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">收受或知悉日期</label>
                        <div class="col-sm-4 form-inline">
                            @Html.DatePickerTWFor(m => m.KNOW_DATE_STR, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2"><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.KNOW_MEMO)</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.KNOW_MEMO, new { @class = "form-control", @maxlength = "300", @readonly = "readonly" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2"><span style="color:red;">*</span>@Html.DisplayNameFor(m => m.KNOW_FACT)</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.KNOW_FACT, new { @class = "form-control", @maxlength = "300", @readonly = "readonly" })
                        </div>
                    </div>

                    <h2 class="second-title">佐證文件檔案上傳</h2>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">代理人委託書</label>
                        <div class="col-sm-10">
                            @*@Html.ImageHoverForTurbo(x => x.FILE_1, c.FILE_1_TEXT)*@
                            @Html.FileDLForTurbo(m => m.FILE_1, Model.FILE_1_TEXT)

                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">衛生福利部中央健康保險署核定文件1</label>
                        <div class="col-sm-10">
                            @Html.FileDLForTurbo(x => x.FILE_2, Model.FILE_2_TEXT)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">衛生福利部中央健康保險署核定文件2</label>
                        <div class="col-sm-10">
                            @Html.FileDLForTurbo(x => x.FILE_3, Model.FILE_3_TEXT)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="step-label col-sm-2" for="">衛生福利部中央健康保險署核定文件3</label>
                        <div class="col-sm-10">
                            @Html.FileDLForTurbo(x => x.FILE_4, Model.FILE_4_TEXT)
                        </div>
                    </div>
                    @{
                        if (Model.SRVLIST != null)
                        {
                            int index = 0;
                            foreach (var item in Model.SRVLIST)
                            {
                                <div id="RowTable">
                                    <div id="row1" data-group="Row">
                                        <div class="form-group">
                                            <label class="step-label col-sm-2" for="">其他證明文件</label>
                                            <div class="col-sm-1">
                                                <p class="form-control-static">@(index + 1)</p>
                                            </div>
                                            <div class="col-sm-9">
                                                @Html.ImageHoverForTurbo(x => x.SRVLIST[index].FILE_5, item.FILE_5_TEXT, index)
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                index++;
                            }
                        }
                    }
                    <div class="btn-bar text-center">
                        <button type="button" class="btn btn-clear" onclick="doBack()">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        // 訴願人地址
        $('#C_ZIPCODE').on('blur', doACC_ADDRNameGet1); doACC_ADDRNameGet1();
        // 代理人地址
        $('#R_ZIPCODE').on('blue', doACC_ADDRNameGet3); doACC_ADDRNameGet3();
    });

    // 訴願人地址
    function loadDialogACC_ADDRCodeMapName(data) {
        ajaxLoadMore(data.url,
            data.arg,
            function (resp) {
                if (resp === undefined) data.box.val('');
                else {
                    console.log(data);
                    console.log(resp);
                    if (resp.data != '') data.box.val(resp.data);
                    else {
                        data.box.val('');
                        data.add.val('');
                        blockAlert(data.msg);
                    }
                }
            });
    };

    function doACC_ADDRSelect(casetype) {
        var url = '/ZIP_CO';
        var title = '郵遞區號查詢';
        popupWindow({ 'width': 900 },
            url,
            title,
            null,
            function (retData, doc) {
                if (retData != null) {
                    if (casetype == "1") {
                        //訴願人
                        $('#C_ZIPCODE').val(retData.Id);
                        $('#C_ZIPCODE_TEXT').val(retData.Name);
                    } else if (casetype == "3") {
                        //代理人
                        $('#R_ZIPCODE').val(retData.Id);
                        $('#R_ZIPCODE_TEXT').val(retData.Name);
                    }
                }
            });
    }

    function doACC_ADDRNameGet1() {
        var code = $('#C_ZIPCODE');
        var code_text = $('#C_ZIPCODE_TEXT');
        var data = null;
        data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#C_ZIPCODE_TEXT'),
            'add': $('#C_ZIPCODE')
        };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            loadDialogACC_ADDRCodeMapName(data);
        }
    }

    function doACC_ADDRNameGet3() {
        var code = $('#R_ZIPCODE');
        var code_text = $('#R_ZIPCODE_TEXT');
        var data = null;
        data = {
            'url': '/Ajax/GetCityTown',
            'msg': '查無該郵遞區號!!',
            'arg': { 'CODE': code.val().toUpperCase() },
            'box': $('#R_ZIPCODE_TEXT'),
            'add': $('#R_ZIPCODE')
        };
        if ($.trim(data.arg.CODE) == '') data.box.val('');
        else {
            loadDialogACC_ADDRCodeMapName(data);
        }
    }

    // 返回
    function doBack() {
        location.href = '@Url.Action("Index","History")';
    }
</script>
