@{
                /**/

                Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>衛生福利部線上申辦維護系統</title>
</head>
<body bgcolor="#FFFFFF" leftmargin="00" topmargin="00">
    <div>
        <table width="100%" border="0" cellpadding="3" cellspacing="5">
            <tr>
                <td align="center" bgcolor="#FFFFCC">
                    <strong>
                        @{
                            string temp = "";
                            if (!string.IsNullOrEmpty(ViewBag.Sdate) && !string.IsNullOrEmpty(ViewBag.Fdate))
                            {
                                temp = ViewBag.Sdate + " - " + ViewBag.Fdate + " 繳費明細表";
                            }
                            else if (!string.IsNullOrEmpty(ViewBag.Sdate) && string.IsNullOrEmpty(ViewBag.Fdate))
                            {
                                temp = ViewBag.Sdate + "之後 繳費明細表";
                            }
                            else if (string.IsNullOrEmpty(ViewBag.Sdate) && !string.IsNullOrEmpty(ViewBag.Fdate))
                            {
                                temp = ViewBag.Fdate + "之前 繳費明細表";
                            }
                            else
                            {
                                temp = "繳費明細表";
                            }
                            @Html.Raw(temp)
                        }
                    </strong>
                </td>
            </tr>
            <tr>
                <td align="center" bgcolor="#FFFFFF">
                    <table width="90%" border="1" cellpadding="3" cellspacing="0" bordercolor="#CCCCCC">
                        <tr>
                            <td nowrap>
                                承辦單位
                            </td>
                            <td nowrap>
                                案件名稱
                            </td>
                            <td nowrap>
                                申請人
                            </td>
                            <td nowrap>
                                申請日期
                            </td>
                            <td nowrap>
                                繳費方式
                            </td>
                            <td nowrap>
                                繳費紀錄
                            </td>
                            <td nowrap>
                                應繳金額<!--手續費-->
                            </td>
                            <td nowrap>
                                已繳金額
                            </td>
                        </tr>
                        @{
                            int total_expect = 0, total_actual = 0, total_fee = 0;
                            foreach (ES.Areas.Admin.Models.Map map in ViewBag.List)
                            {
                                string PAY_METHOD = map.GetString("PAY_METHOD");
                                int pay_actual = map.GetInt("PAY_MONEY") + map.GetInt("PAY_PROFEE");
                                total_expect += map.GetInt("PAY_MONEY");
                                total_actual += pay_actual;
                                total_fee += map.GetInt("PAY_PROFEE");
                                <tr>
                                    <td>
                                        @map.GetString("UNIT_NAME")
                                    </td>
                                    <td align="left">
                                        @map.GetString("SRV_NAME")
                                        @{
                                            if (PAY_METHOD.Equals("C"))
                                            {
                                                @Html.Raw("<br>會計科目:" + map.GetString("ACCOUNT_NAME") + "<br>科目代碼:" + map.GetString("ACCOUNT_CD"))
                                            }
                                        }
                                    </td>
                                    <td align="left">
                                        @if (String.IsNullOrEmpty(map.GetString("NAME")))
                                        {
                                            @map.GetString("ENAME")
                                        }
                                        else
                                        {
                                            @map.GetString("NAME")
                                        }
                                    </td>
                                    <td>
                                        @(map.GetDateTime("APP_TIME").HasValue ? map.GetDateTime("APP_TIME").Value.ToString("yyyy/MM/dd") : "")
                                    </td>
                                    <td align="left">
                                        @{
                                            switch (PAY_METHOD)
                                            {
                                                case "A":
                                                    @Html.Raw("ATM")
                                                    break;
                                                case "C":
                                                    @Html.Raw("共通平台繳費:<br>銷帳編號:" + map.GetString("PAY_ID") + "<br>電子案號:" + map.GetString("SESSION_KEY") + "<br>授權碼:" + map.GetString("AUTH_NO"))
                                                    if (map.GetDateTime("SETTLE_DATE").HasValue)
                                                    {
                                                        @Html.Raw("<br />已入帳")
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<br />未入帳")
                                                    }
                                                    break;
                                                case "D":
                                                    @Html.Raw("匯票(支票)(" + map.GetString("PAY_DESC") + ")")
                                                    break;
                                                case "T":
                                                    @Html.Raw("劃撥")
                                                    break;
                                                case "B":
                                                    @Html.Raw("臨櫃")
                                                    break;
                                                case "S":
                                                    @Html.Raw("超商繳費:<br>銷帳編號:" + map.GetString("PAY_ID") + "<br/>")
                                                    @Html.Raw("客戶編號:" + map.GetString("SESSION_KEY") + "<br/>")
                                                    @Html.Raw("繳費日期:" + (map.GetDateTime("PAY_ACT_TIME").HasValue ? map.GetDateTime("PAY_ACT_TIME").Value.ToString("yyyy/MM/dd") : "") + "<br/>")
                                                    @Html.Raw("預計入帳日期:" + (map.GetDateTime("AUTH_DATE").HasValue ? map.GetDateTime("AUTH_DATE").Value.ToString("yyyy/MM/dd") : "") + "<br/>")
                                                    @Html.Raw("代收機構:" + map.GetString("PAY_DESC"))
                                                    if (map.GetDateTime("SETTLE_DATE").HasValue)
                                                    {
                                                        @Html.Raw("<br />已入帳")
                                                    }
                                                    else
                                                    {
                                                        @Html.Raw("<br />未入帳")
                                                    }
                                                    break;
                                            }
                                        }
                                    </td>
                                    <td align="center">
                                        @{
                                            if (map.GetDateTime("PAY_INC_TIME").HasValue)
                                            {
                                                @Html.Raw(map.GetDateTime("PAY_INC_TIME").Value.ToString("yyyy/MM/dd") + "<br />" + map.GetDateTime("PAY_INC_TIME").Value.ToString("HH:mm:ss"))
                                            }
                                        }
                                    </td>
                                    <td>
                                        @map.GetInt("PAY_MONEY")

                                    </td>
                                    <td>
                                        @Html.Raw(pay_actual)
                                    </td>
                                </tr>
                            }
                            <tr>
                                <td>
                                    總計
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    &nbsp;
                                </td>
                                <td>
                                    @Html.Raw(total_expect)
                            </td>
                            <td>
                                @Html.Raw(total_actual)
                        </td>
                    </tr>
                        }
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
