@using ES.Models;
@using ES.Services;
@using ES.Models.ViewModels;
@model Apply_001039FormModel
@{
    Layout = null;
    ShareCodeListModel sc = new ShareCodeListModel();
}


<div class="row">
    <div class="col-sm-12">
        <h1 class="form-title title-bg-y">申辦表件預覽</h1>
        <div class="form-set">
            <div class="form-group">
                <label class="step-label col-sm-2" for="">申辦項目</label>
                <div class="col-sm-4">
                    <p class="form-control-static">醫師赴國外訓練英文保證函</p>
                </div>
                <label class="step-label col-sm-2" for="">申辦日期</label>
                <div class="col-sm-4">
                    <p class="form-control-static"> @Model.APPLY_DATE_STR</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">申請人中文姓名(與護照相同)</label>
                <div class="col-sm-4">
                    <p class="form-control-static">@Model.CNAME</p>
                </div>
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>身分證編號/居留證號</label>
                <div class="col-sm-4">
                    <p class="form-control-static">@Model.PID</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">申請人英文姓名(與護照相同)</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.ENAME</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請人性別</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @if (Model.GENDER == "M")
                        {
                            @Html.Raw("男")
                        }
                        else if (Model.GENDER == "F")
                        {
                            @Html.Raw("女")
                        }
                        else
                        {
                            @Html.Raw("其他")
                        }
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>申請人出生年月日</label>
                <div class="col-sm-10 form-inline">
                    <p class="form-control-static"> @Model.BIRTHDAY_STR</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>E.C.F.M.G.及格證書字號</label>
                <div class="col-sm-10 form-inline">
                    <p class="form-control-static">@Model.ECFMG</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>訓練醫院及科別(請用英文填寫)</label>
                <div class="col-sm-10 form-inline">
                    <p class="form-control-static">@Model.HOSPITAL_DIVISION</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>前往國家(中、英文)</label>
                <div class="col-sm-10 form-inline">
                    <p class="form-control-static">@Model.COUNTRY</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>事由</label>
                <div class="col-sm-10 form-inline">
                    <p class="form-control-static">@Model.CAUSE</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>本求證表郵寄地址(含國別及收件者)</label>
                <div class="col-sm-10 form-inline">
                    <p class="form-control-static"> @Model.MAIL_ADDRESS</p>
                </div>
            </div>

            <h2 class="second-title">申辦資料</h2>

            <div class='form-group'>
                <label class='step-label col-sm-2' for=''><span style="color:red;">*</span>聯絡人姓名</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.CONTACT_NAME</p>
                </div>
            </div>
            <div class='form-group'>
                <label class='step-label col-sm-2' for=''>聯絡人電話</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.CONTACT_TEL </p>
                </div>
            </div>
            <div class='form-group'>
                <label class='step-label col-sm-2' for=''><span style="color:red;">*</span>聯絡人行動電話</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.CONTACT_MOBILE</p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for=""><span style="color:red;">*</span>聯絡人E-MAIL</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Model.E_MAIL
                    </p>
                </div>
            </div>
            <div class='form-group'>
                <label class='step-label col-sm-2' for=''>聯絡人傳真</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.CONTACT_FAX</p>
                </div>
            </div>

            <h2 class="second-title">佐證文件檔案上傳</h2>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">
                    佐證文件採合併檔案
                </label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @if (Model.IS_MERGE_FILE == "Y")
                        {@Html.Raw("是")}
                    else
                    { @Html.Raw("否")}
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">我國評鑑合格醫院保證函（向本部保證申請人如期學成返國時，將聘僱為該科相當職位之醫師）</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE0, Model.FILE0_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">申請人自行提出書面保證函（保證學業完成如期返國）</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE1, Model.FILE1_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">醫師證書影本</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE2, Model.FILE2_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">國外契約或接受文件（正本或影本）</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE3, Model.FILE3_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">E.C.F.M.G.及格證書影本</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE4, Model.FILE4_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">國民身分證正面影本</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE5, Model.FILE5_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">國民身分證反面影本</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE6, Model.FILE6_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">護照影本或有關部會許可出國文件影本</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE7, Model.FILE7_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">個人執業發展規劃書</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE8, Model.FILE8_TEXT)
                </div>
            </div>
            <div class="form-group">
                <label class="step-label col-sm-2" for="">醫師赴國外訓練英文保證函申請表</label>
                <div class="col-sm-10">
                    @Html.ImageHoverForTurbo(m => m.FILE9, Model.FILE9_TEXT)
                </div>
            </div>
        </div>
    </div>
</div>


<div class="form-set">
    <div class="btn-bar text-center">
        <button type="button" class="btn btn-save" onclick="doSave()">確認送出</button>
        <button type="button" class="btn btn-clear" onclick="doback()">返回修改</button>
    </div>

</div>

<script>

    $(document).ready(function () {
        $('[data-hover!=\"\"]').hover();
    });

    // 送出
    function doSave() {
        blockUI();
        var form = $("form[id=main_form]");
        form.attr('action', '@Url.Action("Save")').submit();
    }

    // 返回
    function doback() {
        $('#form_tab').attr('class', 'active');
        $('#form').attr('class', 'tab-pane fade active in');
        $('#form_tab1').removeClass('active');
        $('#form1').attr('class', 'tab-pane fade');
    }
</script>
