@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewBag.Title = "完成捐款手續";
    ViewBag.Script = @"
        function doXML(id) {
            window.open('" + Url.Action("Index", "Home") + @"File/019001_' + id + '.xml', '', 'width=800,height=600,menubar=yes,scrollbars=yes,resizable=yes');
        }

        $(function() {
            if(window.opener.location.pathname == getRootPath() + ""/Form/Apply/" + ViewBag.Dict["SRV_ID"] + @""") {
                window.opener.location = getRootPath() + ""/Service""
            }
        });
    ";
}

<br />
    <div>．@ViewBag.Dict["NAME"]</div>
    <hr />
    <div style="float: right; color: #AAAAAA;">
        <span>填表 → 預覽填表資料 → </span>
        @if (!@ViewBag.Dict["PAY_POINT"].Equals("A"))
        {
            <span>選擇捐款方式 → </span> 
        }
        <span style="color: #B22222;">完成捐款手續</span>
    </div>
    <br /><br />
    @ViewBag.Data["NAME"]，您好！<br />
    您已完成線上捐款手續，謝謝！
    <table class="formTable1">
        <caption>完成捐款手續</caption>
        <tr>
            <th style="width: 120px;">申請編號</th>
            <td>@ViewBag.Data["APP_ID"]</td>
        </tr>
        <tr>
            <th>捐款日期</th>
            <td>@ViewBag.Data["APPLY_DATE"]</td>
        </tr>
        <tr>
            <th>捐款金額</th>
            <td>@ViewBag.Data["APP_FEE"] 元</td>
        </tr>
        
        @if (((Dictionary<string, string>)ViewBag.Data).ContainsKey("PAY_TRANS_RET"))
        {
            <tr>
                <th>交易結果代碼</th>
                <td>@ViewBag.Data["PAY_TRANS_RET"]</td>
            </tr>
            <tr>
                <th>交易結果說明</th>
                <td>@ViewBag.Data["PAY_TRANS_MSG"]</td>
            </tr>
        }
        
        @if (!ViewBag.Data["COMP_DESC"].Equals(""))
        {
            <tr>
                <th>注意事項</th>
                <td>@Html.Raw(ViewBag.Data["COMP_DESC"].Replace(" ", "&nbsp;").Replace("\n", "<br />")))</td>
            </tr>
        }
    </table>
    <br />
    <div class="formButtomBar">
        @Html.Hidden("SRV_ID", (string)@ViewBag.Dict["SRV_ID"])
        <input type="button" value="關閉" onclick="jConfirm('確定要關閉嗎？', function() {window.close();});" />
        @*
        @if (!String.IsNullOrEmpty(ViewBag.Dict["RPT_NAME"]))
        {
            <input type="button" value="列印申請書"  onclick="document.location.href='@Url.Action("Apply" + @ViewBag.Data["SRV_ID"], "FormRpt")/@ViewBag.Data["APP_ID"]';" />
        }
        *@
        @if (ViewBag.Data["PAY_METHOD"].Equals("S"))
        {
            <input type="button" value="列印繳費單" onclick="document.location.href='@Url.Action("PayPDF")/@ViewBag.Data["APP_ID"]';" />
        }
    </div>
